* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.wrap {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  /* height: 913px; */
  display: flex;
  flex-direction: column;
  background: url("../img/编组 4@2x.png") no-repeat;
  background-size: 100% 100%;
}
.header {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 99;
  /* background-image: linear-gradient(to right , #9c3ec9, #4a189f); */
}
.default {
  width: 100%;
  background: rgba(44, 9, 108, 1);
  overflow: hidden;
}
.default header {
  height: 913px;
}

.header .head {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navList {
  display: flex;
}

.logo img {
  margin-left: 150px;
  width: 173px;
  height: 55px;
}
.navList {
  flex: 1;
  height: 100%;
  align-items: center;
  margin-left: 70px;
  margin-right: 200px;
}
.navList li {
  font-size: 20px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 77px;
  cursor: pointer;
  white-space: nowrap;
}
.navList li:last-child {
  position: relative;
}
.navList li:last-child .select {
  width: 145px;
  height: 116px;
  position: relative;
  position: absolute;
  top: 30px;
  left: -20px;
  /* display: none; */
}
.navList li:last-child .select .bg {
  position: absolute;
  top: 0;
}
.navList li:last-child .select > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
}
.navList li:last-child .select > div span {
  width: 100%;
  height: 50px;
  font-size: 23px;
  font-family: "黑体";
  font-weight: 500;
  color: rgba(44, 9, 108, 1);
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
}
.navList li:last-child .select .bg img {
  width: 145px;
  height: 116px;
}
.navList li.active {
  color: rgba(62, 209, 246, 1);
}

.descr {
  display: flex;
}
.descr span {
  color: #fff;
  margin-right: 38px;
  cursor: pointer;
}
.descr span:nth-child(1) {
  width: 100px;
  height: 31px;
  border: 1px solid #fff;
  border-radius: 3px;
  line-height: 31px;
  text-align: center;
  font-size: 14px;
}
.descr span:nth-child(2) {
  font-size: 22px;
}
.default .headContent {
  width: 1200px;
  flex: 1;
  position: relative;
  margin: 0 auto;
}
.default .headContent .headLogo {
  position: absolute;
  right: -280px;
  bottom: 0;
  width: 1000px;
  /* height: 913px; */
}
.default .headContent .headLogo img {
  width: 100%;
  height: 100%;
  margin-bottom: -10px;
}
.default .headContent .headTalk {
  position: absolute;
  left: 2%;
  bottom: 300px;
  z-index: 99;
  display: flex;
  flex-direction: column;
}
.default .headContent .headTalk p {
  display: flex;
  align-items: center;
}
.default .headContent .headTalk p:nth-child(1) label {
  font-size: 71px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.default .headContent .headTalk p:nth-child(1) img {
  width: 316px;
  height: 86px;
  margin-left: 20px;
}
.default .headContent .headTalk p:nth-child(2) {
  margin-top: 56px;
}
.default .headContent .headTalk p:nth-child(2) label {
  font-size: 40px;
  font-family: "黑体";
  font-weight: 500;
  color: rgba(249, 249, 249, 1);
}
.default .headContent .headTalk p:nth-child(2) img {
  width: 76px;
  height: 76px;
  margin-left: 20px;
}
section {
  width: 100%;
  height: auto;
}
.vision .head {
  width: 1118px;
  height: 61px;
  margin: 140px auto;
  position: relative;
  display: flex;
  align-items: center;
}
.vision .head .bg {
  width: 1118px;
  height: 61px;
}
.vision .head .bg img {
  width: 100%;
}
.vision .head p {
  position: absolute;
  left: 50%;
  margin-left: -120px;
  top: 0;
  font-size: 40px;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
}
.vision .headDescr {
  width: 530px;
  height: 496px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.vision .headDescr .bg img {
  width: 490px;
  height: 490px;
}
.vision .headDescr p {
  font-size: 53px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 0.8);
  position: absolute;
  /* left: 0; */
  top: 160px;
  text-align: center;
  line-height: 90px;
}
.vision .headIntroduce {
  width: 454px;
  /* height: 315px; */
  display: flex;
  margin: 100px auto;
  position: relative;
}
.vision .headIntroduce .icon {
  position: absolute;
  top: -40px;
  left: -10px;
}
.vision .headIntroduce .icon img {
  width: 119px;
  height: 80px;
}
.vision .headIntroduce p {
  width: 454px;
  font-size: 30px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  text-align: center;
  line-height: 84px;
}

.forWorld .head {
  width: 1205px;
  height: 61px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 240px;
}
.forWorld .head .bg {
  width: 1205px;
  height: 61px;
}
.forWorld .head .bg img {
  width: 100%;
}
.forWorld .head p {
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: 0;
  font-size: 40px;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
}
.forWorld > p {
  width: 1128px;
  font-size: 30px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  line-height: 63px;
  text-align: center;
  margin: 120px auto;
}
.forWorldDescr {
  /* width: 71%; */
  margin: 0 auto;
  margin-top: 250px;
  display: flex;
  justify-content: center;
}
.forWorldDescr .eachDescr {
  width: 370px;
  position: relative;
  margin-right: 25px;
}
.forWorldDescr .eachDescr:last-child {
  margin-right: 0;
}
.forWorldDescr .eachDescrs {
  width: 370px;
  height: 593px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    RGBA(158, 146, 250, 1) 100%
  );
  border-radius: 20px;
  position: relative;
  z-index: 10;
  padding: 88px 25px 0 35px;
  box-sizing: border-box;
}
.eachDescrs h3 {
  font-size: 30px;
  font-family: "黑体";
  font-weight: 500;
  color: rgba(44, 9, 108, 1);
  line-height: 45px;
}
.eachDescrs i {
  display: flex;
}
.eachDescrs i img {
  width: 64px;
  height: 4px;
}
.eachDescrs p {
  font-size: 23px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(44, 9, 108, 1);
  margin-top: 20px;
  line-height: 48px;
}
.forWorldDescr .eachDescr .logo1,
.forWorldDescr .eachDescr .logo2,
.forWorldDescr .eachDescr .logo3,
.forWorldDescr .eachDescr .logo4 {
  position: absolute;
}
.forWorldDescr .eachDescr .logo1 {
  left: 40px;
  top: -125px;
}
.forWorldDescr .eachDescr .logo2 {
  left: 110px;
  top: -105px;
  z-index: 11;
}
.forWorldDescr .eachDescr .logo3 {
  left: -12px;
  bottom: 20px;
}
.forWorldDescr .eachDescr .logo4 {
  right: 10px;
  bottom: -15px;
  z-index: 11;
}
.forWorldDescr .eachDescr .logo1 img {
  width: 233px;
  height: 178px;
}
.forWorldDescr .eachDescr .logo2 img {
  width: 205px;
  height: 173px;
}
.forWorldDescr .eachDescr .logo3 img {
  width: 203px;
  height: 135px;
}
.forWorldDescr .eachDescr .logo4 img {
  width: 236px;
  height: 194px;
}
.forWorldDescr .eachDescr:nth-child(2) .logo1 img {
  width: 237px;
  height: 199px;
}
.forWorldDescr .eachDescr:nth-child(3) .logo1 img {
  width: 251px;
  height: 199px;
}
.forWorldDescr .eachDescr:nth-child(4) .logo1 img {
  width: 251px;
  height: 225px;
}
.forWorldDescr .eachDescr:nth-child(4) .logo1 {
  top: -150px;
}
.whitePaper {
  width: 1200px;
  /* height: 716px; */
  position: relative;
  margin: 0 auto;
  margin-top: 240px;
  /* overflow: hidden; */
}
.whitePaper .bg {
  width: 1210px;
  height: 716px;
  position: absolute;
  right: -22%;
}
.whitePaper .bg img {
  width: 100%;
}
.whitePaper .content {
  display: flex;
}
.whitePaper .content .hLogo {
  margin-left: 5%;
  position: relative;
  z-index: 9;
}
.whitePaper .content .hLogo img {
  width: 635px;
  height: 635px;
}
.whitePaper .content .con {
  margin-top: 17%;
  margin-left: 10%;
}
.whitePaper .content .con h3 {
  font-size: 53px;
  font-family: "黑体";
  font-weight: 600;
  color: rgba(248, 248, 248, 1);
  white-space: nowrap;
}
.whitePaper .content .con p {
  font-size: 40px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  display: flex;
  margin-top: 80px;
}
.whitePaper .content .con p i img {
  width: 38px;
  height: 38px;
  margin-left: 15px;
  margin-top: 5px;
}
.deepIntroduce .head {
  width: 1032px;
  height: 61px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 140px;
}
.deepIntroduce .head .bg {
  width: 1032px;
  height: 61px;
}
.deepIntroduce .head .bg img {
  width: 100%;
}
.deepIntroduce .head p {
  position: absolute;
  left: 50%;
  margin-left: -85px;
  top: 0;
  font-size: 40px;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
  letter-spacing: 4px;
}
.deepIntroduce > .content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 94px;
  display: flex;
  justify-content: center;
}
.deepIntroduce > .content .deepDescr,
.deepIntroduce > .content .deepDescr1 {
  width: 546px;
  height: 723px;
  background: linear-gradient(
    210deg,
    rgba(75, 25, 159, 0.31) 0%,
    rgba(161, 63, 197, 1) 100%
  );
  border-radius: 20px;
  margin-right: 29px;
}

.deepIntroduce > .content .deepDescr h3,
.deepIntroduce > .content .deepDescr1 h3 {
  font-size: 45px;
  font-family: "黑体";
  font-weight: 500;
  color: rgba(249, 249, 249, 1);
  margin-top: 56px;
  margin-left: 43px;
  margin-bottom: 80px;
}
.deepIntroduce > .content .deepDescr1 h3 {
  margin-bottom: 30px;
}
.deepIntroduce > .content .deepDescr1 h4 {
  width: 483px;
  font-size: 30px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 43px;
  line-height: 67px;
}
.deepIntroduce > .content .deepDescr > div {
  width: 100%;
  text-align: center;
}
.deepIntroduce > .content .deepDescr > div img {
  width: 293px;
  height: 251px;
}
.deepIntroduce > .content .deepDescr1 {
  display: none;
}

.deepIntroduce > .content .deepDescr p,
.deepIntroduce > .content .deepDescr1 p {
  width: 161px;
  font-size: 38px;
  font-family: "黑体";
  font-weight: 300;
  color: rgba(249, 249, 249, 1);
  line-height: 55px;
  letter-spacing: 2px;
  border-bottom: 2px solid #fff;
  margin-top: 160px;
  margin-left: 330px;
}
.deepIntroduce > .content .deepDescr1 p {
  margin-top: 330px;
}
.association {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  margin-top: 240px;
  /* overflow: hidden; */
}
.deepIntroduce > .association .bg {
  position: absolute;
  left: -25%;
}
.deepIntroduce > .association .bg img {
  width: 1225px;
  height: 764px;
}
.deepIntroduce > .association .content {
  display: flex;
}
.deepIntroduce > .association .content .hLogo {
  margin-left: 15%;
  margin-top: -5%;
  position: relative;
  z-index: 9;
}

.deepIntroduce > .association .content .hLogo img {
  width: 654px;
  height: 667px;
}
.deepIntroduce > .whitePaper .content .hLogo {
  margin-top: -100px;
}
.deepIntroduce > .whitePaper .content .hLogo img {
  width: 654px;
  height: 711px;
}

.deepIntroduce > .association .content .con {
  /* height: 500px; */
  margin-left: 6%;
  margin-top: 200px;
}
.deepIntroduce > .association .content .con h3 {
  font-size: 53px;
  font-family: "黑体";
  font-weight: 600;
  color: rgba(248, 248, 248, 1);
  white-space: nowrap;
}
.deepIntroduce > .association .content .con p {
  font-size: 40px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  display: flex;
  margin-top: 80px;
  white-space: nowrap;
}
.deepIntroduce > .association .content .con span {
  font-size: 30px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 30px;
  display: inline-block;
  white-space: nowrap;
}
.deepIntroduce > .association .content .con p i img {
  width: 38px;
  height: 38px;
  margin-left: 15px;
  margin-top: 5px;
}
footer {
  width: 100%;
  height: 464px;
  background: url("../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
footer h2 {
  height: 56px;
  font-size: 40px;
  font-family: "黑体";
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin: 134px 0 19px 362px;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 309px;
}
footer > div i img {
  width: 36px;
  height: 29px;
}
footer > div label {
  font-size: 32px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 17px;
}
footer > p {
  width: 100%;
  font-size: 25px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 154px;
}

@media (max-width: 1600px) {
  .navList {
    margin-left: 40px;
    margin-right: 150px;
  }
  .navList li {
    font-size: 17px;
    margin-left: 63px;
  }
  .navList li:last-child .select {
    width: 105px;
    height: 96px;
  }
  .navList li:last-child .select .bg img{
    width: 105px;
    height: 96px;
  }

  .navList li:last-child .select > div span {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
  .descr span:nth-child(2) {
    font-size: 20px;
  }
  .default header {
    height: 860px;
  }
  /* .default .headContent{
        height: 760px;
    } */
  .default .headContent .headLogo {
    right: -100px;
    width: 980px;
    height: 760px;
  }
  .default .headContent .headTalk {
    left: 150px;
  }
  .default .headContent .headTalk p:nth-child(1) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .default .headContent .headTalk p:nth-child(1) img {
    width: 256px;
    height: 63px;
    margin-left: -1px;
    margin-top: 15px;
  }
  .default .headContent .headTalk p:nth-child(1) label {
    font-size: 44px;
  }
  .default .headContent .headTalk p:nth-child(2) {
    margin-top: 25px;
  }
  .default .headContent .headTalk p:nth-child(2) label {
    font-size: 34px;
  }
  .default .headContent .headTalk p:nth-child(2) img {
    width: 63px;
    height: 63px;
    /* margin-left: 20px; */
  }
  .vision .head {
    width: 930px;
    height: 51px;
    margin: 110px auto;
  }
  .vision .head .bg {
    width: 930px;
    height: 51px;
  }
  .vision .head p {
    font-size: 33px;
    margin-left: -95px;
    top: 2px;
  }
  .vision .headDescr {
    width: 413px;
    height: 413px;
    margin-bottom: -10px;
  }
  .vision .headDescr .bg img {
    width: 413px;
    height: 413px;
  }
  .vision .headDescr p {
    width: 452px;
    font-size: 44px;
    line-height: 70px;
    letter-spacing: 1px;
  }
  .vision .headIntroduce .icon {
    left: 25px;
    top: -35px;
  }
  .vision .headIntroduce .icon img {
    width: 99px;
    height: 67px;
  }
  .forWorld .head {
    margin-top: 180px;
    width: 1000px;
    height: 51px;
  }
  .forWorld .head .bg {
    width: 1000px;
    height: 51px;
  }
  .forWorld .head p {
    font-size: 33px;
    margin-left: -135px;
    top: 2px;
  }
  .forWorld > p {
    width: 940px;
    font-size: 25px;
    margin: 100px auto;
    line-height: 53px;
  }
  .vision .headIntroduce p {
    font-size: 25px;
    line-height: 70px;
  }
  .forWorldDescr .eachDescr {
    width: 310px;
    margin-right: 22px;
  }
  .forWorldDescr .eachDescr:last-child {
    margin-right: 0;
  }
  .forWorldDescr .eachDescrs {
    width: 317px;
    height: 494px;
    padding: 73px 15px 0 20px;
    box-sizing: border-box;
  }
  .eachDescrs i img {
    width: 53px;
    height: 3px;
  }
  .forWorldDescr .eachDescrs h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .forWorldDescr .eachDescrs p {
    font-size: 21px;
    line-height: 42px;
  }
  .forWorldDescr .eachDescr .logo1 {
    top: -105px;
  }
  .forWorldDescr .eachDescr .logo2 {
    left: 97px;
    top: -88px;
  }
  .forWorldDescr .eachDescr .logo1 img {
    width: 194px;
    height: 148px;
  }
  .forWorldDescr .eachDescr .logo2 img {
    width: 171px;
    height: 144px;
  }
  .forWorldDescr .eachDescr:nth-child(2) .logo1 img {
    width: 197px;
    height: 166px;
  }
  .forWorldDescr .eachDescr:nth-child(3) .logo1 img {
    width: 209px;
    height: 166px;
  }
  .forWorldDescr .eachDescr:nth-child(4) .logo1 img {
    width: 209px;
    height: 187px;
  }
  .forWorldDescr .eachDescr:nth-child(4) .logo1 {
    top: -125px;
  }
  .whitePaper .content .hLogo {
    margin-left: 10%;
  }
  .whitePaper .content .hLogo img {
    width: 544px;
    height: 544px;
  }
  .whitePaper .bg {
    width: 1000px;
    right: -12%;
  }
  .whitePaper .content .con {
    margin-top: 12%;
    /* margin-left: 10%; */
  }
  .whitePaper .content .con h3 {
    font-size: 44px;
  }
  .whitePaper .content .con p {
    font-size: 33px;
    margin-top: 60px;
  }
  .whitePaper .content .con p i img {
    width: 32px;
    height: 32px;
    margin-top:3px;
  }
  .deepIntroduce .head {
    width: 860px;
    height: 50px;
  }
  .deepIntroduce .head .bg {
    width: 860px;
    height: 50px;
  }
  .deepIntroduce .head p {
    font-size: 33px;
    margin-left: -72px;
    top: 2px;
  }
  .deepIntroduce > .content .deepDescr,
  .deepIntroduce > .content .deepDescr1 {
    width: 455px;
    height: 603px;
    margin-right: 20px;
  }
  .deepIntroduce > .content .deepDescr h3,
  .deepIntroduce > .content .deepDescr1 h3 {
    font-size: 38px;
    margin-top: 46px;
    margin-bottom: 67px;
  }
  .deepIntroduce > .content .deepDescr > div img {
    width: 244px;
    height: 209px;
  }
  .deepIntroduce > .content .deepDescr p,
  .deepIntroduce > .content .deepDescr1 p {
    width: 134px;
    height: 44px;
    font-size: 31px;
    margin-top: 126px;
    margin-left: 286px;
    line-height: 44px;
  }
  .deepIntroduce > .content .deepDescr1 h4 {
    width: 400px;
    font-size: 28px;
  }
  .deepIntroduce > .content .deepDescr1 p {
    margin-top: 209px;
  }
  .deepIntroduce > .association .content .hLogo {
    margin-left: 10%;
    margin-top: -2%;
  }
  .deepIntroduce > .association .content .con {
    margin-left: 13%;
    margin-top: 200px;
  }
  .deepIntroduce > .association .content .hLogo img {
    width: 545px;
    height: 556px;
  }
  .deepIntroduce > .association .bg {
    left: -10%;
  }
  .deepIntroduce > .association .bg img {
    width: 1021px;
  }
  .deepIntroduce > .association .content .con h3 {
    font-size: 44px;
  }
  .deepIntroduce > .association .content .con span {
    font-size: 25px;
  }
  .deepIntroduce > .association .content .con p {
    font-size: 33px;
    margin-top: 66px;
  }
  .deepIntroduce > .association .content .con p i img {
    width: 32px;
    height: 32px;
    margin-top: 3px;
  }
  .deepIntroduce > .whitePaper .content .hLogo img {
    width: 545px;
    height: 593px;
  }

  footer {
    height: 386px;
  }
  footer h2 {
    font-size: 33px;
  }
  footer > div i img {
    width: 30px;
    height: 24px;
    margin-top: 4px;
  }
  footer > div label {
    font-size: 27px;
  }
  footer > p {
    font-size: 21px;
    margin-top: 90px;
  }
}
@media (max-width: 1700px) {
  footer h2 {
    margin-left: 220px;
  }
  footer > div {
    margin-left: 170px;
  }
}
@media (max-width: 1350px) {
  .forWorldDescr .eachDescr {
    width: 280px;
    /* margin-right: 15px; */
  }
  .forWorldDescr .eachDescrs {
    width: 280px;
    height: 441px;
    padding: 63px 15px 0 20px;
    box-sizing: border-box;
  }
  .forWorldDescr .eachDescrs h3 {
    font-size: 21px;
    line-height: 30px;
  }
  .forWorldDescr .eachDescrs p {
    font-size: 18px;
    line-height: 36px;
    /* margin-top: 17px; */
  }
}
@media (max-width: 1200px) {
  .default {
    width: 1200px;
    overflow: hidden;
  }
  .header {
    height: 80px;
  }
  .navList {
    /* margin-left: 30px; */
    margin-right: 50px;
  }
  .navList li {
    font-size: 13px;
    margin-left: 48px;
  }
  .navList li:last-child .select {
    width: 95px;
    height: 96px;
    left: -10px;
  }
  .navList li:last-child .select .bg img{
    width: 95px;
    height: 86px;
  }

  .navList li:last-child .select > div span {
    width: 95px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
  }
  .logo img {
    margin-left: 120px;
    width: 110px;
    height: 33px;
  }
  .descr {
    margin-right: 200px;
  }
  .descr span:nth-child(1) {
    width: 62px;
    height: 19px;
    font-size: 9px;
    line-height: 19px;
  }
  .descr span:nth-child(2) {
    font-size: 14px;
  }
  .default header {
    height: 670px;
  }
  .default .headContent .headLogo {
    right: 70px;
    width: 740px;
    height: 571px;
  }
  .default .headContent .headTalk {
    left: 200px;
    bottom: 210px;
  }
  .default .headContent .headTalk p:nth-child(1) label {
    font-size: 33px;
  }
  .default .headContent .headTalk p:nth-child(1) img {
    width: 197px;
    height: 54px;
  }
  .default .headContent .headTalk p:nth-child(2) {
    margin-top: 25px;
  }
  .default .headContent .headTalk p:nth-child(2) label {
    font-size: 25px;
  }
  .default .headContent .headTalk p:nth-child(2) img {
    width: 47px;
    height: 47px;
    margin-left: 10px;
  }
  .vision .head {
    width: 699px;
    height: 38px;
    margin: 95px auto;
  }
  .vision .head .bg {
    width: 699px;
    height: 38px;
  }
  .vision .head p {
    font-size: 25px;
    margin-left: -73px;
  }
  .vision .headDescr {
    width: 310px;
    height: 310px;
    /* margin-bottom: -10px; */
  }
  .vision .headDescr .bg img {
    width: 310px;
    height: 310px;
  }
  .vision .headDescr p {
    width: 340px;
    font-size: 33px;
    line-height: 50px;
    top: 110px;
  }
  .vision .headIntroduce {
    margin: 70px auto;
  }
  .vision .headIntroduce .icon {
    left: 55px;
    top: -20px;
  }
  .vision .headIntroduce .icon img {
    width: 74px;
    height: 50px;
  }
  .forWorld .head {
    margin-top: 140px;
    width: 753px;
    height: 38px;
  }
  .forWorld .head .bg {
    width: 753px;
    height: 38px;
  }
  .forWorld .head p {
    font-size: 25px;
    margin-left: -103px;
  }
  .forWorld > p {
    width: 705px;
    font-size: 19px;
    margin: 70px auto;
    line-height: 39px;
  }
  .forWorldDescr {
    margin-top: 200px;
  }
  .vision .headIntroduce p {
    font-size: 19px;
    line-height: 50px;
  }
  .forWorldDescr .eachDescr {
    width: 238px;
    /* margin-right: 15px; */
  }
  .forWorldDescr .eachDescrs {
    width: 238px;
    height: 371px;
    padding: 55px 15px 0 20px;
    box-sizing: border-box;
  }
  .forWorldDescr .eachDescrs h3 {
    font-size: 19px;
    line-height: 25px;
  }
  .forWorldDescr .eachDescrs p {
    font-size: 16px;
    line-height: 31px;
    margin-top: 17px;
  }
  .eachDescrs i img {
    width: 40px;
    height: 3px;
  }
  .forWorldDescr .eachDescr .logo1 {
    top: -80px;
  }
  .forWorldDescr .eachDescr .logo2 {
    left: 85px;
    top: -65px;
  }
  .forWorldDescr .eachDescr .logo1 img {
    width: 146px;
    height: 111px;
  }
  .forWorldDescr .eachDescr .logo2 img {
    width: 128px;
    height: 108px;
  }
  .forWorldDescr .eachDescr:nth-child(2) .logo1 img {
    width: 148px;
    height: 124px;
  }
  .forWorldDescr .eachDescr:nth-child(3) .logo1 img {
    width: 157px;
    height: 124px;
  }
  .forWorldDescr .eachDescr:nth-child(4) .logo1 img {
    width: 157px;
    height: 141px;
  }
  .forWorldDescr .eachDescr:nth-child(4) .logo1 {
    top: -95px;
  }
  .whitePaper {
    margin-top: 200px;
    margin-bottom: 50px;
  }
  .whitePaper .content .hLogo {
    margin-left: 16%;
  }
  .whitePaper .content .hLogo img {
    width: 408px;
    height: 408px;
  }
  .whitePaper .bg {
    width: 756px;
    right: 0;
  }
  .whitePaper .content .con {
    margin-top: 12%;
    /* margin-left: 10%; */
  }
  .whitePaper .content .con h3 {
    font-size: 33px;
  }
  .whitePaper .content .con p {
    font-size: 25px;
    margin-top: 40px;
  }
  .whitePaper .content .con p i img {
    width: 24px;
    height: 24px;
    margin-top: 2px;
  }
  .deepIntroduce .head {
    width: 645px;
    height: 38px;
  }
  .deepIntroduce .head .bg {
    width: 645px;
    height: 38px;
  }
  .deepIntroduce .head p {
    font-size: 25px;
    margin-left: -58px;
  }
  .deepIntroduce > .content .deepDescr,
  .deepIntroduce > .content .deepDescr1 {
    width: 341px;
    height: 452px;
    margin-right: 18px;
  }
  .deepIntroduce > .content .deepDescr h3,
  .deepIntroduce > .content .deepDescr1 h3 {
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 51px;
    margin-left: 27px;
  }
  .deepIntroduce > .content .deepDescr > div img {
    width: 183px;
    height: 157px;
  }
  .deepIntroduce > .content .deepDescr p,
  .deepIntroduce > .content .deepDescr1 p {
    width: 105px;
    height: 33px;
    font-size: 24px;
    margin-top: 106px;
    margin-left: 206px;
    line-height: 33px;
  }
  .deepIntroduce > .content .deepDescr1 h4 {
    width: 310px;
    font-size: 24px;
    margin-left: 27px;
    line-height: 50px;
  }
  .deepIntroduce > .content .deepDescr1 p {
    margin-top: 119px;
  }
  .deepIntroduce > .association .content .hLogo {
    margin-left: 10%;
    margin-top: -2%;
  }
  .deepIntroduce > .association .content .con {
    margin-left: 18%;
    margin-top: 170px;
  }
  .deepIntroduce > .association .content .hLogo img {
    width: 409px;
    height: 417px;
  }
  .deepIntroduce > .association .bg {
    left: -2%;
  }
  .deepIntroduce > .association .bg img {
    width: 766px;
    height: 477px;
  }
  .deepIntroduce > .association .content .con h3 {
    font-size: 33px;
  }
  .deepIntroduce > .association .content .con span {
    font-size: 19px;
    margin-top: 20px;
  }
  .deepIntroduce > .association .content .con p {
    font-size: 25px;
    margin-top: 46px;
  }
  .deepIntroduce > .association .content .con p i img {
    width: 25px;
    height: 25px;
    margin-top: 2px;
  }
  .deepIntroduce > .whitePaper .content .hLogo img {
    width: 409px;
    height: 444px;
  }
  .deepIntroduce > .whitePaper .content .con {
    margin-left: 13%;
  }
  footer {
    height: 290px;
  }
  footer h2 {
    font-size: 25px;
    margin: 84px 0 15px 206px;
  }
  footer > div i img {
    width: 22px;
    height: 18px;
    margin-top: 4px;
  }
  footer > div label {
    font-size: 20px;
  }
  footer > p {
    font-size: 16px;
    margin-top: 70px;
  }
}
