* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.wrap {
  width: 100%;
  height: auto;
}
.manifesto {
  width: 100%;
  background: rgba(44, 9, 108, 1);
}
header {
  width: 100%;
  height: 642px;
  display: flex;
  flex-direction: column;
  background: url("../img/编组 4@2x.png") no-repeat;
  background-size: 100% 100%;
}
.header {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 99;
}
.header .head {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navList {
  display: flex;
}

.logo img {
  /* margin-left: 150px; */
  width: 173px;
  height: 55px;
}
.navList {
  flex: 1;
  height: 100%;
  align-items: center;
  margin-left: 70px;
  margin-right: 200px;
}
.navList li {
  font-size: 20px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 77px;
  cursor: pointer;
  white-space: nowrap;
}
.navList li:last-child {
  position: relative;
}
.navList li:last-child .select {
  width: 145px;
  height: 116px;
  position: relative;
  position: absolute;
  top: 30px;
  left: -20px;
  /* display: none; */
}
.navList li:last-child .select .bg {
  position: absolute;
  top: 0;
}
.navList li:last-child .select > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
}
.navList li:last-child .select > div span {
  width: 100%;
  height: 50px;
  font-size: 23px;
  font-family: "黑体";
  font-weight: 500;
  color: #413C49;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
}
.navList li:last-child .select .bg img {
  width: 145px;
  height: 116px;
}
.navList li.active {
  color: rgba(62, 209, 246, 1);
}

.descr {
  display: flex;
}
.descr span {
  color: #fff;
  margin-right: 38px;
  cursor: pointer;
}
.descr span:nth-child(1) {
  width: 100px;
  height: 31px;
  border: 1px solid #fff;
  border-radius: 3px;
  line-height: 31px;
  text-align: center;
  font-size: 14px;
}
.descr span:nth-child(2) {
  font-size: 22px;
}

.headContent {
  width: 1200px;
  flex: 1;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.headContent .headTalk {
  position: absolute;
  left: 100px;
  bottom: 150px;
}
.headContent .headTalk p img {
  width: 405px;
  height: 91px;
}
.headContent .headTalk p {
  width: 390px;
  font-size: 30px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(249, 249, 249, 1);
  line-height: 66px;
  letter-spacing: 2px;
}
.headContent .headTalk p:nth-child(2) {
  /* margin-left: 10px; */
}
.headContent .headLogo img {
  width: 474px;
  height: 369px;
}
.headContent .headLogo {
  width: 474px;
  height: 369px;
  position: absolute;
  right: 40px;
  bottom: 50px;
}
section {
  width: 100%;
}
.thrAgo {
  width: 1200px;
  height: 764px;
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
}
.thrAgo .bg {
  position: absolute;
  left: -20%;
}
.thrAgo .bg img {
  width: 1114px;
  height: 764px;
}
.thrAgo .bgContent {
  position: absolute;
  top:20px;
  display: flex;
  left: 10%;
}
.thrAgo .bgContent .logo {
  margin-left: 100px;
  margin-top: -130px;
}
.thrAgo .bgContent .logo img {
  width: 672px;
  height: 711px;
}
.thrAgo .bgContent > .content {
  width: 309px;
  margin-top: 75px;
  margin-left: 80px;
}
.thrAgo .bgContent > .content h3 {
  font-size: 53px;
  font-family: "黑体";
  font-weight: 600;
  color: rgba(248, 248, 248, 1);
  margin-bottom: 31px;
}

.thrAgo .bgContent > .content ul li {
  font-size: 30px;
  font-family:"黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 0.8);
  margin-bottom: 30px;
}
.tenAgo {
  width: 1200px;
  height: 764px;
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
}
.tenAgo .bg {
  position: absolute;
  right: -25%;
}
.tenAgo .bg img {
  width: 1114px;
  height: 764px;
}
.tenAgo .bgContent {
  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  margin-left: -180px;
}
.tenAgo .bgContent .logo {
  margin-left: -50px;
  margin-top: -50px;
}
.tenAgo .bgContent .logo img {
  width: 672px;
  height: 711px;
}
.tenAgo .bgContent > .content {
  width: 329px;
  margin-top: 100px;
  margin-left:120px;
}
.tenAgo .bgContent > .content h3 {
  font-size: 53px;
  font-family: "黑体";
  font-weight: 600;
  color: rgba(248, 248, 248, 1);
  margin-bottom: 51px;
  margin-left: 130px;
  white-space: nowrap;
}

.tenAgo .bgContent > .content ul li {
  font-size: 30px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 0.8);
  margin-bottom: 30px;
  text-align: right;
  white-space: nowrap;
}
.listDescr {
  width: 1270px;
  /* height: 2146px; */
  margin: 200px auto;
  position: relative;
}
.listDescr .bg img {
  width: 1270px;
  height: 2146px;
}
.listDescr .listContent {
  width: 1196px;
  height: 2085px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    RGBA(173, 163, 250, 1) 100%
  );
  position: absolute;
  top: 29px;
  left: 50%;
  margin-left: -600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listDescr .listContent h3 {
  width: 1054px;
  font-size: 35px;
  font-family: "黑体";
  font-weight: 400;
  color: #413C49;
  margin-top: 75px;
  line-height: 76px;
}
.listDescr .listContent .who {
  width: 527px;
  height: 149px;
  margin: 0 auto;
  position: relative;
  margin-top: 105px;
  margin-bottom: 60px;
}
.listDescr .listContent .who h2 {
  font-size: 53px;
  font-family: "黑体";
  font-weight: 600;
  color: #110B1B;
  line-height: 80px;
  letter-spacing: 4px;
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -163px;
}
.listDescr .listContent .who img {
  width: 527px;
  height: 149px;
}
.listDescr .listContent p {
  width: 1054px;
  font-size: 35px;
  font-family: "黑体";
  font-weight: 400;
  color: #413C49;
  line-height: 76px;
  margin-bottom: 100px;
}
footer {
  width: 100%;
  height: 464px;
  background: url("../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
footer h2 {
  height: 56px;
  font-size: 40px;
  font-family: "黑体";
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin: 134px 0 19px 362px;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 309px;
}
footer > div i img {
  width: 36px;
  height: 29px;
}
footer > div label {
  font-size: 32px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 17px;
}
footer > p {
  width: 100%;
  font-size: 25px;
  font-family: "黑体";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 154px;
}
@media (max-width: 1600px) {
  header {
    height: 535px;
  }
  .header .head {
   width: 1000px;
  }
  .navList {
    margin-left: 40px;
    margin-right: 150px;
  }
  .navList li {
    font-size: 17px;
    margin-left: 63px;
  }
  .navList li:last-child .select {
    width: 105px;
    height: 96px;
  }
  .navList li:last-child .select .bg img{
    width: 105px;
    height: 96px;
  }

  .navList li:last-child .select > div span {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
  .logo img{
    margin-left: 20px;
  }
  .descr span:nth-child(2) {
    font-size: 20px;
  }
  .headContent .headLogo{
    width: 395px;
    height: 308px;
    right:120px ;
  }
  .headContent .headLogo img {
    width: 395px;
    height: 308px;
  }
  .headContent .headTalk {
    margin-top: 120px;
    margin-left: 130px;
  }
  .headContent .headTalk p img {
    width: 337px;
    height: 76px;
  }
  .headContent .headTalk p {
    width: 333px;
    /* height:95px; */
    font-size: 25px;
    line-height: 55px;
  }
  .thrAgo {
    margin-top: 150px;
  }
  .thrAgo .bgContent > .content h3 {
    font-size: 44px;
  }
  .thrAgo .bgContent > .content ul li {
    font-size: 25px;
  }
  .thrAgo .bg {
    left: -5%;
  }
  .thrAgo .bg img {
    width: 928px;
  }
  .thrAgo .bgContent .logo img {
    width: 560px;
    height: 592px;
  }
  .thrAgo .bgContent {
    top: 5%;
    left: 19%;
  }
  .thrAgo .bgContent .logo {
    margin-left: -20px;
    margin-top: -50px;
  }
  .tenAgo {
    margin-top: 150px;
  }
  .tenAgo .bg {
    right: -15%;
  }
  .tenAgo .bg img {
    width: 976px;
    height: 664px;
  }
  .tenAgo .bgContent {
    margin-left: -100px;
  }
  .tenAgo .bgContent .logo {
    margin-top: 10px;
    margin-left: -10px;
  }
  .tenAgo .bgContent .logo img {
    width: 560px;
    height: 582px;
  }
  .tenAgo .bgContent > .content{
     margin-left: 70px;
  }
  .tenAgo .bgContent > .content h3 {
    font-size: 44px;
  }
  .tenAgo .bgContent > .content ul{
    margin-right: 55px;
  }
  .tenAgo .bgContent > .content ul li {
    font-size: 25px;
  }
  .listDescr {
    width: 1058px;
    margin: 100px auto;
  }
  .listDescr .listContent .who img {
    width: 439px;
    height: 124px;
  }
  .listDescr .bg img {
    width: 1058px;
  }
  .listDescr .listContent {
    width: 996px;
    margin-left: -500px;
  }
  .listDescr .listContent h3 {
    width: 878px;
    height: 317px;
    font-size: 29px;
    line-height: 63px;
  }
  .listDescr .listContent p {
    width: 878px;
    font-size: 29px;
    line-height: 63px;
    margin-bottom: 70px;
  }
  .listDescr .listContent .who h2 {
    font-size: 44px;
    top: 27px;
  }
  footer {
    height: 386px;
  }
  footer h2 {
    font-size: 33px;
  }
  footer > div i img {
    width: 30px;
    height: 24px;
    margin-top: 4px;
  }
  footer > div label {
    font-size: 27px;
  }
  footer > p {
    font-size: 21px;
    margin-top: 90px;
  }
}
@media (max-width: 1700px) {
  footer h2 {
    margin-left: 220px;
  }
  footer > div {
    margin-left: 170px;
  }
}

@media (max-width: 1200px) {
  .manifesto {
    width: 1200px;
  }
  .header {
    height: 60px;
  }
  .navList {
    /* margin-left: 30px; */
    margin-right: 50px;
  }
  .navList li {
    font-size: 13px;
    margin-left: 48px;
  }
  .navList li:last-child .select {
    width: 95px;
    height: 96px;
    left: -10px;
  }
  .navList li:last-child .select .bg img{
    width: 95px;
    height: 86px;
  }

  .navList li:last-child .select > div span {
    width: 95px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
  }
  header {
    height: 401px;
  }
  .header{
    width: 1200px;
  }
  .logo img {
    margin-left: 120px;
    width: 110px;
    height: 33px;
  }
  .descr {
    margin-right: 100px;
  }
  .descr span:nth-child(1) {
    width: 62px;
    height: 19px;
    font-size: 9px;
    line-height: 19px;
  }
  .descr span:nth-child(2) {
    font-size: 14px;
  }
  .headContent .headLogo img {
    width: 296px;
    height: 231px;
  }
  .headContent .headTalk {
    /* margin-top: 80px;
    margin-left: 220px; */
    left: 150px;
    bottom: 100px;
  }
  .headContent .headLogo {
    width: 296px;
    height: 231px;
    right: 230px;
  }
  .headContent .headTalk p img {
    width: 253px;
    height: 57px;
  }
  .headContent .headTalk p {
    width: 325px;
    font-size: 19px;
    font-size: 25px;
    line-height: 41px;
  }
  .thrAgo {
    margin-top: 120px;
    height: 696px;
  }
  .thrAgo .bgContent > .content {
    margin-left: 110px;
  }
  .thrAgo .bgContent > .content h3 {
    font-size: 33px;
  }
  .thrAgo .bgContent > .content ul li {
    font-size: 19px;
  }
  .thrAgo .bg {
    left: 2%;
  }
  .thrAgo .bg img {
    width: 696px;
    height: 564px;
  }
  .thrAgo .bgContent .logo img {
    width: 420px;
    height: 444px;
  }
  .thrAgo .bgContent {
    top: 5%;
    left: 15%;
  }
  .thrAgo .bgContent .logo {
    margin-left: -130px;
    margin-top: -50px;
  }
  .tenAgo {
    margin-top: -20px;
    height: 664px;
  }
  .tenAgo .bg {
    right: -10%;
  }
  .tenAgo .bg img {
    /* width: 802px; */
    height: 659px;
  }
  .tenAgo .bgContent {
    margin-left: -80px;
  }
  .tenAgo .bgContent .logo {
    margin-top: 60px;
  }
  .tenAgo .bgContent .logo img {
    width: 420px;
    height: 436px;
  }
  .tenAgo .bgContent > .content {
    margin-left: 10px;
  }
  .tenAgo .bgContent > .content h3 {
    font-size: 33px;
    margin-bottom: 40px;
    margin-left: 170px;
  }
  .tenAgo .bgContent > .content ul li {
    font-size: 19px;
  }
  .listDescr {
    width: 793px;
    margin: 50px auto;
  }
  .listDescr .listContent .who {
    width: 329px;
    height: 93px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .listDescr .listContent .who img {
    width: 329px;
    height: 93px;
  }
  .listDescr .bg img {
    width: 793px;
    height: 1441px;
  }
  .listDescr .listContent {
    width: 747px;
    height: 1383px;
    margin-left: -375px;
  }
  .listDescr .listContent h3 {
    width: 659px;
    height: 238px;
    font-size: 22px;
    line-height: 48px;
    margin-top: 35px;
  }
  .listDescr .listContent p {
    width: 659px;
    height: 183px;
    font-size: 22px;
    line-height: 48px;
    margin-bottom: 0;
  }
  .listDescr .listContent .who h2 {
    font-size: 33px;
    top: 5px;
    margin-left: -113px;
  }
  footer {
    height: 290px;
  }
  footer h2 {
    font-size: 25px;
    margin: 84px 0 15px 206px;
  }
  footer > div i img {
    width: 22px;
    height: 18px;
    margin-top: 4px;
  }
  footer > div label {
    font-size: 20px;
  }
  footer > p {
    font-size: 16px;
    margin-top: 70px;
  }
}
