* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: "Times New Roman"; */
}
@font-face {
  font-family: "Aileron-Thin";
  src: url("../../font/Aileron-Thin-13.ttf");
}
.wrap {
  width: 100%;
  height: auto;
}
.partner {
  width: 100%;
  overflow: hidden;
}
header {
  width: 100%;
  height: 8.32rem;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 99;
}
.header .head {
  width: 12rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navList {
  display: flex;
}

.logo a {
  display: flex;
}
.logo img {
  margin-bottom: 0.12rem;
  width: 1.63rem;
  height: 0.43rem;
}

.navList {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  margin-left: 0.7rem;
  margin-right: 1rem;
}

.navList li {
  font-size: 0.16rem;
  font-weight: 400;
  color: #382F44;
  /* margin-top: 0.1rem; */
  margin-left: 0.4rem;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.navList li i{
  display: none;
}
.navList li i img{
  width: 100%;
  height: 100%;
}
/* .navList li:hover{
  color: #4A189F;
} */
.navList li:hover i{
  display: block;
  width: 20px;
  height: 2px;
  color: #4A189F;
  position: absolute;
  left: 0;
  top: 10px;
}
/* .navList li.active {
  color: #4A189F;
}
.navList li i.activeI {
  display: block;
  width: 20px;
  height: 2px;
  color: #4A189F;
  position: absolute;
  left: 0;
  top: 10px;
} */

.descr {
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-top: 0.1rem; */
  white-space: nowrap;
}

.descr span {
  color: #382F44;
  margin-right: 0.2rem;
  cursor: pointer;
}

.descr span:nth-child(1) {
  /* width: 100rem;
  height: 31rem; */
  display: inline-block;
  border: 1px solid #382F44;
  border-radius: 3rem;
  line-height: 0.24rem;
  text-align: center;
  font-size: 0.17rem;
  padding: 0.05rem 0.05rem 0;
  box-sizing: border-box;
}

.descr a {
  color: #382F44;
  margin-left: 0.2rem;
  cursor: pointer;
  /* position: relative;
  top: 7rem; */
  font-size: 0.14rem;
}
.headContent {
  width: 12rem;
  flex: 1;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.headContent .headTalk {
  display: flex;
  /* flex-direction: column;s */
  position: absolute;
  left: 0.1rem;
  bottom: 4rem;
}

.headContent .headTalk p:nth-child(1) {
  font-size: 0.32rem;
  font-weight: 400;
  color: rgba(100, 93, 110, 1);
  margin-top: 0.15rem;
  margin-right: 0.2rem;
}
.headContent .headTalk p:nth-child(2) {
  font-size: 0.48rem;
  font-weight: 600;
  color: rgba(253, 36, 142, 1);
  margin-top: 0.15rem;
  margin-right: 0.2rem;
}
.headContent .headTalk p img {
  width: 1.11rem;
  height: 1.44rem;
}
.headContent .headTalk > div {
  margin-top: 0.1rem;
}
.headContent .headTalk p > span {
  color: rgba(82, 220, 255, 1);
}
.headContent .headLogo img {
  width: 9.96rem;
  height: 8.56rem;
}
.headContent .headLogo {
  width: 9.96rem;
  height: 8.56rem;
  position: absolute;
  right: -3.8rem;
  bottom: 0;
  display: flex;
}
section{
  width: 100%;
  background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(240,240,247,1) 74%,rgba(234,235,244,0) 100%);
}
.mebers{
  width: 12rem;
  margin: 0 auto;
  background: #FFF;
  margin-top: -2rem;
  padding-top: 1rem;
  box-sizing: border-box;
}
.mebers .head {
  /* width: 9.3rem; */
  height: 0.61rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  /* margin-top: 2.4rem; */
  margin-bottom: 0.3rem;

}
.mebers .head .bg {
  /* width: 11.8rem; */
  height: 0.61rem;
  margin: 0 auto;

}
.mebers .head .bg i,
.publisher1 .head .bg i{
  position: absolute;
  top:0.5rem;
  width: 0.73rem;
  height: 0.04rem;
  left: 50%;
  margin-left: -0.5rem;
  display: flex;
}
.mebers .head .bg img,
.publisher1 .head .bg img {
  width: 100%;
  height: 100%;
}
.mebers .head p {
  font-size: 0.32rem;
  color: rgba(56, 47, 68, 1);
  font-weight: 600;
}

.forWorldDescr {
  width: 12rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  /* justify-content: center; */
}
.forWorldDescr .eachDescr {
  width: 6rem;
  position: relative;
  margin-left: 0.25rem;
}
.forWorldDescr .eachDescrs {
  width: 5.5rem;
  height: 5rem;
  background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(255,245,236,1) 52%,rgba(255,213,231,1) 85%,rgba(255,255,255,0) 100%);
  box-shadow:0px 20px 60px 0px rgba(247,248,251,1);
  border-radius: 20px;
  position: relative;
  z-index: 10;
  padding: 0.79rem 0.25rem 0 0.35rem;
  box-sizing: border-box;
}
.eachDescrs h3 {
  font-size: 0.24rem;
  font-weight: 500;
  color: #382F44;

}
.eachDescrs i img {
  display: inline-block;
  width: 0.64rem;
  height: 0.04rem;
}
.eachDescrs p {
  font-size: 0.24rem;
  font-weight: 400;
  color: #726B79;
  margin-top: 0.2rem;
  line-height: 0.48rem;
}
.forWorldDescr .eachDescr .logo1,
.forWorldDescr .eachDescr .logo2,
.forWorldDescr .eachDescr .logo3 {
  position: absolute;
}
.forWorldDescr .eachDescr .logo1 {
  left: 50%;
  margin-left: -27%;
  top: -1.6rem;
}
.forWorldDescr .eachDescr .logo2 {
  left: 50%;
  margin-left: -14.5%;
  top: -1.05rem;
  z-index: 11;
}
.forWorldDescr .eachDescr .logo3 {
  left: -0.15rem;
  bottom: -0.2rem;
}

.forWorldDescr .eachDescr .logo1 img {
  width: 2.51rem;
  height: 2.25rem;
}
.forWorldDescr .eachDescr .logo2 img {
  width: 2.05rem;
  height: 1.73rem;
}
.forWorldDescr .eachDescr .logo3 img {
  width: 3.03rem;
  height: 1.8rem;
}

/* .forWorldDescr .eachDescr:nth-child(2) .logo1 img{
    width: 251rem;
    height:225rem;
    
} */
.forWorldDescr .eachDescr:nth-child(2) .logo1 {
  top: -1.5rem;
}
.forWorldDescr .eachDescr:nth-child(2) .logo2 {
  top: -1rem;
}
.forWorldDescr .eachDescr:nth-child(2) .logo3 {
  left: 52%;
}
.service {
  width: 14.17rem;
  height: 3.1rem;
  background:linear-gradient(236deg,rgba(216,89,232,1) 0%,rgba(75,25,159,1) 100%);
  border-radius: 5px;
  margin: 2rem auto;
  margin-left: -1.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.service .logo img {
  width: 3.8rem;
  height: 3.26rem;
  position: absolute;
  top: -0.8rem;
  right: 0.7rem;
}
.service:nth-child(5) .logo img{
  margin-top: -0.5rem;
}
.service h2 {
  font-size: 0.4rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin: 0.3rem 0 0.2rem 0.4rem;
}

.service p {
  width: 9rem;
  font-size: 0.24rem;
  font-weight: 300;
  color: #E2D3EF;
  letter-spacing: 1px;
  margin-left: 0.4rem;
  margin-bottom: 0.3rem;
  line-height: 0.4rem;
}
.service p:nth-child(3) {
  width: 9rem;
}

.publisher1 .head .bg {
  /* width: 360px; */
  margin: 0 auto;
}

.publisher1 .head p{
  font-size: 0.32rem;
  color: rgba(56, 47, 68, 1);
  font-weight: 600;

}
.publisher1 .headDescr {
  width: 150px;
  height: 150px;
}
.publisher1 .headDescr .bg img {
  width: 148px;
  height: 148px;
}
.publisher1 .headDescr h3 {
  font-size: 13px;
  top: 2rem;
  margin-left: -83px;
}
.publisher1 .headDescr p {
  width: 300px;
  font-size: 12px;
  top: 3.2rem;
  line-height: 20px;
  left: 50%;
  margin-left: -150px;
}
.issuers {
  width: 12rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.issuers .issuersCon {
  width: 40%;
  padding-bottom: 0.2rem;
  box-sizing: border-box;
  margin: 0 0.5rem;
  border-bottom: 1px solid rgba(212, 205, 225, 0.5);
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.issuers .issuersCon p {
  color: rgba(97, 89, 106, 1);
  font-size: 0.24rem;
  line-height:0.5rem;
  margin-top: 0.3rem;
  font-weight: 300;
}
.issuers .issuersCon:nth-child(1) > div img {
  width: 1.12rem;
  height: 0.94rem;
}
.issuers .issuersCon:nth-child(2) > div img {
  width: 0.96rem;
  height: 1.04rem;
}
.issuers .issuersCon:nth-child(3) > div img {
  width: 1.01rem;
  height:0.8rem;
}
.issuers .issuersCon:nth-child(4) > div img {
  width: 1.25rem;
  height: 1.03rem;
}

.forWorldDescrs {
  width: 12rem;
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
}
.forWorldDescrs .eachDescr {
  position: relative;
  margin-left: 0.25rem;
}
.forWorldDescrs .eachDescrs {
  width: 3.8rem;
  height: 4.09rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    RGBA(158, 146, 250, 1) 100%
  );
  border-radius: 20px;
  position: relative;
  z-index: 10;
  padding: 0.88rem 0.25rem 0 0.35rem;
  box-sizing: border-box;
}

.eachDescrs i {
  display: flex;
  margin-top: 8px;
}
.eachDescrs i img {
  width: 0.64rem;
  height: 0.04rem;
}

.forWorldDescrs .eachDescr .logo1,
.forWorldDescrs .eachDescr .logo2,
.forWorldDescrs .eachDescr .logo3,
.forWorldDescrs .eachDescr .logo4 {
  position: absolute;
}
.forWorldDescrs .eachDescr .logo1 {
  left: 0.4rem;
  top: -1.5rem;
}
.forWorldDescrs .eachDescr .logo2 {
  left: 1.1rem;
  top: -1.05rem;
  z-index: 11;
}
.forWorldDescrs .eachDescr .logo3 {
  left: -0.12rem;
  bottom: 0.17rem;
}
.forWorldDescrs .eachDescr .logo4 {
  right: 0.1rem;
  bottom: -0.15rem;
  z-index: 11;
}
.forWorldDescrs .eachDescr .logo1 img {
  width: 2.51rem;
  height: 2.25rem;
}
.forWorldDescrs .eachDescr .logo2 img {
  width: 2.05rem;
  height: 1.73rem;
}
.forWorldDescrs .eachDescr .logo3 img {
  width: 2.03rem;
  height: 1.35rem;
}
.forWorldDescrs .eachDescr .logo4 img {
  width: 2.36rem;
  height: 1.94rem;
}

.forWorldDescrs .eachDescr:nth-child(4) .logo1 {
  top: -1.5rem;
}
footer {
  width: 100%;
  height: 4.64rem;
  background: url("../../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer h2 {
  height: 0.56rem;
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin: 1.7rem 0 0.05rem 3.62rem;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 3.09rem;
}
footer > div i {
  display: flex;
}
footer > div i img {
  margin-top: 0.04rem;
  width: 0.27rem;
  height: 0.22rem;
}
footer > div label {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 0.17rem;
}
footer > p {
  font-size: 0.15rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 1.7rem;
}
.hide_show_header_mob {
  display: none;
}
@media (max-width: 1000px) {
  .hide_show_header_mob {
    display: flex;
  }
  #dw-p1 {
    height: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head {
    width: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button {
    border: 0;
    outline: 0;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i {
    width: 1rem;
    height: 1rem;
    display: flex;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i img {
    width: 0.6rem;
    height: 0.6rem;
  }
  .logo img {
    width: 90px;
    height: 25px;
  }
  .phone_list {
    height: 100%;
    background-color: #4b199f;
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
  }
  .phone_list > a,
  .phone_list > span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(248, 248, 248, 1);
    line-height: 14px;
    margin-top: 47px;
    cursor: pointer;
  }
  .phone_list a.active {
    color: rgba(248, 248, 248, 0.6)!important;
  }
  .phone_list > span {
    width: 90px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
  }
  .phone_list > .change {
    position: absolute;
    bottom: 16px;
  }
  .phone_list > .change a {
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
    padding: 0 17px;
    box-sizing: border-box;
    color: #FFF;
  }
  .phone_list > .change a:not(.en) {
    border-right: 1px solid #fff;
  }
  .hide_show_header_pc {
    display: none;
  }
  .default .headContent .headLogo {
    right: -15px;
  }
  .default .headContent .headTalk {
    left: -2.5px;
    bottom: 3px;
  }
  .bmd-layout-drawer .home {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 24px;
    left: 30px;
    font-weight: 300;
  }
  .bmd-layout-drawer .close {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 200px;
    font-weight: 300;
  }
  .headContent .headLogo{
    bottom: -0.5rem;
  }
}
@media (max-width: 750px) {
  .logo img {
    width: 70px;
    height: 18px;
  }
  .mebers{
    width: 355px;
    margin-top:-10px;
  }
  .mebers .head .bg i, .publisher1 .head .bg i{
    width: 20px;
    height: 2px;
    margin-top: 8px;
  }
  .headContent .headTalk p img {
    width: 35px;
    height: 44px;
  }
  .headContent .headTalk {
    left: -50px;
    bottom: 2.5rem;
  }
  .headContent .headTalk > div{
    margin-top: -3px;
  }
  .headContent .headTalk p:nth-child(1) {
    font-size: 12px;
    
  }
  .headContent .headTalk p:nth-child(2) {
    font-size: 14px;
  }
  .headContent .headLogo {
    right: -80px;
    /* bottom: -15px; */
  }
  .mebers .head{
    width: 290px;
  }
  .publisher1 .head {
    width: 330px;
  }
  .mebers .head .bg .img_left,
  .mebers .head .bg .img_right,
  .publisher1 .head .bg .img_left,
  .publisher1 .head .bg .img_right {
    width: 100px;
    height: 15px;
  }
  .mebers .head p{
    font-size: 12px;

  }
  .publisher1 .head p{
    font-size: 12px;

  }
  .mebers .headDescr,
  .publisher1 .headDescr {
    width: 150px;
    height: 150px;
  }
  .mebers .headDescr .bg img,
  .publisher1 .headDescr .bg img {
    width: 148px;
    height: 148px;
  }
  .mebers .headDescr h3,
  .publisher1 .headDescr h3 {
    font-size: 13px;
    top: 2rem;
    margin-left: -83px;
  }
  .mebers .headDescr p,
  .publisher1 .headDescr p {
    width: 300px;
    font-size: 12px;
    top: 3.2rem;
    line-height: 20px;
    left: 50%;
    margin-left: -150px;
  }
  .forWorldDescr {
    width: auto;
    margin: 0 auto;
    margin-top: 0;
    display: flex;
    overflow-x: auto;
  }

  .forWorldDescr .eachDescr {
    width: 300px;
    height:505px;
    padding-top: 50px;
    position: relative;
    margin-left: -25px;
  }
  .forWorldDescr .eachDescr:last-child {
    margin-right: 0;
  }
  .forWorldDescr .eachDescrs {
    width: 290px;
    height: 420px;
    background: url('../../img/矩形复制 77@2x.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    position: relative;
    top:30px;
    z-index: 10;
    padding: 30px 35px 10px 35px;
    box-sizing: border-box;
    margin-top: 2px;
  }
  .forWorldDescr .eachDescrs h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .forWorldDescr .eachDescrs i {
    display: flex;
  }
  .forWorldDescr .eachDescrs i img {
    display: none;
  }
  .forWorldDescr .eachDescrs p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
  }
  .forWorldDescr .eachDescr .logo1,
  .forWorldDescr .eachDescr .logo2 {
    position: absolute;
  }
  .forWorldDescr .eachDescr .logo1 {
    left: 50%;
    margin-left: -55px;
    top: 20px;
  }
  .forWorldDescr .eachDescr .logo2 {
    left: 50%;
    margin-left: -27px;
    top: 40px;
    z-index: 11;
  }

  .forWorldDescr .eachDescr .logo1 img {
    width: 99px;
    height: 88px;
  }
  .forWorldDescr .eachDescr .logo2 img {
    width: 92px;
    height: 74px;
  }
  .forWorldDescr .eachDescr .logo3 img,
  .forWorldDescr .eachDescr .logo4 img {
    display: none;
  }
  .forWorldDescr .eachDescr:nth-child(2) .logo1 {
    top: 20px;
  }
  .forWorldDescr .eachDescr:nth-child(2) .logo1 img {
    width: 94px;
    height: 88px;
  }
  .forWorldDescr .eachDescr:nth-child(2) .logo2 {
    top: 38px;
    margin-left: -25px;
  }
  .eachDescrs i img{
    width: 20px;
    height: 2px;
  }
  .service {
    width: 375px;
    height: 146px;
    margin-left: -10px;
  }
  .service:nth-child(5){
    margin-top:70px;
  }
  .service:nth-child(5) .logo img{
    margin-top: -20px;
  }
  .service .logo img {
    width: 102px;
    height: 87px;
    top: -40px;
  }
  .service h2 {
    width: 204px;
    font-size: 14px;
    /* margin: 13px 0; */
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: 15px;
  }
  .service p {
    width: 330px;
    font-size: 12px;
    margin-left: 15px;
    line-height: 15px;
    letter-spacing: 0;
    font-weight: 100;
  }
  .service:nth-child(3) p:nth-child(3) {
    width: 280px;
  }
  .service p:nth-child(3) {
    width: 330px;
  }
  .service p:nth-child(4) {
    width: auto;
  }
  .service:nth-child(6) {
    height: 140px;
  }
 
  .publisher {
    display: none;
  }
  .publisher1 {
    display: flex;
    flex-direction: column;
  }
  .publisher1 .head {
    margin-top: 0;
  }
  .issuers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .issuers .issuersCon {
    width: 44%;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 0 10px;
    border-bottom: 1px solid rgba(212, 205, 225, 0.5);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .issuers .issuersCon p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 11px;
    font-weight: 100;
  }
  .issuers .issuersCon:nth-child(1) p{
    margin-top: 20px;
  }
  .issuers .issuersCon:nth-child(3) p{
    margin-top: 15px;

  }
  .issuers .issuersCon:nth-child(1) > div img {
    width: 36px;
    height: 30px;
  }
  .issuers .issuersCon:nth-child(2) > div img {
    width: 36px;
    height: 39px;
  }
  .issuers .issuersCon:nth-child(3) > div img {
    width: 36px;
    height: 30px;
  }
  .issuers .issuersCon:nth-child(4) > div img {
    width: 40px;
    height: 35px;
  }
  footer h2 {
    margin: 28px 0 10px 30px;
    font-size: 10px;
  }
  footer > div {
    margin-left: 17px;
  }
  footer > div i img {
    width: 10px;
    height: 8px;
    margin-top: 2px;
  }
  footer > div label {
    font-size: 12px;
  }
  footer > p {
    font-size: 8px;
    margin-top: 10px;
    /* margin: 20px 0; */
    /* margin-bottom: 30px !important; */
  }
}
@media (max-width: 321px) {
  .mebers{
    width: 320px;
  }
  .headContent .headTalk p:nth-child(1) {
    font-size: 10px;
    
  }
  .headContent .headTalk p:nth-child(2) {
    font-size: 12px;
  }
  .service {
    width: 320px;
    margin-left: 0;
  }
  .service .logo img{
    right: 5px;
  }
  .service:nth-child(3) p:nth-child(3){
    width: 210px;
  }
  /* .headContent .headLogo{
    right: -50px;
  } */
  .service p:nth-child(4){
    width: 290px;
  }
  .service p:nth-child(3){
    width: 290px;
  }
  .issuers .issuersCon {
    width: 43%;
  }
  .publisher1 .head .bg .img_left,
  .publisher1 .head .bg .img_right {
    width: 90px;
    height: 15px;
  }
  .publisher1 .head {
    width: 310px;
  }
  .mebers .head .bg i, .publisher1 .head .bg i{
    margin-top: 8px;
  }
  footer h2 {
    margin: 20px 0 10px 30px;
    font-size: 10px;
  }
  footer > p {
    margin-top: 5px !important;
  }
}
