.foot {
  width: 989px;
  margin: 0 auto;
}
.foot .linkPage {
  width: 100%;
  height: 126px;
  color: #501ba2;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.foot .linkPage a {
  height: 32px;
  width: 190px;
  color: #501ba2;
  font-size: 18px;
  line-height: 18px;
  /* margin-bottom: 20px; */
  margin-right: 50px;
}
.foot .linkPage a:nth-child(5),
.foot .linkPage a:nth-child(8) {
  margin-left: 240px;
}
.foot .linkPage .logo a {
  margin-top: 0;
  /* margin-right: 100px; */
  width: 60px;
  height: 32px;
  /* display: block; */
}
.foot .linkPage .logo a img {
  width: 100%;
  height: 100%;
}
/* .foot .linkPage :nth-child(1) img {
  width: 60px;
  height: 32px;
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
}
.foot .linkPage :nth-child(2),
:nth-child(3),
:nth-child(4) {
  display: flex;
  flex-direction: row;
} */
.foot .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foot .info .email {
  width: 200px;
}
.foot .info .email p {
  display: flex;
}
footer .email p img {
  max-width: 19px;
  max-height: 15px;
  margin-right: 10px;
}
@media (max-width: 1000px) {
  .foot {
    width: 90%;
  }

  .foot .linkPage a {
    font-size: 14px;
    font-weight: 300;
    color: #501ba2;
    margin-top: 15px;
    line-height: 13px;
    width: 85px;
    margin-right: 20px;
  }
  .foot .linkPage a.logo {
    width: 100%;
    margin-bottom: 10px;
  }
  .foot .linkPage a.logo img {
    width: 50px;
    height: 24px;
  }
  .foot .linkPage a:nth-child(5),
  .foot .linkPage a:nth-child(8) {
    margin-left: 0;
  }
  .info {
    margin-top: 100px;
    font-size: 12px;
    flex-wrap: wrap;
  }
  .copyright {
    width: 100%;
    position: relative;
    top: 100px;
    text-align: center;
  }
  .copyright p {
    widows: 100%;
    font-size: 12px;
    line-height: 12px;
  }
  .email {
    padding-left: 0px;
    align-items: baseline;
    position: relative;
    top: 3px;
  }
  .email p {
    font-size: 12px;
    line-height: 12px;
  }
  .lang{
    display: flex;
    align-items: baseline;
  }
}
