/* header{
    width: 100%;
    height: 400px;
    background: url('../images/蒙版\ 3@2x.png') no-repeat,url('../images/IMG_7794.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
} */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-family: "OpenSans-Regular.ttf";
  src: url(./font/OpenSans-Regular.ttf);
}
/* header */
header {
  display: flex;
}
.head {
  display: flex;
  line-height: 100px;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav a {
  margin-right: 10px;
}
.lang a {
  margin-left: 10px;
}
/* home_page */
.headTalk {
  position: absolute;
  top: 280px;
}
.wel {
  font-size: 72px;
  font-weight: 400;
  color: #fff;
  line-height: 72px;
}
.go_whitePaper a {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.go_whitePaper img {
  max-width: 98px;
  max-height: 98px;
  margin-left: 20px;
}
.margin {
  margin-top: 130px;
}
.go_white {
  font-size: 30px;
  font-weight: 600;
  color: rgba(80, 27, 162, 1);
}
.h_title {
  font-weight: 400;
  color: #382f44;
  font-size: 40px;
  line-height: 32px;
}
.h_con {
  font-size: 28px;
  font-weight: 400;
  color: #501ba2;
  line-height: 45px;
  margin-top: 52px;
  margin-bottom: 62px;
}
.vs_img {
  display: flex;
  margin: 80px 0;
  margin-top: 180px;
}
.vs_img .v_img1 img {
  max-width: 500px;
  max-height: 653px;
  position: relative;
  z-index: 2;
}
.vs_img .v_img2 img {
  max-width: 500px;
  max-height: 653px;
  margin-left: -40px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}
.real_title {
  font-size: 35px;
  font-weight: 600;
  color: #382f44;
  line-height: 56px;
}
.real_intro {
  font-size: 24px;
  font-weight: 300;
  color: #5d5666;
  line-height: 32px;
  margin-bottom: 50px;
}
.forReal {
  background: #f9f9f9;
  padding-left: 20px;
  padding-top: 50px;

  box-sizing: border-box;
}
.real_list > .wp-block-group__inner-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.real_contents {
  width: 32%;
  margin-right: 10px;
  margin-top: 50px;
}
.real_contents img {
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
  display: flex;
}
.real_contents h3 {
  text-align: center;
}
.real_contents p {
  font-size: 20px;
  font-weight: 300;
  color: #5d5666;
  line-height: 28px;
}

.wh_content > .wp-block-group__inner-container {
  display: flex;
  background: #f9f9f9;
  justify-content: space-between;
  padding-top: 300px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.wh_content2 > .wp-block-group__inner-container {
  display: none;
}
.wh_con {
  display: flex;
  flex-direction: column;
  /* margin-top: 300px; */
  position: relative;
  top: -50px;
}
.know_list {
  margin-top: 30px;
}
.know_list .know_title {
  font-size: 30px;
  font-weight: 300;
  color: rgba(93, 86, 102, 1);
  margin-top: 50px;
}
.know_lists > .wp-block-group__inner-container {
  width: 227px;
  height: 414px;
}

.know_content > .wp-block-group__inner-container {
  width: 100%;
  display: flex;
  /* overflow-x: auto; */
}
.know_content > .wp-block-group__inner-container .know_lists {
  margin-right: 20px;
  padding: 15px;
  box-sizing: border-box;
}
.banner {
  position: relative;
}
.banner .swiper-container {
  width: 100%;
  margin-top: 32px;
}
.banner .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.banner .swiper-container .swiper-wrapper > .wp-block-group__inner-container {
  display: flex;
}
.banner .swiper-container .swiper-wrapper .swiper-slide .know_title1 {
  font-size: 24px;
  font-weight: 500;
  color: rgba(249, 249, 249, 1);
  line-height: 32px;
}
.banner .swiper-container .swiper-wrapper .swiper-slide .know_intro {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  margin-left: 20px;
  margin-top: -100px;
}
.swiper-container1 .swiper-wrapper .swiper-slide p {
  /* display:none; */
}
.swiper-container1 {
  display: flex;
}
.swiper-container2 {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  top: 18px;
  width: 37px;
  height: 33px;
  z-index: 2;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: unset;
}
.swiper-button-next {
  background: url("../images/rightArrow.png") no-repeat;
  background-size: 100% 100%;
  right: 18%;
}
.swiper-button-prev {
  left: auto !important;
  right: 23%;
  background: url("../images/leftArrow.png") no-repeat;
  background-size: 100% 100%;
}
.swiper-button-next.swiper-button-disabled {
  background: url("../images/rightClick.png") no-repeat;

  background-size: 100% 100%;
}
.swiper-button-prev.swiper-button-disabled {
  background: url("../images/leftClick.png") no-repeat;
  background-size: 100% 100%;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(1) {
  background: #60419e;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(2) {
  background: #2e2c64;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(3) {
  background: #3e697b;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(4) {
  background: #62409e;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(5) {
  background: #2d2d64;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(6) {
  background: #3d6a79;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(7) {
  background: #6041a0;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(8) {
  background: #2e2c64;
}
.know_content > .wp-block-group__inner-container .know_lists:nth-child(9) {
  background: #3e697b;
}
.know_title1 {
  font-size: 26px;
  font-weight: 500;
  color: #f9f9f9;
}
.know_img {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.know_img img {
  width: 174px;
  height: 180px;
}
.know_intro {
  font-size: 18px;
  display: none;
}
.white_title {
  font-size: 50px;
  font-weight: 600;
  color: rgba(56, 47, 68, 1);
}
.go_whites .wp-block-group__inner-container {
  display: flex;
  align-items: center;
}
.go_img {
  margin-left: 10px;
}
.go_whites p {
  margin-bottom: 0;
}
.association_list > .wp-block-group__inner-container {
  display: flex;
  width: 100%;
  background: #f1f1f1;
  justify-content: space-between;
  margin-top: 180px;
}
.association_content {
  width: 50%;
  margin-top: 130px;
}
.association_content .association_intro {
  font-size: 24px;
  font-weight: 400;
  color: rgba(56, 47, 68, 1);
}
.association_content .association_title {
  font-size: 45px;
  font-weight: 600;
  color: rgba(93, 86, 102, 1);
}
.go_association {
  font-size: 32px;
  font-weight: 600;
  color: rgba(80, 27, 162, 1);
  white-space: nowrap;
  margin-bottom: 0;
}
.go_associationsImg {
  position: relative;
  max-width: 100px;
  max-height: 100px;
  margin-left: 15px;
}
.go_associations > .wp-block-group__inner-container {
  display: flex;
  align-items: center;
}
.go_association_img1 img {
  max-width: 100px;
  max-height: 100px;
}

.go_association_img2 img {
  max-width: 33px;
  max-height: 29px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -15px;
}
.person_list {
  margin-top: 120px;
  margin-bottom: 50px;
}
.person_list > .wp-block-group__inner-container {
  display: flex;
  justify-content: space-around;
}
.preson_lists {
  text-align: center;
}
.preson_lists .person_title {
  font-size: 30px;
  font-weight: 400;
  color: rgba(56, 47, 68, 1);
}
.preson_lists .person_name {
  font-size: 22px;
  font-weight: 600;
  color: rgba(56, 47, 68, 1);
}
.preson_lists > .wp-block-group__inner-container {
  margin-right: 20px;
}
.person_list figure {
  margin: 20px;
}
.preson_lists .person_img img {
  width: 270px;
  height: 370px;
}
/* vision_page */
.vision_headTalk > .wp-block-group__inner-container {
  position: absolute;
  top: 200px;
  width: 920px;
}
.vision_title {
  font-size: 72px;
  color: rgba(249, 249, 249, 1);
}
.vision_intro {
  font-size: 26px;
  font-weight: 400;
  color: rgba(249, 249, 249, 1);
  line-height: 60px;
}
.vision_con {
  padding: 64px 50px;
  box-sizing: border-box;
  font-size: 24px;
  color: rgba(56, 47, 68, 1);
  line-height: 32px;
  background: rgba(255, 255, 255, 1);
  margin-top: -100px;
}
/* assionation_page */
.association_headTalk {
  position: absolute;
  top: 200px;
  width: 920px;
}
.association_headTalk .association_title {
  font-size: 72px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.association_headTalk .association_intro {
  font-size: 30px;
  font-weight: 400;
  color: rgba(249, 249, 249, 1);
  line-height: 38px;
  letter-spacing: 1px;
}
.section {
  margin-top: -100px;
  background: #fff;
  padding-top: 20px;
  padding-left: 30px;
  box-sizing: border-box;
}
.a_title {
  display: flex;
  margin-top: 60px;
}
.a_title img {
  width: 7px;
  height: 27px;
  margin-right: 10px;
}
.a_title figcaption strong {
  font-size: 30px;
  font-weight: 400;
  color: rgba(56, 47, 68, 1);
}
.a_intro {
  font-size: 20px;
  font-weight: 400;
  color: rgba(93, 86, 102, 1);
  line-height: 54px;
  margin-top: 40px;
}
.contents1 > .wp-block-group__inner-container {
  display: flex;
}
.content1 {
  width: 45%;
  margin-top: 120px;
  margin-left: 35px;
}

.content1 > figure img {
  width: 165px;
  height: 165px;
  display: flex;
  margin: 0 auto;
}
.a_content_title {
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.a_content_title img {
  width: 7px;
  height: 27px;
}
.a_content_title figcaption strong {
  font-size: 30px;
  font-weight: 600;
  color: rgba(56, 47, 68, 1);
  margin-left: 10px;
}
.a_content_intro {
  font-size: 22px;
  font-weight: 300;
  color: #5d5666;
  line-height: 28px;
}
/* develope_page */
.deve_title {
  font-size: 32px;
  color: rgba(56, 47, 68, 0.79);
  font-weight: 400;
  margin-top: 100px;
  text-align: center;
  clear: both;
}
.deve_title strong {
  font-size: 32px;
}
.line > figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line img {
  max-width: 63px;
  height: 4px;
  margin-top: -20px;
}
.app_list > ul {
  display: flex;
}
.app_list > ul li {
  margin-right: 20px;
}
.app_list > ul li:last-child {
  margin-right: 0;
}
.app_list img {
  /* width: 20%; */
  max-height: 536px;
}
.app_soon {
  width: 48%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}
.app_soon .wp-block-media-text__media img {
  max-width: 300px;
  max-height: 300px;
}
.app_soon .wp-block-media-text__content img {
  max-width: 221px;
  max-height: 55px;
}
.download {
  display: flex;
  justify-content: flex-end;
}
.download img {
  max-width: 20px;
  max-height: 25px;
}
.download figcaption {
  font-size: 20px;
  margin-left: 10px;
}
/* parters_page */
.partner_headContent {
  display: flex;
  align-items: center;
  position: absolute;
  top: 230px;
}
.partner_headContent img {
  max-width: 127px;
  max-height: 168px;
}
.partner_headContent h2 {
  font-size: 55px;
  font-weight: 600;
  margin-left: 40px;
  color: #fff;
}
.partner_headContent h3 {
  color: #fff;
  font-size: 46px;
  font-weight: 400;
  margin-left: 40px;
}
.contents2 {
  margin-top: -100px;
  background: #fff;
}
.contents2 > .wp-block-group__inner-container {
  display: flex;
}
.contents2 > .wp-block-group__inner-container .a_content_title {
  align-items: flex-start;
}
.contents2 > .wp-block-group__inner-container .a_content_title img {
  margin-top: 10px;
}
/* media_page */
.media_headTalk {
  position: absolute;
  top: 200px;
}
.media_headTalk .title {
  font-size: 72px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  line-height: 72px;
}
.media_headTalk p {
  font-size: 30px;
  font-weight: 400;
  color: rgba(249, 249, 249, 1);
  line-height: 38px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.title1 {
  font-size: 30px;
  font-weight: 600;
  /* color:rgba(249,249,249,1); */
  line-height: 38px;
  letter-spacing: 1px;
  text-align: center;
}
.media_content {
  margin-top: -100px;
  background: #fff;
  padding-top: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}
.content_title {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.content_title img {
  max-width: 7px;
  max-height: 14px;
  margin-right: 10px;
  margin-top: -3px;
}
.content_title figcaption > strong {
  font-size: 24px;
  color: #382f44;
  font-weight: 600;
  margin-left: 0;
}
.content_title strong {
  font-size: 20px;
  line-height: 24px;
  margin-left: 15px;
}
.title2 {
  color: #3a2e46;
  text-align: center;
  margin: 30px 0;
  line-height: 32px;
  font-size: 24px;
  font-weight: 600;
}
.content_intro {
  font-size: 22px;
  font-weight: 300;
  color: #5d5666;
  line-height: 32px;
  margin-left: 15px;
}
/* .sec_content{
  margin-left: 15px;
} */
.sec_content p {
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 22px;
  font-weight: 300;
  color: #5d5666;
}
.sec_content li {
  font-size: 22px;
  font-weight: 300;
  color: #5d5666;
  margin-left: 15px;
}
.content_intro1 {
  margin-top: 40px;
}
.parter_headContent {
  display: flex;
  align-items: center;
}
.parter_headContent img {
  max-width: 107px;
  max-height: 148px;
  margin-right: 20px;
}
.parter_headContent h2 {
  /* color: #fff; */
  font-size: 70px;
  font-weight: 600;
}
.parter_headContent h3 {
  /* color: #fff; */
  font-size: 46px;
  font-weight: 400;
}
.assets {
  display: flex;
  align-items: center;
  clear: both;
  padding-top: 100px;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.assets img {
  max-width: 236px;
  max-height: 238px;
  margin-right: 40px;
}
.assets1 img {
  max-width: 221px;
  max-height: 236px;
  margin-right: 40px;
}
.assets h4 {
  font-size: 32px;
  line-height: 32px;
  margin: 30px 0;
}
.assets p {
  max-width: 650px;
  font-size: 24px;
  font-weight: 300;
  color: #5d5666;
  line-height: 32px;
}
.issuers_contents {
  background: #2d2d64;
  padding-top: 20px;
  /* padding-left: 20px;
    box-sizing: border-box; */
}
.issuers_list {
  margin-top: 70px;
}
.issuers_list > .wp-block-group__inner-container {
  display: flex;
}
.issuers_content {
  width: 25%;
}
.issuers_content img {
  max-width: 100px;
  max-height: 100px;
  display: flex;
  margin: 0 auto;
}
.issuers_content > figcaption {
  height: 470px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
  margin-top: 40px;
  border-right: 1px solid #fff;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.issuers_list .issuers_content:last-child > figcaption {
  border-right: 0;
}
.issuers_title {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.issuers_title img {
  width: 6px;
  height: 25px;
  margin-right: 15px;
}
.issuers_title figcaption strong {
  font-size: 30px;
  font-weight: 400 !important;
  color: #fff;
  line-height: 32px;
}
.issuers_title strong {
  font-size: 30px;
  font-weight: 400 !important;
  color: #fff;
  line-height: 32px;
}
/* whitePaper_page */
.whitePaper_headContent > .wp-block-group__inner-container {
  position: relative;
}
.headContentImg {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.whitePaper_headContents {
  width: 100%;
  background: #fff;
  position: relative;
  /* left: 100px; */
  bottom: 0;
  z-index: 2;
}
.whitePaper_headContents1 .title {
  font-size: 38px;
  font-weight: 500;
  color: #3a2e46;
  line-height: 38px;
  margin-top: 59px;
  margin-bottom: 24px;
  /* margin-left: 53px; */
}
.down > .wp-block-group__inner-container {
  margin-left: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.down > .wp-block-group__inner-container > p {
  border-left: 1px solid #60429e;
  font-size: 20px;
  font-weight: 300;
  color: #5d5666;
  line-height: 19px;
  padding-left: 17px;
  white-space: nowrap;
}
.downloads > .wp-block-group__inner-container {
  display: flex;
  align-items: center;
}
.downloads > .wp-block-group__inner-container > p a {
  display: flex;
  font-size: 32px;
  font-weight: 400;
  color: #3a2e46;
  margin-right: 30px;
}
.downloads > .wp-block-group__inner-container > p {
  font-size: 16px;
  white-space: nowrap;
  margin-right: 10px;
}
.intro1 {
  margin-bottom: 0;
}
.intro1,
.intro2 {
  font-size: 24px;
  font-weight: 300;
  color: #5d5666;
  line-height: 32px;
  margin-bottom: 10px;
  /* margin-left: 53px; */
}
.real_content {
  width: 32%;
  /* float: left; */
}
.real_content img {
  max-width: 165px;
  max-height: 165px;
}
.wh_img {
  max-width: 480px;
  display: flex;
  /* height: 553px; */
  position: relative;
}
.wh_img .white_img1 img {
  max-width: 300px;
  max-height: 243px;
  position: absolute;
  bottom: 0;
}
.wh_img .white_img2 img {
  max-width: 243px;
  max-height: 311px;
  position: absolute;
  bottom: 0;
  left: 35px;
}
.wh_img .white_img3 img {
  max-width: 240px;
  max-height: 345px;
  position: absolute;
  bottom: 0;
  left: 70px;
}
.go_img {
  position: relative;
  max-width: 100px;
  max-height: 100px;
}
.go_whiteImg1 img {
  max-width: 100px;
  max-height: 100px;
}
.go_whiteImg2 img {
  max-width: 33px;
  max-height: 29px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -15px;
}
.r_imgs {
  width: 300px;
  height: 520px;
  /* display: flex; */
  /* margin: 100px 0; */
  position: relative;
}
.r_imgs .r_img1 img {
  max-height: 472px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.r_imgs .r_img2 img {
  max-height: 505px;
  position: absolute;
  bottom: 100px;
  left: 150px;
  z-index: 1;
}
.imgs {
  display: flex;
}
.imgs img {
  max-width: 439px;
  max-height: 191px;
  margin-left: 20px;
}
.imgs .p_img2 img {
  margin-left: 30px;
}

/* footer {
  width: 100%;
  margin-top: 100px;
}
footer .footerNav {
  width: 1400px;
  margin: 0 auto;
  padding-left: 50px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 150px;
}

footer .footerNav .logo img {
  display: flex;
  width: 60px;
  height: 45px;
}
footer .footerNav .logo1 img {
  display: none;
}
footer .footerNav .nav {
  display: flex;
}
footer .footerNav .nav div {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
}
footer .footerNav .nav div a {
  font-size: 26px;
  font-weight: 300;
  word-break: break-all;
  color: rgba(80, 27, 162, 1);
  line-height: 28px;
  margin-bottom: 49px;
}
footer .email {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
footer .email p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(56, 47, 68, 1);
  line-height: 14px;
  display: flex;
}
footer .email p img {
  max-width: 19px;
  max-height: 15px;
  margin-right: 10px;
}
footer .email p span {
  border-right: 1px solid rgba(56, 47, 68, 0.9);
  padding: 0 28px;
  box-sizing: border-box;
  color: rgba(56, 47, 68, 0.9);
  font-size: 14px;
  line-height: 16px;
}
footer .email p span:last-child {
  border-right: 0;
} */

@media (max-width: 1600px) {
  /* home_page */
  .headContent {
    width: 100%;
    height: 608px;
  }
  /* footer {
  margin-top: 163px;
}
footer .footerNav {
    width: 100%;
    margin-bottom: 132px;
}
footer .footerNav .logo img{
      width: 70px;
      height: 20px;
}
footer .footerNav .nav div {
  margin-left: 230px;
} 
footer .footerNav .nav div a {
  font-size: 23px;
  line-height: 23px;
  margin-bottom: 32px;
}
footer .email {
    width:100%;
    margin-bottom: 20px;
}
footer .email p {
    font-size: 12px;
    line-height: 12px;
}
footer .email p img {
        width: 14px;
        height: 11px;
        margin-right: 5px;
}
footer .email p span {
        padding: 0 22px;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 14px;
      } */
}
@media (max-width: 1200px) {
  .margin {
    margin-top: 80px;
  }
  .h_title {
    font-size: 24px;
  }
  .h_con {
    font-size: 36px;
    line-height: 40px;
    margin-top: 40px;
  }
  .vs_img {
    margin-bottom: 80px;
    margin-top: 150px;
    width: 414px;
  }
  .vs_img .v_img1 img {
    width: 452px;
    height: 326px;
  }
  .vs_img .v_img2 img {
    width: 440px;
    height: 315px;
  }
  .forReal {
    padding-top: 70px;
  }
  .real_title {
    font-size: 50px;
  }
  .real_intro {
    font-size: 20px;
    line-height: 28px;
  }
  .real_contents img {
    width: 99px;
    height: 99px;
  }
  .wh_img .white_img1 img {
    max-width: 280px;
    max-height: 233px;
  }
  .wh_img .white_img2 img {
    max-width: 233px;
    max-height: 301px;
    position: absolute;
  }
  .wh_img .white_img3 img {
    max-width: 230px;
    max-height: 335px;
    position: absolute;
  }
  .wh_content > .wp-block-group__inner-container {
    padding-top: 200px;
  }
  .white_title {
    font-size: 45px;
  }
  .go_whites .go_white {
    font-size: 25px;
  }
  .go_img {
    max-width: 80px;
    max-height: 80px;
  }
  .go_whiteImg1 img {
    max-width: 80px;
    max-height: 80px;
  }
  .go_whiteImg2 img {
    max-width: 30px;
    max-height: 26px;
  }
  .know_list .know_title {
    font-size: 25px;
  }
  .know_lists > .wp-block-group__inner-container {
    width: 207px;
    height: 394px;
  }
  .banner .swiper-container .swiper-wrapper .swiper-slide .know_title1 {
    font-size: 20px;
  }
  .know_img img {
    width: 144px;
    height: 150px;
  }
  .r_imgs {
    width: 300px;
    height: 480px;
  }
  .r_imgs .r_img1 img {
    max-height: 422px;
  }
  .r_imgs .r_img2 img {
    max-height: 455px;
  }
  .association_content .association_title {
    font-size: 40px;
  }
  .association_content .association_intro {
    font-size: 22px;
  }
  .go_association {
    font-size: 28px;
  }
  .go_associationsImg {
    max-width: 80px;
    max-height: 80px;
  }
  .go_association_img1 img {
    max-width: 80px;
    max-height: 80px;
  }

  .go_association_img2 img {
    max-width: 30px;
    max-height: 26px;
  }
  /* vision_page */
  .vision_headTalk > .wp-block-group__inner-container {
    top: 100px;
    width: 920px;
  }
  .vision_title {
    margin-bottom: 10px;
  }
  .vision_con {
    padding: 44px 30px;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 30px;
    margin-top: -70px;
  }
  .vision_title {
    font-size: 55px;
    width: 300px;
  }
  .vision_intro {
    font-size: 27px;
  }
  /* .association_page */
  .association_headTalk {
    top: 150px;
  }
  .association_headTalk .association_title {
    font-size: 55px;
  }
  .association_headTalk .association_intro {
    font-size: 27px;
  }
  .section {
    margin-top: -80px;
    background: #fff;
    padding-top: 5px;
    padding-left: 30px;
    box-sizing: border-box;
  }
  .a_title {
    margin-top: 40px;
  }
  .a_title img {
    width: 5px;
    height: 23px;
  }
  .a_title figcaption strong {
    font-size: 25px;
  }
  .a_intro {
    font-size: 28px;
    line-height: 38px;
    margin-top: 30px;
  }
  .content1 {
    margin-top: 50px;
  }
  .content1 > figure img {
    width: 99px;
    height: 99px;
  }
  .a_content_title img {
    width: 5px;
    height: 23px;
  }
  .a_content_title figcaption strong {
    font-size: 25px;
  }
  .a_content_intro {
    font-size: 20px;
    line-height: 25px;
  }
  /* .parter_page */
  .partner_headContent {
    top: 150px;
  }
  .assets img {
    width: 206px;
    height: 188px;
  }
  .assets h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0;
  }
  .assets p {
    font-size: 18px;
    line-height: 24px;
  }
  .issuers_title img {
    width: 5px;
    height: 23px;
  }
  .issuers_title figcaption strong {
    font-size: 25px;
  }
  .issuers_content img {
    width: 80px;
    height: 80px;
  }
  .issuers_content > figcaption {
    height: 360px;
    font-size: 18px;
    line-height: 24px;
    /* margin-top: 30px; */
  }
  /* media_page */
  .media_headTalk {
    top: 150px;
  }
  .media_headTalk .title {
    font-size: 65px;
  }
  .media_headTalk p {
    margin-top: 25px;
    font-size: 25px;
  }
  .media_content {
    margin-top: -60px;
    padding-top: 10px;
  }
  .content_title figcaption > strong {
    font-size: 20px;
  }
  .content_intro {
    font-size: 20px;
    line-height: 30px;
  }
  .sec_content p {
    font-size: 20px;
  }
  .sec_content li {
    font-size: 20px;
  }
  /* footer {
  margin-top: 100px;
} */
  /* footer .footerNav {
    margin-bottom: 98px;
}
footer .footerNav .logo {
      height: 32px;
}
footer .footerNav .nav div {
  margin-left: 170px;
} 
footer .footerNav .nav div a {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 24px;
}
footer .email {
    margin-bottom: 28px;
}
footer .email p {
      font-size: 12px;
      line-height: 12px;
}
footer .email p img {
        width: 10px;
        height: 8px;
        margin-right: 5px;
}
footer .email p span {
        padding: 0 15px;
        box-sizing: border-box;
        font-size: 10px;
        line-height: 10px;
      } */
}
@media (max-width: 1000px) {
  body,
  html {
    width: 100%;
    height: 100%;
  }
  #___gatsby {
    width: 100%;
    height: 100%;
  }
  #gatsby-focus-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  /* vision_page */
  .vision_title {
    font-size: 40px;
  }
  .vision_intro {
    font-size: 20px;
  }
  .vision_headTalk > .wp-block-group__inner-container {
    top: 300px;
    width: 90%;
  }
  .vision_con {
    font-size: 15px;
    /* line-height: 24px; */
    padding: 0;
    box-sizing: border-box;
    margin-top: 50px;
  }
  /* .association_page */
  .section {
    margin-top: 20px;
    padding: 0;
  }
  .association_headTalk {
    top: 250px;
    width: 90%;
  }
  .association_headTalk .association_title {
    font-size: 40px;
  }
  .association_headTalk .association_intro {
    font-size: 20px;
    line-height: 33px;
  }
  .a_title img {
    width: 3px;
    height: 12px;
    /* top: 2px; */
    margin-right: 5px;
  }
  .a_title figcaption strong {
    width: 95%;
    font-size: 14px;
    font-weight: 400;
    color: #382f44;
    line-height: 15px;
    margin: 0 auto 15px;
  }
  .a_title {
    align-items: center;
  }
  .a_intro {
    font-size: 20px;
    color: #501ba2;
    /* line-height: 28px; */
    margin-top: 10px;
  }
  .contents1 > .wp-block-group__inner-container {
    flex-direction: column;
  }
  .content1 {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .a_content_title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .a_content_title img {
    width: 3px;
    height: 15px;
    margin-right: 5px;
  }
  .a_content_title figcaption strong {
    font-size: 18px;
    line-height: 17px;
  }
  .a_content_intro {
    font-size: 14px;
    color: #5d5666;
    line-height: 22px;
  }
  .content1 > figure img {
    margin-left: 0;
  }
  /* parner_page */
  .partner_headContent {
    top: 350px;
  }
  .partner_headContent img {
    display: none;
  }
  .partner_headContent h2 {
    width: 100%;
    font-size: 40px;
    line-height: 50px;
    margin-left: 0;
  }
  .partner_headContent h3 {
    font-size: 20px;
    margin-left: 0;
  }
  .contents2 {
    margin-top: 0;
  }
  .contents2 > .wp-block-group__inner-container {
    flex-direction: column;
  }
  .assets {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .assets img {
    margin-right: 0;
  }
  .assets h4 {
    font-size: 18px;
    font-weight: 600;
    color: #382f44;
    line-height: 24px;
    margin: 50px 0 20px;
  }
  .assets p {
    font-size: 14px;
    font-weight: 300;
    color: #5d5666;
    line-height: 22px;
  }
  .issuers_title img {
    height: 20px;
    margin-right: 10px;
  }
  .issuers_title {
    margin-bottom: -20px;
  }
  .issuers_title figcaption strong {
    font-size: 20px;
    line-height: 24px;
  }
  .issuers_list > .wp-block-group__inner-container {
    flex-direction: column;
  }
  .issuers_content > figcaption {
    border: 0;
  }
  .issuers_content {
    width: 100%;
    margin-top: 20px;
  }
  .issuers_content img {
    margin-left: 20px;
  }
  .issuers_content > figcaption {
    height: auto;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 22px;
    margin-top: 20px;
  }
  /* media */
  .media_headTalk {
    top: 300px;
  }
  .media_headTalk .title {
    font-size: 25px;
    line-height: 37px;
  }
  .media_headTalk p {
    font-size: 20px;
    line-height: 28px;
  }
  .media_content {
    margin-top: 0;
    padding: 0;
  }
  .content_title img {
    display: none;
  }
  .content_intro {
    margin-left: 0;
  }
  .sec_content p {
    margin-left: 0;
  }
  .title1 {
    font-size: 14px;
  }
  .content_title strong {
    margin-left: 0;
  }
  .sec_content li {
    margin-left: 0;
  }

  /* developers */
  .deve_title {
    font-size: 14px;
  }
  .deve_title strong {
    font-size: 14px;
  }
  .line img {
    width: 20px;
    height: 2px;
    margin-top: -35px;
  }
  .app_list ul li:nth-child(1) img {
    display: none;
  }
  .app_list > ul li {
    margin-right: 10px;
  }
  .app_soon .wp-block-media-text__media img {
    width: 132px;
    height: 132px;
  }
  .app_soon .wp-block-media-text__content img {
    width: 100px;
    height: 25px;
    /* border-radius: 40px; */
  }
  /* home */
  .headTalk .wel {
    font-size: 40px;
  }
  .headTalk {
    top: 400px;
  }
  .h_title {
    font-size: 14px;
    margin: -20px 0;
  }
  .h_con {
    font-size: 20px;
  }
  .vs_img {
    width:100%;
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 80px;
  }
  .vs_img .v_img1 img {
    width: 252px;
    height: 176px;
  }
  .vs_img .v_img2 img {
    width: 240px;
    height: 165px;
    margin-left: -150px;
    margin-top: -100px;
  }
  .forReal {
    padding-top: 50px;
    padding-left: 10px;
  }
  .real_title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .real_intro {
    font-size: 14px;
    line-height: 20px;
  }
  .real_list > .wp-block-group__inner-container {
    flex-direction: column;
  }
  .real_contents {
    width: 100%;
  }
  .real_contents p {
    font-size: 15px;
    line-height: 20px;
  }
  .association_list > .wp-block-group__inner-container {
    flex-direction: column;
  }
  .r_imgs {
    margin: 0 auto;
  }
  .r_imgs .r_img1 img {
    max-height: 372px;
    bottom: 50px;
  }
  .r_imgs .r_img2 img {
    max-height: 405px;
    left: 50px;
    bottom: 150px;
  }
  .association_content {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .association_content .association_title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .association_content .association_intro {
    font-size: 12px;
    line-height: 12px;
  }
  .go_association {
    font-size: 14px;
    font-weight: 500;
    color: #5d5666;
    line-height: 14px;
  }
  .go_associationsImg {
    width: 38px;
    height: 38px;
  }
  .go_associations > .wp-block-group__inner-container {
    justify-content: center;
    margin-bottom: 50px;
  }
  .go_association_img1 img {
    width: 38px;
    height: 38px;
  }
  .go_association_img2 img {
    width: 23px;
    height: 23px;
    margin-left: -12px;
    margin-top: -12px;
  }
  .person_list > .wp-block-group__inner-container {
    flex-direction: column;
  }
  .preson_lists .person_title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .preson_lists .person_img img {
    width: 320px;
    height: 460px;
  }
  .preson_lists .person_name {
    font-size: 22px;
  }
  .person_img {
    margin-bottom: 5px;
  }
  .imgs {
    flex-direction: column;
    text-align: center;
  }
  .imgs .p_img2 img {
    margin-left: 0;
  }
  .imgs img {
    width: 320px;
    margin-left: 0;
  }
  .wh_content > .wp-block-group__inner-container {
    display: none;
  }
  .wh_content2 > .wp-block-group__inner-container {
    display: flex;
    background: #f9f9f9;
  }
  .white_title {
    font-size: 20px;
    font-weight: 500;
    color: #382f44;
    /* line-height: 26px; */
  }
  .go_whites .go_white {
    font-size: 14px;
    font-weight: 300;
    color: #5d5666;
    line-height: 22px;
  }
  .go_img {
    width: 38px;
    height: 38px;
  }
  .go_whiteImg1 img {
    width: 38px;
    height: 38px;
  }
  .go_whiteImg2 img {
    width: 23px;
    height: 23px;
    margin-left: -12px;
    margin-top: -12px;
  }
  .wh_img .white_img1 img {
    width: 137px;
    height: 111px;
  }
  .wh_img .white_img2 img {
    width: 111px;
    height: 143px;
    left: 10px;
  }
  .wh_img .white_img3 img {
    width: 110px;
    height: 159px;
    left: 20px;
  }
  .wh_content2 > .wp-block-group__inner-container {
    padding-top: 100px;
    justify-content: space-around;
  }
  .wh_img {
    width: 137px;
    margin-left: 20px;
  }
  .wh_con {
    top: -30px;
  }
  /* whitepaper */
  .headContentImg img {
    width: 80%;
    height: 283px;
  }
  .whitePaper_headContents {
    /* left: 30px; */
    width: 95%;
  }
  .whitePaper_headContents1 .title {
    font-size: 18px;
    line-height: 18px;
    margin-left: 33px;
    margin-top: 22px;
    margin-bottom: 10px;
  }
  .intro1,
  .intro2 {
    margin-left: 33px;
    font-size: 14px;
    line-height: 22px;
  }
  .down > .wp-block-group__inner-container {
    margin-left: 33px;
  }
  .down > .wp-block-group__inner-container > p {
    font-size: 9px;
    line-height: 9px;
    padding-left: 8px;
    box-sizing: border-box;
  }
  .downloads > .wp-block-group__inner-container > p a {
    font-size: 16px;
    white-space: nowrap;
    margin-right: 0;
  }
  .downloads > .wp-block-group__inner-container img {
    width: 44px;
    height: 44px;
  }
  /* footer */
  /* footer .footerNav {
    width: 90%;
    padding: 0;
    flex-direction: column;
    margin: 20px auto;
}
footer .footerNav .logo1 img{
      display: flex;
      width: 50px;
      height: 24px;
      margin-bottom: 20px;
}

footer .footerNav .logo img {
  display: none;
}
footer .footerNav .nav div {
      margin-left: 0;
      width: 33.3%;
}
footer .footerNav .nav div a {
        font-size: 14px;
        font-weight: 300;
        color: rgba(80, 27, 162, 1);
        line-height: 13px;
      }
footer .email {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
footer p:nth-child(1){
      width: 100%;
      position: relative;
      top:60px;
      justify-content: center;
    }
footer p:nth-child(2) {
      width: 60%;
      justify-content: center;
      margin-left: 10px;
}
footer p:nth-child(3) span{
  padding: 2px 10px;

} */
}
