.app{
    position: relative;
}
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 999;
    .head {
      width: 1400px;
      height:100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .logo{
          a {
              display: flex;
            }
          img {
            //   margin-bottom: 0.12rem;
              width: 172px;
              height: 55px;
          }
      }
      .navList {
          display: flex;
          flex:1;
          height: 100%;
          align-items: center;
          margin-right: 100px;
          margin-left:50px;
          li {
              font-size: 16px;
              font-weight: 500;
              color: #FFF;
              margin-left: 55px;
              cursor: pointer;
              white-space: nowrap;
              position: relative;
            }
          .active {
              color: #4A189F;
          }
            
      }
      .descr {
          height: 100%;
          display: flex;
          align-items: center;
          white-space: nowrap;
          a {
              color: #fff;
              margin-left: 20px;
              cursor: pointer;
              font-weight: 400;
              font-size: 14px;
          }
          span {
              color: #501BA2;
              margin-right: 9px;
              cursor: pointer;
          }
          span:nth-child(1) {
              display: inline-block;
              background: #FFF;
              border-radius: 3rem;
            //   line-height: 0.25rem;
              text-align: center;
              font-size: 16px;
              font-weight: 400;
              padding: 10px 21px;
              box-sizing: border-box;
            }
      }
    }
  }