.developers {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
        width: 100%;
        height: 100px;
        // position: absolute;
        // z-index: 999;
        .head {
          width: 1400px;
          height:100%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          .logo{
              a {
                  display: flex;
                }
              img {
                //   margin-bottom: 0.12px;
                  width: 172px;
                  height: 55px;
              }
          }
          .navList {
              display: flex;
              flex:1;
              height: 100%;
              align-items: center;
              margin-right: 100px;
              margin-left:50px;
              li {
                  font-size: 16px;
                  font-weight: 500;
                  color: #4A189F;
                  margin-left: 55px;
                  cursor: pointer;
                  white-space: nowrap;
                  position: relative;
                }
                li:hover{
                  border-bottom: 1px solid #4A189F;
                }
              .active {
                  color: #4A189F;
              }
                
          }
          .descr {
              height: 100%;
              display: flex;
              align-items: center;
              white-space: nowrap;
              a {
                  color: rgba(80, 27, 162, 1);
                  margin-left: 20px;
                  cursor: pointer;
                  font-weight: 400;
                  font-size: 14px;
              }
              span {
                  color: #FFF;
                  margin-right: 9px;
                  cursor: pointer;
              }
              span:nth-child(1) {
                  display: inline-block;
                  background: rgba(80, 27, 162, 1);
                  border-radius: 20px;
                //   line-height: 0.25px;
                  text-align: center;
                  font-size: 16px;
                  font-weight: 400;
                  padding: 10px 21px;
                  box-sizing: border-box;
                }
              span:hover{
                background:#FFF;
                color: #501BA2;
                box-shadow:3px 3px 10px rgb(148, 86, 240);
              }
          }
        }
  }
  section{
    width: 100%;
    height: auto;
    .vision .head {
      width: 920px;
      height:61px;
      margin: 140px auto;
      position: relative;
      display: flex;
      align-items: center;
    }
    .vision1 .head {
      width: 930px;
    }
    .vision2 .head {
      width: 870px;
    }
    .vision .head .bg {
      /* width: 1200px; */
      height: 61px;
      margin: 0 auto;
    }
    .vision .head .bg img {
      position: absolute;
    }
    .vision .head .bg i{
      position: absolute;
      top: 50px;
      width: 73px;
      height: 4px;
      left: 50%;
      margin-left: -45px;
      display: flex;
    }
    .vision .head .bg img {
      width: 100%;
      height: 100%;
    }
    
    .vision .head p {
      font-size: 32px;
      color: rgba(56, 47, 68, .79);
      font-weight: 400;
    }
    .visionContent,
    .vision2Content {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    .vision2Content .code {
      width: 100%;
      height: 370px;
      display: flex;
    }
    .vision2Content .code img {
      width: 100%;
      height: 100%;
    }
    .vision2Content a {
      /* width: 2.5px; */
      font-size: 30px;
      font-weight: 400;
      margin-top: 10px;
      color: rgba(56, 47, 68, .79);
      margin-left: 920px;
      display: flex;
      align-items: center;
    }
    .vision2Content a i{
      width: 20px;
      height: 25px;
      display: flex;
      margin-right:15px;
      background: url('/img/xiazai 2@2x.png') no-repeat;
      background-size: 100% 100%;
    }
    .vision2Content a:hover{
      color: #20BBBA;
    }
    .vision2Content a:hover i{
      background: url('/img/xiazai备份@2x.png') no-repeat;
      background-size: 100% 100%;
    }
    
    .violasPayDescr {
      width: 100%;
      display: flex;
    }
    .violasPayDescr p {
      width: 24%;
      height: 620px;
      margin-right: 8px;
      display: flex;
    }
    .violasPayDescr p:last-child {
      margin-right: 0;
    }
    .violasPayDescr p img {
      width: 100%;
      height: 100%;
    }
    .downloadPay {
      display: flex;
      margin-top: 150px;
    }
    .downloadPay dl {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 200px;
    }
    .downloadPay dl dt {
      width: 300px;
      height: 300px;
      display: flex;
      position: relative;
    }
    .downloadPay dl:nth-child(2) dt{
      border: 1px solid rgba(129, 130, 134, 1);
    
    }
    .downloadPay dl p {
      font-size: 24px;
      font-weight: 400;
      color: rgba(129, 130, 134, 1);
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 50%;
      margin-left: -75px;
      letter-spacing: 2px;
    }
    .downloadPay dl dt img {
      width: 100%;
      height: 100%;
    }
    .downloadPay dl dd {
      width: 221px;
      height: 55px;
      display: flex;
      align-items: center;
      margin-top: 30px;
    }
    .downloadPay dl dd img{
       width: 100%;
       height: 100%;
       border-radius: 28px;
    }
  }
  

  footer{
    width: 100%; 
    margin-top: 200px;
    
    .footerNav{
      width: 1400px;
      margin:0 auto;
      padding-left: 50px;
      box-sizing: border-box;
      display: flex;
      margin-bottom: 150px;
      .logo{
        width: 55px;
        height: 55px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .nav{
        display: flex;
        
        div{
          margin-left: 240px;
          display:flex;
          flex-direction: column;
          a{
            font-size:28px;
            font-weight:300;
            color:rgba(80,27,162,1);
            line-height:28px;   
            margin-bottom: 49px;       
          }
        }
      }
    }
    .email{
      width: 1400px;
      margin:0 auto;
      padding-left: 50px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      p{
        font-size:14px;
        font-weight:400;
        color:rgba(56,47,68,1);
        line-height:14px;
        display: flex;
        img{
          width: 19px;
          height: 15px;
          margin-right:10px;
        }
        span{
          border-right: 1px solid rgba(56, 47, 68, .9);
          padding: 0 28px;
          box-sizing: border-box;
          color: rgba(56, 47, 68, .9);
          font-size:14px;
          line-height:16px;
        }
        span:last-child{
          border-right: 0;
        }
      }
    }
  }
}
@media (max-width:1600px){
  .developers{
    .header {
      height: 80px;
      .head {
        width: 1200px;
        height:100%;
        .logo{
          margin-left: 20px;
            img {
                width: 132px;
                height: 43px;
            }
        }
        .navList {
            margin-right:0;
            margin-left:30px;
            li {
                font-size: 13px;
                margin-left: 45px;
              }   
        }
        .descr {
          margin-right: 40px;
            a {
                margin-left: 20px;
                cursor: pointer;
                font-size: 14px;
            }
            span {
                margin-right: 5px;
            }
            span:nth-child(1) {
                font-size: 13px;
                padding: 8px 18px;
                box-sizing: border-box;
              }
        }
      }
    }
    section{
      .vision .head{
        margin-bottom: 100px;
      }
      .vision .head p {
        font-size: 30px;
      }
      .vision .head .bg i{
        width: 63px;
        height: 4px;
        left: 50%;
        margin-left: -40px;
      }
      .visionContent,
      .vision2Content {
        width: 1150px;
      }
      .vision2Content a{
        margin-left: 900px;
        font-size: 25px;
      }
    }
    footer{
      margin-top: 163px;
      
      .footerNav{
        width: 1200px;
        margin-bottom: 132px;
        .logo{
          width: 44px;
          height: 43px;
        }
        .nav{
          div{
            margin-left: 205px;
            a{
              font-size:23px;
              line-height:23px;   
              margin-bottom: 32px;       
            }
          }
        }
      }
      .email{
        width: 1200px;
        margin-bottom: 20px;
        p{
          font-size:12px;
          line-height:12px;
          img{
            width: 14px;
            height: 11px;
            margin-right:5px;
          }
          span{
            padding: 0 22px;
            box-sizing: border-box;
            font-size:12px;
            line-height:14px;
          }
        }
      }
    }
  }

}
@media (max-width:1200px){
  .developers{
    .header {
      height: 60px;
      .head {
        width: 989px;
        .logo{
          margin-left: 15px;
            img {
                width: 107px;
                height: 33px;
            }
        }
        .navList {
            margin-right:15px;
            // margin-left:30px;
            li {
                font-size: 10px;
                margin-left: 33px;
              }   
        }
        .descr {
          margin-right: 10px;
            a {
                margin-left: 18px;
                font-size: 10px;
            }
            span {
                margin-right: 0;
            }
            span:nth-child(1) {
                font-size: 10px;
                padding: 6px 13px;
                box-sizing: border-box;
              }
        }
      }
    }
    section{
      .vision .head p {
        font-size: 27px;
      }
      .visionContent,
      .vision2Content {
        width: 980px;
      }
      .violasPayDescr{
        margin-left: 15px;
      }
      .violasPayDescr p{
        // width: 247px;
        height: 536px;
      }
      .downloadPay dl:nth-child(1){
         margin-left: 120px;
      }
      .downloadPay dl{
        margin-left: 150px;
        p{
          font-size: 20px;
        }
      }
      .vision2Content a{
        margin-left:790px;
        font-size: 20px;
      }
    }
  footer{
    margin-top: 100px;
    
    .footerNav{
      width: 989px;
      margin-bottom: 98px;
      .logo{
        width: 33px;
        height: 32px;
      }
      .nav{
        div{
          margin-left: 151px;
          a{
            font-size:18px;
            line-height:18px;   
            margin-bottom: 24px;       
          }
        }
      }
    }
    .email{
      width: 989px;
      margin-bottom: 28px;
      p{
        font-size:12px;
        line-height:12px;
        img{
          width: 10px;
          height: 8px;
          margin-right:5px;
        }
        span{
          padding: 0 15px;
          box-sizing: border-box;
          font-size:10px;
          line-height:10px;
        }
      }
    }
  }
}
}
@media (max-width: 1024px) {
  .developers{
    .am-navbar {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 9;
      background: #FFF;
      .am-navbar-left{
        img{
          width: 36px;
          height: 36px;
        }
      }
      .am-navbar-right{
        img{
          width:27px;
          height:21px;
        }
      }
    }
    .my-drawer {
      position: relative;
      -webkit-overflow-scrolling: touch;
      // .am-drawer-content{
      //   position: static;
      // }
      .am-drawer-sidebar{
        height: 100%;
        .am-list{
          width: 240px;
          height: 100%;
          .am-list-body{
            height: 100%;
          }
      }
    } 
    }
    .my-drawer .am-drawer-sidebar {
      background-color: #fff;
      -webkit-overflow-scrolling: touch;
      z-index: 999;
    }
    .am-drawer.am-drawer-right .am-drawer-draghandle{
      width: 0;
    }
    #dw-p1 {
      height: 100%;
    }
    .phone_list {
      height: 100%;
      background-color: #4b199f;
      color: #fff;
      padding-top: 40px;
      padding-left: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
    .phone_list > a,
    .phone_list > span {
      font-size: 14px;
      font-weight: 400;
      color: rgba(248, 248, 248, 1);
      line-height: 14px;
      margin-top: 47px;
    }
    .phone_list a.active {
      color: rgba(248, 248, 248, 0.6)!important;
    }
    .phone_list > span {
      width: 90px;
      display: inline-block;
      border: 1px solid #fff;
      border-radius: 3px;
      text-align: center;
      padding: 2px;
      box-sizing: border-box;
    }
    .phone_list > .change {
      position: absolute;
      bottom: 15px;
    }
    .phone_list > .change a {
      font-size: 14px;
      font-weight: 400;
      line-height: 11px;
      padding: 0 17px;
      box-sizing: border-box;
      color: #FFF;
      border-right: 1px solid #FFF;
    }
    .phone_list > .change a:last-child {
      border-right: 0;
    }
    .bmd-layout-drawer .home {
      width: 14px;
      height: 14px;
      color: #fff;
      position: absolute;
      top: 24px;
      left: 30px;
      font-weight: 300;
    }
    .bmd-layout-drawer .close {
      width: 14px;
      height: 14px;
      color: #fff;
      position: absolute;
      top: 20px;
      left: 200px;
      font-weight: 300;
    }
    section{
      .vision .head .bg{
        height: 20px;
      }
      .vision .head .bg i{
          width: 20px;
          height: 2px;
          margin-top: 5px;
          top:20px;
          margin-left: -10px;
        }
        .vision .head {
          width: 310px;
          height: 20px;
          margin: 60px auto;
          margin-bottom: 50px;
        }
        .vision .head .bg .img_left,
        .vision .head .bg .img_right {
          width: 100px;
          height: 14px;
        }
        .vision .head p {
          font-size: 14px;
        }
        .vision1 .head {
          width: 315px;
        }
        .vision2 .head {
          width: 290px;
        }
        .visionContent,
        .vision2Content {
          width: 350px;
        }
        .violasPayDescr{
          margin-left: 0;
        }
        .violasPayDescr p {
          width: 109px;
          height: 236px;
          margin-right: 15px;
        }
        .vision0 .violasPayDescr p:nth-child(1) {
          display: none;
        }
        .vision1 .violasPayDescr p:nth-child(3) {
          margin-right: 0;
        }
        .vision1 .violasPayDescr p:last-child {
          display: none;
        }
        .downloadPay{
          margin-top: 50px;
        }
        .downloadPay dl {
          width: 132px;
          margin-left: 30px;
        }
        .downloadPay dl:nth-child(1){
          margin-left: 30px;
        }
        .downloadPay dl dt {
          width: 132px;
          height: 132px;
        }
        .downloadPay dl p {
          font-size: 14px;
          margin-top: -15px;
          margin-left: -30px;
        }
        .downloadPay dl dd {
          margin-top: 14px;
        }
        .downloadPay dl dd{
          width: 100px;
          height: 25px;
          border-radius: 40px;
        }
        .downloadPay dl dd img{
          border-radius: 40px;
        }
        .downloadPay dl dd i {
          width: 22px;
          height: 27px;
        }
        .downloadPay dl dd span {
          font-size: 14px;
          margin-left: 10px;
        }
        .vision2Content .code {
          width: 100%;
          height: 116px;
        }
        .vision2Content a{
          font-size: 14px;
          margin-left: 210px;
          margin-top: 10px;
        }
        .vision2Content a img{
          width: 11px;
          height: 14px;
        }
        .vision2Content a i{
          width: 10px;
          height: 15px;
        }
    }
    footer {
      .footerNav {
        width: 90%;
        padding: 0;
        flex-direction: column;
        margin: 20px auto;
        .logo {
          width: 24px;
          height: 24px;
          margin-bottom: 20px;
        }
        .nav div {
          margin-left: 0;
          width: 33.3%;
          a {
            font-size: 14px;
            font-weight: 300;
            color: rgba(80, 27, 162, 1);
            line-height: 13px;
          }
        }
        // .nav div:nth-child(3){
        //   margin-right: 0;
        // }
      }
      .email {
        width: 100%;
        padding: 0;
        p:nth-child(2) {
          margin-left: 0;
        }
      }
    }
  }
  
}
@media (max-width: 321px) {
  .developers{
    section{
      .visionContent {
        width: 320px;
      }
      .vision2Content {
        width: 310px;
      }
      .violasPayDescr p {
        width: 105px;
        height: 216px;
        margin-right: 10px;
      }
      .downloadPay dl {
        margin-left: 18px;
      }
      .downloadPay dl:nth-child(1){
        margin-left: 18px;
      }
      .vision2Content a{
          margin-left: 180px;
        }
    }
  }

}
