.home {
  width: 100%;
  .headContent {
    width: 100%;
    height: 726px;
    background: url("/img/IMG_7794.jpg") no-repeat,
      url("/img/蒙版 3@2x.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    .inset {
      width: 100%;
      height: 392px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .headTalk {
      width: 1400px;
      height: 200px;
      margin: 0 auto;
      p:nth-child(1) {
        font-size: 72px;
        font-weight: 400;
        color: #fff;
        line-height: 72px;
        margin-bottom: 100px;
        margin-top: -100px;
      }
      p:nth-child(2) {
        display: flex;
        align-items: center;
        label {
          color: #fff;
          font-size: 32px;
          font-weight: 500;
          line-height: 32px;
          letter-spacing: 2px;
          margin-right: 31px;
        }
        img {
          width: 117px;
          height: 117px;
        }
      }
    }
  }
  section {
    width: 100%;
    .mission {
      width: 1400px;
      margin: 187px auto;
      padding-left: 50px;
      box-sizing: border-box;
      h4 {
        font-size: 30px;
        font-weight: 400;
        color: rgba(56, 47, 68, 1);
        line-height: 32px;
      }
      p:nth-child(2) {
        font-size: 46px;
        font-weight: 400;
        color: rgba(80, 27, 162, 1);
        line-height: 54px;
        margin-top: 52px;
        margin-bottom: 62px;
      }
      p:nth-child(3) {
        width: 753px;
        font-size: 24px;
        font-weight: 300;
        color: rgba(93, 86, 102, 1);
        line-height: 32px;
      }
    }
    .missionImg {
      width: 1400px;
      height: 830px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 190px;
      .leftImg {
        width: 70%;
        height: 653px;
        // overflow: hidden;
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .rightImg {
        width: 60%;
        height: 564px;
        overflow: hidden;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        img {
          width: 100%;
          height: 1700px;
        }
      }
    }
    .forReal {
      width: 1400px;
      margin: 0 auto;
      background: rgba(249, 249, 249, 1);
      h2 {
        font-size: 56px;
        font-weight: 600;
        color: rgba(56, 47, 68, 1);
        line-height: 56px;
        margin-top: 185px;
        margin-bottom: 59px;
        margin-left: 50px;
      }
      h4 {
        width: 1150px;
        font-size: 24px;
        font-weight: 300;
        color: rgba(93, 86, 102, 1);
        line-height: 32px;
        margin-bottom: 175px;
        margin-left: 50px;
      }
      .forRealContent {
        display: flex;
        flex-wrap: wrap;
        dl {
          width: 28.5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 50px;
          margin-bottom: 170px;
          // justify-content: center;
          dt {
            width: 165px;
            height: 165px;
            display: flex;
            // align-items: center;
            img {
              width: 100%;
              height: 100%;
            }
          }
          dd {
            h3 {
              font-size: 38px;
              font-weight: 600;
              color: rgba(56, 47, 68, 1);
              line-height: 38px;
              margin-top: 44px;
              margin-bottom: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
              s {
                width: 7px;
                height: 29px;
                background: rgba(86, 132, 151, 1);
                margin-right: 13px;
              }
            }
            p {
              font-size: 24px;
              font-weight: 300;
              color: rgba(93, 86, 102, 1);
              line-height: 32px;
              margin: 0 auto;
            }
          }
        }
      }
    }
    .goWhitepaper {
      width: 1400px;
      height: 500px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      background: rgba(249, 249, 249, 1);
      margin-bottom: 150px;
      .img {
        position: relative;
        img:nth-child(1) {
          width: 480px;
          height: 389px;
          position: absolute;
          bottom: 0;
        }
        img:nth-child(2) {
          width: 389px;
          height: 498px;
          position: absolute;
          bottom: 0;
          left: 37px;
        }
        img:nth-child(3) {
          width: 384px;
          height: 553px;
          position: absolute;
          bottom: 0;
          left: 80px;
        }
      }
      .title {
        h3 {
          font-size: 56px;
          font-weight: 600;
          color: rgba(56, 47, 68, 1);
          line-height: 56px;
          margin-top: 60px;
        }
        p {
          display: flex;
          align-items: center;
          margin-top: 70px;
          span {
            font-size: 32px;
            font-weight: 600;
            color: rgba(80, 27, 162, 1);
            line-height: 32px;
          }
          .sq {
            width: 117px;
            height: 117px;
            position: relative;
            margin-left: 20px;
            display: flex;
            img:nth-child(1) {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }
            img:nth-child(2) {
              width: 42px;
              height: 38px;
              position: absolute;
              top: 50%;
              margin-top: -22px;
              left: 50%;
              margin-left: -22px;
            }
          }
        }
      }
    }
    .banner {
      // width: 1300px;
      margin: 0 auto;
      margin-left: 16%;
      position: relative;
      h2 {
        font-size: 32px;
        font-weight: 300;
        color: rgba(93, 86, 102, 1);
        line-height: 32px;
      }
      .swiper-container {
        width: 100%;
        margin-top: 32px;
        .swiper-wrapper {
          .swiper-slide {
            width: 363px!important;
            height: 662px;
            margin-right: 60px !important;
            .img {
              display: flex;
              margin: 0 auto;
              img {
                width: 100%;
                height: 100%;
              }
            }
            h3 {
              font-size: 28px;
              font-weight: 500;
              color: rgba(249, 249, 249, 1);
              line-height: 32px;
              margin-top: 35px;
              margin-bottom: 130px;
              margin-left: 20px;
            }
            p{
              width: 325px;
              font-size: 18px;
              line-height: 20px;
              color: #FFF;
              margin-left: 20px;
              margin-top: -100px;
            }
          }
          .swiper-slide:nth-child(1) {
            background: #60419e;
            .img {
              width: 194px;
              height: 200px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(2) {
            background: #2e2c64;
            .img {
              width: 198px;
              height: 193px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(3) {
            background: #3e697b;
            .img {
              width: 206px;
              height: 218px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(4) {
            background: #62409e;
            .img {
              width: 194px;
              height: 200px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(5) {
            background: #2d2d64;
            .img {
              width: 204px;
              height: 181px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(6) {
            background: #3d6a79;
            .img {
              width: 188px;
              height: 199px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(7) {
            background: #6041a0;
            .img {
              width: 187px;
              height: 186px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(8) {
            background: #2e2c64;
            .img {
              width: 192px;
              height: 166px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
          .swiper-slide:nth-child(9) {
            background: #3e697b;
            .img {
              width: 183px;
              height: 188px;
            }
            p{
              display: none;
            }
            .img:hover{
              display: none;
            }
            .img:hover~p{
              display: block;
            }
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        top: 18px;
        width: 37px;
        height: 33px;
        z-index: 2;
      }
      .swiper-button-next::after,
      .swiper-button-prev::after {
        content: unset;
      }
      .swiper-button-next {
        background: url("/img/rightArrow.png") no-repeat;
        background-size: 100% 100%;
        right: 18%;
      }
      .swiper-button-prev {
        left: auto !important;
        right: 23%;
        background: url("/img/leftArrow.png") no-repeat;
        background-size: 100% 100%;
      }
      .swiper-button-next.swiper-button-disabled {
        background: url("/img/rightClick.png") no-repeat;

        background-size: 100% 100%;
      }
      .swiper-button-prev.swiper-button-disabled {
        background: url("/img/leftClick.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .goAssociation {
      width: 100%;
      height: 794px;
      background: #f1f1f1;
      .content {
        width: 1400px;
        // height: 400px;
        height: 100%;
        margin: 170px auto;
        display: flex;
        justify-content: space-between;
        margin-top: 220px;
        .img {
          position: relative;
          img:nth-child(1) {
            width: 372px;
            height: 672px;
            position: absolute;
            bottom: 0;
            z-index: 2;
          }
          img:nth-child(2) {
            width: 523px;
            height: 785px;
            position: absolute;
            bottom: 0;
            left: 37px;
            z-index: 1;
            margin-bottom: 100px;
            margin-left: 70px;
          }
        }
        .title {
          margin-top: 200px;
          h3 {
            font-size: 56px;
            font-weight: 600;
            color: rgba(56, 47, 68, 1);
            line-height: 56px;
          }
          h4 {
            font-size: 24px;
            font-weight: 400;
            color: rgba(93, 86, 102, 1);
            line-height: 32px;
            margin-top: 30px;
          }
          p {
            display: flex;
            align-items: center;
            margin-top: 70px;
            span {
              font-size: 32px;
              font-weight: 600;
              color: rgba(80, 27, 162, 1);
              line-height: 32px;
            }
            .sq {
              width: 117px;
              height: 117px;
              position: relative;
              margin-left: 20px;
              display: flex;
              img:nth-child(1) {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
              }
              img:nth-child(2) {
                width: 42px;
                height: 38px;
                position: absolute;
                top: 50%;
                margin-top: -22px;
                left: 50%;
                margin-left: -22px;
              }
            }
          }
        }
      }
    }
    .personDescr {
      width: 1300px;
      margin: 0 auto;
      margin-top: 198px;
      h2 {
        font-size: 30px;
        font-weight: 400;
        color: rgba(56, 47, 68, 1);
        line-height: 32px;
        margin-bottom: 36px;
      }
      .person {
        display: flex;
        dl {
          margin-right: 64px;
          dt {
            width: 404px;
            height: 581px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          dd {
            font-size: 30px;
            font-weight: 600;
            color: rgba(56, 47, 68, 1);
            line-height: 24px;
            margin: 32px 0;
          }
        }
        dl:last-child {
          margin-right: 0;
        }
      }
      .icon {
        display: flex;
        margin-top: 150px;
        dl {
          margin-right: 60px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          dt {
            width: 639px;
            height: 191px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          dd {
            display: flex;
            font-size: 24px;
            font-weight: 600;
            color: rgba(32, 9, 255, 1);
            line-height: 40px;
            border-bottom: 1px solid rgba(32, 9, 255, 1);
            margin-top: 22px;
          }
        }
        dl:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .home {
    .headContent {
      width: 100%;
      height: 608px;
      .inset {
        width: 100%;
        height: 326px;
      }
      .headTalk {
        width: 1200px;
        height: 200px;
        margin: 0 auto;
        padding-left: 20px;
        box-sizing: border-box;
        p:nth-child(1) {
          font-size: 60px;
          line-height: 60px;
          margin-bottom: 50px;
          margin-top: -80px;
        }
        p:nth-child(2) {
          display: flex;
          align-items: center;
          label {
            font-size: 27px;
            line-height: 27px;
            margin-right: 25px;
          }
          img {
            width: 98px;
            height: 98px;
          }
        }
      }
    }
    section {
      .mission {
        width: 1200px;
        margin: 168px auto;
        h4 {
          font-size: 25px;
          line-height: 27px;
        }
        p:nth-child(2) {
          font-size: 38px;
          line-height: 45px;
          margin-top: 43px;
          margin-bottom: 50px;
        }
        p:nth-child(3) {
          width: 627px;
          // font-size: 25px;
        }
      }
      .missionImg {
        width: 1200px;
        height: 630px;
        margin-bottom: 190px;
        .leftImg {
          width: 669px;
          height: 501px;
        }
        .rightImg {
          width: 652px;
          height: 486px;
          img {
            width: 100%;
            height: 1600px;
          }
        }
      }
      .forReal {
        width: 1200px;
        h2 {
          font-size: 47px;
          line-height: 47px;
          margin-top: 150px;
          margin-bottom: 49px;
        }
        h4 {
          width: 963px;
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 149px;
        }
        .forRealContent {
          dl {
            width: 28.5%;
            margin-bottom: 150px;
            dt {
              width: 133px;
              height: 133px;
            }
            dd {
              h3 {
                font-size: 32px;
                font-weight: 600;
                line-height: 32px;
                margin-top: 38px;
                margin-bottom: 30px;
                s {
                  width: 6px;
                  height: 23px;
                  background: rgba(86, 132, 151, 1);
                  margin-right: 8px;
                }
              }
              p {
                font-size: 20px;
                line-height: 27px;
              }
            }
          }
        }
      }
      .goWhitepaper {
        width: 1100px;
        height: 400px;
        margin: 170px auto;
        // width: 1200px;
        // height: 500px;
        // margin: 0px auto;
        .img {
          img:nth-child(1) {
            width: 400px;
            height: 324px;
          }
          img:nth-child(2) {
            width: 324px;
            height: 415px;
            left: 30px;
          }
          img:nth-child(3) {
            width: 320px;
            height: 460px;
            left: 60px;
          }
        }
        .title {
          margin-top: 50px;
          h3 {
            font-size: 47px;
            line-height: 47px;
            margin-top: 80px;
          }
          p {
            margin-top: 64px;
            span {
              font-size: 27px;
              line-height: 27px;
            }
            .sq {
              width: 98px;
              height: 98px;
              margin-left: 17px;
              img:nth-child(2) {
                width: 33px;
                height: 29px;
                position: absolute;
                top: 50%;
                margin-top: -16px;
                left: 50%;
                margin-left: -16px;
              }
            }
          }
        }
      }
      .banner {
        // width: 1300px;
        margin-left: 15%;
        h2 {
          font-size: 27px;
          line-height: 27px;
        }
        .swiper-container {
          margin-top: 27px;
          .swiper-wrapper {
            .swiper-slide {
              width: 304px !important;
              height: 553px;
              margin-right: 40px !important;
              h3 {
                font-size: 23px;
                line-height: 27px;
                margin-top:24px;
                margin-bottom: 110px;
                margin-left: 18px;
              }
              p{
                width: 270px;
                font-size: 15px;
                line-height: 17px;
                margin-top: -90px;
              }
            }
            .swiper-slide:nth-child(1) {
              .img {
                width: 174px;
                height: 180px;
              }
            }
            .swiper-slide:nth-child(2) {
              .img {
                width: 178px;
                height: 173px;
              }
            }
            .swiper-slide:nth-child(3) {
              .img {
                width: 186px;
                height: 198px;
              }
            }
            .swiper-slide:nth-child(4) {
              .img {
                width: 174px;
                height: 180px;
              }
            }
            .swiper-slide:nth-child(5) {
              .img {
                width: 184px;
                height: 161px;
              }
            }
            .swiper-slide:nth-child(6) {
              .img {
                width: 168px;
                height: 179px;
              }
            }
            .swiper-slide:nth-child(7) {
              .img {
                width: 167px;
                height: 166px;
              }
            }
            .swiper-slide:nth-child(8) {
              .img {
                width: 172px;
                height: 146px;
              }
            }
            .swiper-slide:nth-child(9) {
              .img {
                width: 163px;
                height: 168px;
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          top: 18px;
          width: 27px;
          height: 23px;
        }
      }
      .goAssociation {
        height: 661px;
        .content {
          width: 1200px;
          margin-top: 170px;
          .img {
            img:nth-child(1) {
              width: 309px;
              height: 560px;
            }
            img:nth-child(2) {
              width: 435px;
              height: 653px;
            }
          }
          .title {
            margin-top: 171px;
            h3 {
              font-size: 47px;
              line-height: 47px;
            }
            h4 {
              font-size: 20px;
              line-height: 27px;
            }
            p {
              margin-top: 46px;
              span {
                font-size: 27px;
                line-height: 27px;
              }
              .sq {
                width: 98px;
                height: 98px;
                img:nth-child(2) {
                  width: 33px;
                  height: 29px;
                  position: absolute;
                  top: 50%;
                  margin-top: -16px;
                  left: 50%;
                  margin-left: -16px;
                }
              }
            }
          }
        }
      }
      .personDescr {
        width: 1150px;
        margin-top: 168px;
        h2 {
          font-size: 25px;
          line-height: 27px;
          margin-bottom: 30px;
        }
        .person {
          dl {
            margin-right: 53px;
            dt {
              width: 336px;
              height: 484px;
            }
            dd {
              font-size: 25px;
              line-height: 20px;
              margin: 27px 0;
            }
          }
        }
        .icon {
          dl {
            margin-right: 52px;
            dt {
              width: 532px;
              height: 159px;
            }
            dd {
              font-size: 20px;
              line-height: 25px;
              margin-top: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .home {
    .headContent {
      height: 452px;
      .inset {
        height: 245px;
      }
      .headTalk {
        width: 989px;
        padding-left: 15px;
        box-sizing: border-box;
        p:nth-child(1) {
          font-size: 45px;
          line-height: 45px;
          margin-bottom: 37px;
          margin-top: -60px;
        }
        p:nth-child(2) {
          label {
            font-size: 20px;
            line-height: 20px;
            margin-right: 19px;
            letter-spacing: 1;
          }
          img {
            width: 73px;
            height: 73px;
          }
        }
      }
    }
    section {
      .mission {
        width: 939px;
        margin: 121px auto;
        h4 {
          font-size: 19px;
          line-height: 20px;
        }
        p:nth-child(2) {
          font-size: 29px;
          line-height: 34px;
          margin-top: 33px;
          margin-bottom: 40px;
        }
        p:nth-child(3) {
          width: 471px;
          font-size: 19px;
          line-height: 24px;
        }
      }
      .missionImg {
        width: 930px;
        height: 430px;
        margin-bottom: 123px;
        .leftImg {
          width: 502px;
          height: 376px;
        }
        .rightImg {
          width: 490px;
          height: 365px;
          img {
            width: 100%;
            height: 1000px;
          }
        }
      }
      .forReal {
        width: 989px;
        h2 {
          font-size: 35px;
          line-height: 35px;
          margin-top: 116px;
          margin-bottom: 37px;
        }
        h4 {
          width: 723px;
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 111px;
        }
        .forRealContent {
          dl {
            width: 28%;
            margin-bottom: 116px;
            dt {
              width: 99px;
              height: 99px;
            }
            dd {
              h3 {
                font-size: 24px;
                line-height: 24px;
                margin-top: 29px;
                margin-bottom: 23px;
                s {
                  width: 4px;
                  height: 17px;
                  margin-right: 4px;
                }
              }
              p {
                font-size: 15px;
                line-height: 20px;
              }
            }
          }
        }
      }
      .goWhitepaper {
        width: 939px;
        height: 300px;
        margin: 110px auto;
        padding-left: 50px;
        .img {
          img:nth-child(1) {
            width: 300px;
            height: 243px;
          }
          img:nth-child(2) {
            width: 243px;
            height: 311px;
            left: 27px;
          }
          img:nth-child(3) {
            width: 240px;
            height: 345px;
            left: 50px;
          }
        }
        .title {
          h3 {
            font-size: 35px;
            line-height: 35px;
          }
          p {
            margin-top: 84px;
            span {
              font-size: 20px;
              line-height: 20px;
            }
            .sq {
              width: 73px;
              height: 73px;
              margin-left: 12px;

              img:nth-child(2) {
                width: 24px;
                height: 20px;
                top: 50%;
                margin-top: -12px;
                left: 50%;
                margin-left: -12px;
              }
            }
          }
        }
      }
      .banner {
        // width: 1300px;
        margin-left: 12%;
        h2 {
          font-size: 20px;
          line-height: 20px;
        }
        .swiper-container {
          margin-top: 20px;
          .swiper-wrapper {
            .swiper-slide {
              width: 227px !important;
              height: 414px;
              margin-right: 35px !important;
              h3 {
                font-size: 17px;
                line-height: 20px;
                margin-top: 18px;
                margin-bottom: 70px;
                margin-left: 13px;
              }
              p{
                width: 205px;
                font-size: 11px;
                line-height: 12px;
                margin-top: -60px;
                margin-left: 13px;
              }
            }
            .swiper-slide:nth-child(1) {
              .img {
                width: 154px;
                height: 160px;
              }
            }
            .swiper-slide:nth-child(2) {
              .img {
                width: 158px;
                height: 153px;
              }
            }
            .swiper-slide:nth-child(3) {
              .img {
                width: 166px;
                height: 178px;
              }
            }
            .swiper-slide:nth-child(4) {
              .img {
                width: 154px;
                height: 160px;
              }
            }
            .swiper-slide:nth-child(5) {
              .img {
                width: 164px;
                height: 141px;
              }
            }
            .swiper-slide:nth-child(6) {
              .img {
                width: 148px;
                height: 159px;
              }
            }
            .swiper-slide:nth-child(7) {
              .img {
                width: 147px;
                height: 146px;
              }
            }
            .swiper-slide:nth-child(8) {
              .img {
                width: 152px;
                height: 126px;
              }
            }
            .swiper-slide:nth-child(9) {
              .img {
                width: 143px;
                height: 148px;
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          top: 18px;
          width: 27px;
          height: 23px;
        }
      }
      .goAssociation {
        height: 492px;
        .content {
          width: 959px;
          .img {
            img:nth-child(1) {
              width: 232px;
              height: 420px;
            }
            img:nth-child(2) {
              width: 327px;
              height: 490px;
            }
          }
          .title {
            margin-top: 128px;
            margin-right: 20px;
            h3 {
              font-size: 35px;
              line-height: 35px;
            }
            h4 {
              font-size: 15px;
              line-height: 20px;
            }
            p {
              margin-top: 34px;
              span {
                font-size: 20px;
                line-height: 20px;
              }
              .sq {
                width: 73px;
                height: 73px;
                img:nth-child(2) {
                  width: 23px;
                  height: 19px;
                  position: absolute;
                  top: 50%;
                  margin-top: -12px;
                  left: 50%;
                  margin-left: -12px;
                }
              }
            }
          }
        }
      }
      .personDescr {
        width: 909px;
        margin-top: 124px;
        h2 {
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 21px;
        }
        .person {
          dl {
            margin-right: 41px;
            dt {
              width: 252px;
              height: 363px;
            }
            dd {
              font-size: 18px;
              line-height: 15px;
              margin: 20px 0;
            }
          }
        }
        .icon {
          dl {
            margin-right: 39px;
            dt {
              width: 399px;
              height: 119px;
            }
            dd {
              font-size: 15px;
              line-height: 19px;
              margin-top: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .home {
    .headContent {
      .headTalk {
        width: 100%;
      }
    }
    section {
      .mission {
        width: 100%;
        margin: 20px auto;
        padding: 20px;
        h4 {
          font-size: 14px;
        }
        p:nth-child(2) {
          font-size: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .missionImg {
        width: 90%;
        padding: 0 20px;
        margin-bottom: 90px;
        .leftImg,
        .rightImg {
          // width: 70%;
          height: 70%;
        }
      }
      .forReal {
        width: 100%;
        h2 {
          font-size: 20px;
          font-weight: 500;
          color: rgba(56, 47, 68, 1);
          line-height: 28px;
          margin-top: 50px;
          margin-left: 0;
          text-align: center;
        }
        h4 {
          width: 700px;
          margin: 20px auto;
          // padding:20px;
          font-size: 14px;
        }
        .forRealContent {
          margin-top: 60px;
          dl {
            width: 80%;
            margin: 20px auto;
          }
        }
      }
      .goWhitepaper {
        width: 100%;
        height: 330px;
        margin: 0px;
        padding: 0;
        .title {
          position: relative;
          left: 20px;
          h3 {
            font-size: 20px;
          }
          p {
            margin-top: 20px;
            span {
              font-size: 14px;
            }
            .sq {
              width: 38px;
              height: 38px;
              img:nth-child(2) {
                width: 20px;
                height: 20px;
                margin:0;
                top: 10px;
                left: 10px;
              }
            }
          }
        }
        .img {
          position: absolute;
          right: 20px;
          width: 240px;
          height: 280px;
          img:nth-child(1) {
            width: 240px;
            height: 194px;
            left: -20px;
          }
          img:nth-child(2) {
            width: 184px;
            height: 249px;
            left: 20px;
          }
          img:nth-child(3) {
            width: 184px;
            height: 277px;
            left: 0;
            top: 10px;
          }
        }
      }
      .banner {
        margin-left: 20px;
        margin-top: 40px;
        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
        .swiper-container .swiper-wrapper .swiper-slide {
          width: 335px;
          height: 428px;
        }
      }
      .goAssociation {
        height: 850px;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          .title {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            h3 {
              font-size: 20px;
              font-weight: 500;
              color: rgba(56, 47, 68, 1);
              line-height: 28px;
            }
            h4 {
              font-size: 12px;
              font-weight: 400;
              margin-top: 10px;
              color: rgba(93, 86, 102, 1);
              line-height: 12px;
            }
            p {
              width: 200px;
              padding-left: 50px;
              margin: 0 auto;
              .sq {
                width: 38px;
                height: 38px;
                img:nth-child(2) {
                  width: 23px;
                  height: 23px;
                  // margin: 0;
                  top: 20px;
                  left: 20px;
                }
              }
              span {
                font-size: 14px;
                font-weight: 500;
                color: rgba(93, 86, 102, 1);
                line-height: 14px;
              }
            }
          }
          .img {
            width: 100%;
            img:nth-child(1) {
              width: 400px;
              height: 600px;
              position: relative;
              left: 200px;
              top: 100px;
            }
            img:nth-child(2) {
              width: 400px;
              height: 500px;
              position: relative;
            }
          }
        }
      }
      .personDescr {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 14px;
          margin: 0 auto;
        }
        .person {
          display: flex;
          flex-direction: column;
          dl,
          dl:last-child {
            width: 320px;
            height: 480px;
            margin: 20px auto;
            dd {
              margin: 0;
              position: relative;
              bottom: -100px;
              font-size: 24px;
            }
            dt {
              width: 100%;
              img {
                width: 320px;
                height: 460px;
              }
            }
          }
        }
        .icon {
          display: flex;
          flex-direction: column;
          margin-top: 50px;
          // justify-content: center;
          width: 100%;
          dl,
          dl:last-child {
            // width: 90%;
            margin: 20px auto;
            dt {
              width: 320px;
              height: 100%;
            }
            dd {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 999px) {
  .home section .goAssociation {
    height: 700px;
    .content {
      .img {
        img:nth-child(1) {
          width: 192px;
          height: 349px;
          position: relative;
          top: 0px;
        }
        img:nth-child(2) {
          width: 270px;
          height: 406px;
          position: relative;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .home section .missionImg {
    height: 500px;
  }
  .home section .forReal h4 {
    width: 500px;
  }
}
@media (max-width: 720px) {
  .home section .goAssociation {
    height: 623px;
    .content {
      .img {
        img:nth-child(1) {
          width: 192px;
          height: 349px;
          position: relative;
          top: 1rem;
          left: 2rem;
        }
        img:nth-child(2) {
          margin-bottom: 0px;
          margin-left: 0;
          width: 270px;
          height: 406px;
          position: relative;
          left: 1rem;
          top: -1rem;
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .home section .goWhitepaper {
    height: 260px;
    .img {
      width: 137px;
      height: 160px;
      margin-top:20px;
      img:nth-child(1) {
        width: 137px;
        height: 111px;
        position: relative;
        left: 10px;
        top: 80px;
      }
      img:nth-child(2) {
        width: 111px;
        height: 143px;
        position: relative;
        left: 25px;
        top: -67px;
      }
      img:nth-child(3) {
        width: 110px;
        height: 159px;
        position: relative;
        left: 30px;
        top: -229px;
      }
    }
    .title {
      width: 180px;
      bottom: 40px;
      h3 {
        font-weight: 500;
        color: rgba(56, 47, 68, 1);
        line-height: 28px;
      }
      p {
        span {
          width:100px;
          font-size: 14px;
          font-weight: 300;
          color: rgba(93, 86, 102, 1);
          line-height: 22px;
        }
        .sq {
          margin-left: 10px;
        }
      }
    }
  }
  .home section .goAssociation {
    .content {
      .title {
        margin-top: 0;
        position: relative;
        bottom: 20px;
        h3 {
          font-size: 20px;
          font-weight: 500;
          color: rgba(56, 47, 68, 1);
          line-height: 28px;
        }
        h4 {
          font-size: 12px;
          font-weight: 400;
          color: rgba(93, 86, 102, 1);
          line-height: 12px;
          margin-top: 20px;
        }
        p span {
          font-size: 14px;
          font-weight: 500;
          color: rgba(93, 86, 102, 1);
          line-height: 14px;
        }
      }
      .img {
        img:nth-child(1) {
          top: 1rem;
          left: 1rem;
        }
        img:nth-child(2) {
          left: -1rem;
          top: -1rem;
        }
      }
    }
  }
}
@media (max-width: 470px) {
  .home section .missionImg {
    height: 300px;
  }
  .home section .forReal h4 {
    width: 300px;
  }
  .home section .goAssociation {
    .content {
      .title {
        margin-top: 0;
        position: relative;
        bottom: 260px;
        h3 {
          font-size: 20px;
          font-weight: 500;
          color: rgba(56, 47, 68, 1);
          line-height: 28px;
        }
        h4 {
          font-size: 12px;
          font-weight: 400;
          color: rgba(93, 86, 102, 1);
          line-height: 12px;
          margin-top: 20px;
        }
        p span {
          font-size: 14px;
          font-weight: 500;
          color: rgba(93, 86, 102, 1);
          line-height: 14px;
        }
      }
      .img {
        img:nth-child(1) {
          top: 1.5rem;
          left: 0.7rem;
        }
        img:nth-child(2) {
          left: 1.2rem;
          top: -12.5rem;
        }
      }
    }
  }
}
