.media {
  width: 100%;
  .headContent {
    width: 100%;
    height: 726px;
    background:url("/img/蒙版 3@2x.png") no-repeat,url("/img/img_77841.jpg") no-repeat;
    background-size: cover;
    background-position: 50%;
    .headContent1 {
      height: 392px;
      background: linear-gradient(
        180deg,
        rgba(17, 0, 37, 1) 0%,
        rgba(4, 4, 6, 0) 100%
      );
      opacity: 0.44;
    }
    .inset {
      width: 100%;
      height: 392px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .headTalk {
      width: 1400px;
      height: 200px;
      margin: 0 auto; 
      margin-top: -230px;
      position: relative;
      z-index: 99;
      h1 {
        width: 1300px;
        color: white;
        // margin-top: ;
        font-size: 72px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      h2 {
        color: white;

        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .section {
    width: 1400px;
    margin: 0 auto;
    padding: 70px 50px;
    background-color: white;
    position: relative;
    top: -185px;
    .black {
      margin: 30px 0px;
      font-size: 24px;
      color: #382f44;
      // line-height:18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      margin-left: -20px;
      img {
        width: 7px;
        height: 14px;
        margin-right: 10px;
      }
    }
    .black1{
      margin-left: 0;
      margin: 20px 0;
      font-weight: 500;
    }
    .title {
      // width: 500px;
      // height: 70px;
      color: #3a2e46;
      text-align: center;
      margin: 30px 0px;
      line-height: 32px;
      font-size: 24px;
      font-weight: 600;
    }
    p {
      width: 1360px;
      margin: 30px 0px;
      font-size: 24px;
      font-weight: 300;
      color: #5d5666;
      line-height: 32px;
    }
    li {
      width: 1360px;
      margin: 0px 0px;
      font-size: 24px;
      font-weight: 300;
      color: #5d5666;
      line-height: 32px;
    }
  }
}
@media (max-width:1600px){
  .media {
    .headContent {
      height: 608px;
      .inset {
        height: 326px;
      }
      .headTalk {
        width: 1200px;
        margin-top: -200px;
        padding-left: 20px;
        box-sizing: border-box;
        h1 {
          width: 1200px;
          font-size: 55px;
          font-weight: 60px;
        }
        h2 {
          font-size: 27px;
        }
      }
    }
    .section {
      width: 1150px;
      padding: 30px 50px;
      // margin-top: -150px;
      .black{
        margin:25px 0px;
        font-size: 20px;
        line-height: 24px;
        margin-left: -15px;
        img{
          width: 6px;
          height: 14px;
          margin-right: 10px;
        }
      }
      .black1{
        margin-left: 0;
      }
      .title{
        // width: 500px;
        // height: 70px;
        line-height: 24px;
        font-size: 20px;
      }
      p {
        width: 100%;
        font-size: 20px;
        line-height: 28px;
      }
      li{
        width: 100%;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
@media (max-width:1200px){
  .media {
    .headContent {
      height: 452px;
      .inset {
        height: 245px;
      }
      .headTalk {
        width: 989px;
        margin-top: -280px;
        padding-left: 15px;
        box-sizing: border-box;
        h1 {
          width: 989px;
          font-size: 54px;
          font-weight: 60px;
          margin-bottom: 20px;
        }
        h2 {
          font-size: 27px;
        }
      }
    }
    .section {
      width: 950px;
      padding: 20px 50px;
      margin-top: 100px;
      p {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .media {
    .headContent {
      width: 100%;
      .headTalk {
        padding: 0;
        width: 90%;
        h1 {
          position: relative;
          width: 100%;
          left: 0px;
          top: 0px;
          font-size: 25px;
          font-weight: 600;
          color: rgba(255, 255, 255, 1);
          line-height: 37px;
        }
        h2 {
          position: relative;
          top: 0px;
          left: 0px;
          font-size: 20px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 28px;
        }
      }
      img {
        display: none;
      }
    }
    .section {
      padding: 0;
      width: 90%;
      top:0;
      margin-top: 0px;
      .black{
        width: 100%;
        font-size: 14px;
        margin: 10px 0;
        img{
          display: none;
        }
      }
      .title{
        width: 100%;
        font-size: 14px;
        margin: 10px 0;
      }
      p{
        font-size: 14px;
        margin: 10px 0;
        width: 100%;
        line-height: 25px;
      }
      li{
        width: 100%;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
@media (max-width: 750px){
  .media{
    .headContent{
      height: 602px;
      background:url("/img/蒙版 3@2x.png") no-repeat,url("/img/img_7784.jpg") no-repeat;
      background-size:250% 105%;
      background-position:10%;
      .headTalk{
        margin-top:-30px;
      }
    }
    
  }
  .app{
    footer{
      margin-top: 30px;
    }
  }
}