.partners {
  width: 100%;
  .headContent {
    width: 100%;
    height: 726px;
    background: url("/img/geneva-670479.jpg") no-repeat,
      url("/img/蒙版 3@2x.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    .headContent1 {
      height: 392px;
      background: linear-gradient(
        180deg,
        rgba(17, 0, 37, 1) 0%,
        rgba(4, 4, 6, 0) 100%
      );
      opacity: 0.44;
    }
    .inset {
      width: 100%;
      height: 392px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .headTalk {
      width: 1440px;
      height: 200px;
      margin: 0 auto;
      position: relative;
      top: -200px;
      display: flex;
      .headTalk2 {
        padding-left: 30px;
        h1 {
          width: 1000px;
          color: white;
          font-size: 72px;
          font-weight: 100px;
        }
        h2 {
          width: 1000px;
          color: white;
          font-size: 46px;
          font-weight: 100px;
        }
      }
      img {
        width: 127px;
        height: 168px;
      }
    }
  }
  .section {
    width: 1440px;
    margin: 0 auto;
    padding: 80px 50px;
    background-color: white;
    position: relative;
    top: -200px;
    .section1 {
      display: flex;
      .section11 {
        width: 48%;
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        img {
          width: 165px;
          height: 165px;
          margin: 0 auto;
        }
        p img {
          width: 7px;
          height: 27px;
          margin-right: 20px;
          position: relative;
          top: 5px;
        }
        p:nth-child(2) {
          font-size: 30px;
          font-weight: 600;
          color: rgba(56, 47, 68, 1);
          line-height: 38px;
          margin-top: 87px;
          margin-bottom: 55px;
        }
        p:nth-child(3) {
          font-size: 24px;
          font-weight: 300;
          color: rgba(93, 86, 102, 1);
          line-height: 32px;
        }
      }
      .section11:nth-child(2) {
        margin-right: 0;
      }
    }
    .section2 {
      display: flex;
      margin-top: 100px;
      margin-bottom: 100px;
      .section21 {
        width: 965px;
        p:nth-child(1) {
          font-size: 38px;
          font-weight: 600;
          color: rgba(56, 47, 68, 1);
          line-height: 38px;
          margin: 50px 0px;
        }
        p:nth-child(2) {
          font-size: 24px;
          font-weight: 300;
          color: rgba(93, 86, 102, 1);
          line-height: 32px;
        }
      }
      .section22 {
        width: 307px;
        height: 268px;
        position: absolute;
        right: 0px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .section3 {
      width: 1440px;
      height: 785px;
      padding: 50px;
      background: rgba(45, 45, 100, 1);
      display: flex;
      flex-direction: column;
      .section31 {
        width: 1440px;
        margin: 100px 0px;
        p {
          font-size: 30px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 32px;
          img {
            width: 7px;
            height: 27px;
            margin-right: 20px;
            position: relative;
            top: 5px;
          }
        }
      }
      .section32 {
        width: 1440px;
        display: flex;
        flex-direction: row;
        .section321 {
          width: 294px;
          margin: 20px 20px;
          img {
            width: 128px;
            height: 128px;
            position: relative;
            top: -50px;
            left: 80px;
          }
          p {
            width: 280px;
            height: 300px;
            font-size: 24px;
            font-weight: 300;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
          }
        }
        .section322 {
          width: 1px;
          height: 405px;
          background-color: white;
          margin: 20px 20px;
          position: relative;
          top: 70px;
        }
      }
    }
    .section4 {
      margin-top: 200px;
      display: flex;
      flex-direction: row;
      .section41 {
        width: 301px;
        height: 316px;
        margin-right: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .section42 {
        width: 965px;
        p:nth-child(1) {
          font-size: 38px;
          font-weight: 600;
          color: rgba(56, 47, 68, 1);
          line-height: 38px;
          margin: 50px 0px;
        }
        p:nth-child(2) {
          font-size: 24px;
          font-weight: 300;
          color: rgba(93, 86, 102, 1);
          line-height: 32px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .partners {
    .headContent .headTalk {
      width: 100%;
      .headTalk2 {
        padding: 0;
        width: 90%;
        h1 {
          position: relative;
          width: 100%;
          left: 10px;
          top: 300px;
          font-size: 40px;
          font-weight: 600;
          color: rgba(255, 255, 255, 1);
          line-height: 50px;
        }
        h2 {
          position: relative;
          top: 300px;
          left: 10px;
          font-size: 20px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 33px;
        }
      }
      img {
        display: none;
      }
    }
    .section {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      top: 0;
      .section1 {
        flex-direction: column;
        .section11 {
          width: 100%;
          margin-top: 20px;
          margin-right: 0;
          img {
            width: 73px;
            height: 73px;
          }
          p:nth-child(2) {
            margin: 20px 0;
            font-size: 18px;
            font-weight: 600;
            color: rgba(56, 47, 68, 1);
            line-height: 15px;
            img {
              left: -4px;
              width: 3px;
              height: 12px;
              top: 2px;
              margin-right: 0;
            }
          }
          p:nth-child(3) {
            font-size: 14px;
            font-weight: 300;
            color: rgba(93, 86, 102, 1);
            line-height: 22px;
          }
        }
      }
      .section2 {
        margin: 40px 0;
        flex-direction: column;
        .section21 {
          width: 100%;
          p:nth-child(1) {
            font-size: 18px;
            font-weight: 600;
            color: rgba(56, 47, 68, 1);
            line-height: 24px;
            margin: 20px 0;
          }
          p:nth-child(2) {
            font-size: 14px;
            font-weight: 300;
            color: rgba(93, 86, 102, 1);
            line-height: 22px;
          }
        }
        .section22 {
          position: relative;
          right: -1rem;
        }
      }
      .section3 {
        width: 100%;
        height: 1200px;
        padding: 0;
        margin: 0;
        .section31 {
          width: 100%;
          margin: 50px 20px;
        }
        .section32 {
          width: 100%;
          flex-direction: column;
          .section321 {
            width: 90%;
            img {
              width: 73px;
              height: 73px;
              left: 0;
              top: -30px;
            }
            p {
              width: 100%;
              height: 140px;
              font-size: 14px;
              font-weight: 300;
              color: rgba(255, 255, 255, 1);
              line-height: 22px;
            }
          }
          .section322 {
            display: none;
          }
        }
      }
      .section4 {
        margin-top: 50px;
        flex-direction: column;
        .section42 {
          width: 100%;
          p:nth-child(1) {
            font-size: 18px;
            font-weight: 600;
            color: rgba(56, 47, 68, 1);
            line-height: 24px;
          }
          p:nth-child(2) {
            font-size: 14px;
            font-weight: 300;
            color: rgba(93, 86, 102, 1);
            line-height: 22px;
          }
        }
      }
    }
  }
}
