.vision {
  width: 100%;
  .headContent {
    width: 100%;
    height: 726px;
    background:url("/img/蒙版 3@2x.png") no-repeat, url("/img/IMG_77861.jpg") no-repeat;
    background-size: cover;
    background-position: 50%;
    .headContent1 {
      height: 392px;
      background: linear-gradient(
        180deg,
        rgba(17, 0, 37, 1) 0%,
        rgba(4, 4, 6, 0) 100%
      );
      opacity: 0.44;
    }
    .inset {
      width: 100%;
      height: 392px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .headTalk {
      width: 1400px;
      height: 200px;
      margin: 0 auto;
      margin-top: -150px;
      position: relative;
      z-index: 99;
      h1 {
        color: white;
        font-size: 72px;
        font-weight: 600;
      }
      h2 {
        color: white;
        font-size: 46px;
        font-weight: 100;
      }
    }
  }
  .section {
    width: 1400px;
    margin: 0 auto;
    padding: 80px 50px;
    background-color: white;
    position: relative;
    top: -200px;
    p {
      font-size: 24px;
      font-weight: 300;
      color: rgba(56, 47, 68, 1);
      line-height: 32px;
    }
  }
}
@media (max-width: 1600px) {
  .vision {
    .headContent {
      height: 608px;
      .inset {
        height: 326px;
      }
      .headTalk {
        width: 1200px;
        margin-top: -220px;
        padding-left: 20px;
        box-sizing: border-box;
        h1 {
          font-size: 55px;
          font-weight: 60px;
        }
        h2 {
          font-size: 27px;
        }
      }
    }
    .section {
      width: 1050px;
      padding: 66px 50px;
      top: -200px;
      p {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .vision {
    .headContent {
      height: 452px;
      .inset {
        height: 245px;
      }
      .headTalk {
        width: 989px;
        margin-top: -250px;
        padding-left: 15px;
        box-sizing: border-box;
        h1 {
          font-size: 55px;
          font-weight: 60px;
        }
        h2 {
          font-size: 27px;
        }
      }
    }
    .section {
      width: 860px;
      padding: 56px 40px;
      top: -100px;
      p {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .vision {
    .headContent .headTalk {
      width: 100%;
      h1 {
        left: 10px;
        top: 40px;
        font-size: 40px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 50px;
      }
      h2 {
        top: 40px;
        left: 10px;
        font-size: 20px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 33px;
      }
    }
    .section {
      width: 90%;
      padding: 20px 0;
      top: 0;
      p {
        font-size: 15px;
        font-weight: 300;
        color: rgba(93, 86, 102, 1);
        line-height: 24px;
      }
    }
  }
}