
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html,body{
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Aileron-Thin";
  src: url("font/Aileron-Thin-13.ttf");
}