* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: "Times New Roman"; */
  /* width:1600rem; */
}
/* @font-face{
  font-family: 'Aileron-Regular';
  src:url('../../font/Aileron-Regular-10.ttf')
} */
@font-face {
  font-family: "Aileron-Thin";
  src: url("../../font/Aileron-Thin-13.ttf");
}
.wrap {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background:#2C096C; */
}
.header {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 999;
  /* background-image: linear-gradient(to right , #9c3ec9, #4a189f); */
}
.developers {
  /* width: 1600rem; */
  width: 100%;
  background: rgba(44, 9, 108, 1);
  overflow-x: hidden;
}

.header .head {
  width: 12rem;
  height: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.logo a {
  display: flex;
}
.logo img {
  margin-bottom: 0.12rem;
  width: 1.73rem;
  height: 0.55rem;
}
.navList {
  display: flex;
  flex:1;
  height: 100%;
  align-items: center;
  margin-right: 1.5rem;
  margin-left: 0.3rem;
}
.navList li {
  font-size: 0.16rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 0.4rem;
  /* margin-top: 0.1rem; */
  cursor: pointer;
  white-space: nowrap;
}
.navList li:last-child {
  position: relative;
}
.navList li:last-child .select {
  width: 1.45rem;
  height: 1.16rem;
  position: relative;
  position: absolute;
  top: 0.3rem;
  left: -0.2rem;
  /* display: none; */
}
.navList li:last-child .select .bg {
  position: absolute;
  top: 0;
}
.navList li:last-child .select > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0.15rem;
}
.navList li:last-child .select > div span {
  width: 100%;
  height: 0.5rem;
  font-size: 0.23rem;
  font-weight: 500;
  color: rgba(44, 9, 108, 1);
  line-height: 0.5rem;
  text-align: center;
  letter-spacing: 0.01rem;
  border-radius: 0.05rem;
}
.navList li:last-child .select .bg img {
  width: 1.45rem;
  height: 1.16rem;
}
.navList li.active {
  color: rgba(62, 209, 246, 1);
}

.descr {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* margin-top: 0.1rem; */
  /* position: relative;
  top: 8rem; */
}
.descr a {
  color: #fff;
  margin-left: 0.2rem;
  cursor: pointer;
  /* position: relative;
  top: 7rem; */
  font-size: 0.14rem;
}
.descr span {
  color: #fff;
  margin-right: 0.2rem;
  cursor: pointer;
}
.descr span:nth-child(1) {
  /* width: 0.92rem; */
  /* height: 0.24rem; */
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3rem;
  line-height: 0.25rem;
  text-align: center;
  font-size: 0.17rem;
  padding: 0.05rem 0.05rem 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  height: auto;
}
.vision .head {
  width: 9.2rem;
  height: 0.61rem;
  margin: 1.4rem auto;
  position: relative;
  display: flex;
  align-items: center;
}
.vision1 .head{
    width: 9.3rem;
}
.vision2 .head{
    width: 8.7rem;
}
.vision .head .bg {
  /* width: 1200rem; */
  height: 0.61rem;
}
.vision .head .bg img {
  position: absolute;
}
.vision .head .bg .img_left {
  width: 3.31rem;
  height: 0.48rem;
  left: 0rem;
}
.vision .head .bg .img_right {
  width: 3.31rem;
  height: 0.48rem;
  right: 0rem;
}
.vision .head p {
  position: absolute;
  left: 4.9rem;
  margin-left: -1.4rem;
  top: 0.05rem;
  font-size: 0.32rem;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
}
.vision1 .head p{
   margin-left: -1.4rem;
}
.visionContent,.vision2Content{
    width: 12rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.vision2Content .code{
    width: 100%;
    height: 3.7rem;
    display: flex;
}
.vision2Content .code img{
    width: 100%;
    height: 100%;
}
.vision2Content a{
    width: 100%;
    text-align: right;
    font-size: 0.3rem;
    font-weight:500;
    margin-top: 0.1rem;
    color: #FFF;
}
.violasPayDescr{
   width: 100%;
   display: flex;
}
.violasPayDescr p{
    width: 3.7rem;
    height: 6.2rem;
    margin-right: 0.08rem;
    display: flex;
}
.violasPayDescr p:last-child{
    margin-right: 0;
}
.violasPayDescr p img{
    width: 100%;
    height: 100%;
}
.downloadPay{
    display: flex;
    margin-top: 1.5rem;
}
.downloadPay dl{
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}
.downloadPay dl dt{
    width: 3rem;
    height: 3rem;
    display: flex;
    position: relative;
}
.downloadPay dl p{
    font-size: 0.24rem;
    font-weight: 500;
    color: #FFF;
    position: absolute;
    top: 50%;
    margin-top: -0.2rem;
    left: 50%;
    margin-left: -0.75rem;
    letter-spacing: 2px;
}
.downloadPay dl dt img{
    width: 100%;
    height: 100%;
}
.downloadPay dl dd{
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}
.downloadPay dl dd i{
    width: 0.42rem;
    height: 0.5rem;
    display: flex;
}
.downloadPay dl dd i:nth-child(2){
    width: 0.42rem;
    height: 0.46rem;
}
.downloadPay dl dd i img{
    width: 100%;
    height:100%;
}
.downloadPay dl dd span{
    font-size: 0.24rem;
    font-weight:500;
    color: #FFF;
    margin-left: 15px;
   white-space: nowrap;
}
footer {
  width: 100%;
  height: 4.64rem;
  background: url("../../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer h2 {
  height: 0.56rem;
  font-size: 0.22rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin: 1.7rem 0 0.05rem 3.62rem;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 3.09rem;
}
footer > div i {
  display: flex;
}
footer > div i img {
  margin-top: 0.04rem;
  width: 0.27rem;
  height: 0.22rem;
}
footer > div label {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 0.17rem;
}
footer > p {
  font-size: 0.15rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 1.7rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* text-align: center; */
  font-size: 0.18rem;
  background: #fff;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
.swiper-pagination-position {
  left: 5.2rem !important;
}
.left-arrow {
  width: 2.66rem;
  height: 5.93rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
}
.left-arrow img {
  width: 0.47rem;
  height: 0.47rem;
  position: relative;
  left: 0.2rem;
}
.right-arrow {
  width: 2.66rem;
  height: 5.93rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  /* background:linear-gradient(#350D7B,#2C096C);
  opacity:0.8; */
  /* z-index: 0; */
}
.right-arrow img {
  width: 0.47rem;
  height: 0.47rem;
  position: relative;
  right: -2rem;
}

.hide_show_header_mob {
  display: none;
}
@media (max-width: 1000px) {
  .hide_show_header_mob {
    display: flex;
  }
  #dw-p1 {
    height: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head {
    width: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button {
    border: 0;
    outline: 0;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i {
    width: 1rem;
    height: 1rem;
    display: flex;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i img {
    width: 0.6rem;
    height: 0.6rem;
  }
  .logo img {
    width: 2.1rem;
    height: 0.68rem;
    z-index: 9999;
  }
  .phone_list {
    height: 100%;
    background-color: #4b199f;
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
  }
  .phone_list > a,
  .phone_list > span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(248, 248, 248, 1);
    line-height: 14px;
    margin-top: 47px;
  }
  .phone_list > span {
    width: 90px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
  }
  .phone_list > .change {
    position: absolute;
    bottom: 16px;
  }
  .phone_list > .change a {
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
    padding: 0 17px;
    box-sizing: border-box;
  }
  /* .phone_list>.change a:not(.ka){
    border-right:1px solid #FFF ;
  } */
  .hide_show_header_pc {
    display: none;
  }
  .default .headContent .headLogo {
    right: -5rem;
  }
  .default .headContent .headTalk {
    left: -2.5rem;
    bottom: 3rem;
  }
  .bmd-layout-drawer .home {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 24px;
    left: 30px;
    font-weight: 300;
  }
  .bmd-layout-drawer .close {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 200px;
    font-weight: 300;
  }
}
@media (max-width: 750px) {
    .vision .head {
        width: 310px;
    }
    .vision .head .bg .img_left,
    .vision .head .bg .img_right {
        width: 100px;
        height: 14px;
    }
    .vision .head p {
        font-size: 14px;
        left: 50%;
        margin-left: -49px;
        top: -0.05rem;
    }
    .vision1 .head {
        width: 315px;
    }
    .vision2 .head{
      width: 290px;
    }
    .vision1 .head p {
        margin-left: -52px;
    }
    .visionContent, .vision2Content{
       width: 350px;
    }
    .vision2 .head p {
        margin-left: -38px;
    }
    .violasPayDescr p{
       width: 109px;
       height: 236px;
       margin-right: 15px;
    }
    .vision0 .violasPayDescr p:nth-child(1){
        display: none;
    }
    .vision1 .violasPayDescr p:nth-child(3){
        margin-right: 0;
    }
    .vision1 .violasPayDescr p:last-child{
        display: none;
    }
    .downloadPay dl{
       width: 132px;
       margin-left: 30px;
    }
    .downloadPay dl dt{
       width: 132px;
       height: 132px;
    }
    .downloadPay dl p{
      font-size:14px;
      margin-top: -15px;
      margin-left: -30px;
    }
    .downloadPay dl dd{
      margin-top: 14px;
    }
    .downloadPay dl dd i{
      width: 22px;
      height: 27px;
    }
    .downloadPay dl dd span{
      font-size: 14px;
      margin-left:10px;
    }
    .logo img {
      width: 60px;
      height: 18px;
    }  
    .vision2Content .code{
      width: 100%;
      height: 116px;
    }
    .vision2Content a{
      font-size: 14px;
    }
    footer h2 {
    margin: 20px 0 10px 25px;
    font-size: 10px;
    }
    footer > div {
        margin-left: 17px;
    }
    footer > div i img {
        width: 10px;
        height: 8px;
        margin-top: 2px;
    }
    footer > div label {
        font-size: 12px;
    }
    footer > p {
        font-size: 8px;
        margin: 20px 0;
        /* margin-bottom: 40px !important; */
    }
}
@media (max-width: 321px) {
    .visionContent{
       width: 320px;
    }
    .vision2Content{
       width: 310px;
    }
    .violasPayDescr p{
      width: 105px;
      height: 216px;
      margin-right: 10px;
    }
    .downloadPay dl{
      margin-left: 18px;
    }
    /* .vision2Content .code{
      width: 310px;
    } */
    footer > p {
        margin-top: 5px !important;
    }
}