* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: "Times New Roman"; */
  /* width:1600rem; */
}
/* @font-face{
  font-family: 'Aileron-Regular';
  src:url('../../font/Aileron-Regular-10.ttf')
} */
@font-face {
  font-family: "Aileron-Thin";
  src: url("../../font/Aileron-Thin-13.ttf");
}
.wrap {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  /* height: 913rem; */
  display: flex;
  flex-direction: column;
  background: url("../../img/编组 4@2x.png") no-repeat;
  background-size: 100% 100%;
}
.header {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 999;
  /* background-image: linear-gradient(to right , #9c3ec9, #4a189f); */
}
.default {
  /* width: 1600rem; */
  width: 100%;
  background: rgba(44, 9, 108, 1);
  overflow-x: hidden;
}
.default header {
  height: 9.13rem;
}

.header .head {
  width: 12rem;
  height: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.logo a {
  display: flex;
}
.logo img {
  margin-bottom: 0.12rem;
  width: 1.73rem;
  height: 0.55rem;
}
.navList {
  display: flex;
  flex:1;
  height: 100%;
  align-items: center;
  margin-right: 1.5rem;
  margin-left: 0.3rem;
}
.navList li {
  font-size: 0.16rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 0.4rem;
  /* margin-top: 0.1rem; */
  cursor: pointer;
  white-space: nowrap;
}
.navList li:last-child {
  position: relative;
}
.navList li:last-child .select {
  width: 1.45rem;
  height: 1.16rem;
  position: relative;
  position: absolute;
  top: 0.3rem;
  left: -0.2rem;
  /* display: none; */
}
.navList li:last-child .select .bg {
  position: absolute;
  top: 0;
}
.navList li:last-child .select > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0.15rem;
}
.navList li:last-child .select > div span {
  width: 100%;
  height: 0.5rem;
  font-size: 0.23rem;
  font-weight: 400;
  color: rgba(44, 9, 108, 1);
  line-height: 0.5rem;
  text-align: center;
  letter-spacing: 0.01rem;
  border-radius: 0.05rem;
}
.navList li:last-child .select .bg img {
  width: 1.45rem;
  height: 1.16rem;
}
.navList li.active {
  color: rgba(62, 209, 246, 1);
}

.descr {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* margin-top: 0.1rem; */
  /* position: relative;
  top: 8rem; */
}
.descr a {
  color: #fff;
  margin-left: 0.2rem;
  cursor: pointer;
  /* position: relative;
  top: 7rem; */
  font-size: 0.14rem;
}
.descr span {
  color: #fff;
  margin-right: 0.2rem;
  cursor: pointer;
}
.descr span:nth-child(1) {
  /* width: 0.92rem; */
  /* height: 0.24rem; */
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3rem;
  line-height: 0.25rem;
  text-align: center;
  font-size: 0.17rem;
  padding: 0.05rem 0.05rem 0;
  box-sizing: border-box;
}
/* .descr span:nth-child(2) {
  font-size: 0.18rem;
} */
.default .headContent {
  width: 12rem;
  flex: 1;
  position: relative;
  margin: 0 auto;
}
.default .headContent .headLogo {
  width: 11.44rem;
  height: 9.13rem;
  position: absolute;
  right: -1.9rem;
  bottom: 0;
  display: flex;
}
.default .headContent .headLogo img {
  width: 100%;
  height: 100%;
}
.default .headContent .headTalk {
  position: absolute;
  left: 0;
  bottom: 4rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
}
.default .headContent .headTalk p {
  display: flex;
}
.default .headContent .headTalk p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.default .headContent .headTalk p:nth-child(2) {
  align-items: center;
}
.default .headContent .headTalk p:nth-child(1) label {
  font-size: 0.22rem;
  /* font-family: "Times New Roman"; */
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.default .headContent .headTalk p:nth-child(1) img {
  width: 2rem;
  height: 0.54rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
/* .default .headContent .headTalk p:nth-child(2) {
  margin-top: 46rem;
} */
.default .headContent .headTalk p:nth-child(2) label {
  font-size: 0.32rem;
  font-weight: 400;
  color: rgba(249, 249, 249, 1);
}
.default .headContent .headTalk p:nth-child(2) img {
  width: 0.47rem;
  height: 0.47rem;
  margin-left: 0.2rem;
}
section {
  width: 100%;
  height: auto;
}
.vision .head {
  width: 9.5rem;
  height: 0.61rem;
  margin: 1.4rem auto;
  position: relative;
  display: flex;
  align-items: center;
}
.vision .head .bg {
  /* width: 1200rem; */
  height: 0.61rem;
}
.vision .head .bg img {
  position: absolute;
}
.vision .head .bg .img_left {
  width: 3.31rem;
  height: 0.48rem;
  left: 0rem;
}
.vision .head .bg .img_right {
  width: 3.31rem;
  height: 0.48rem;
  right: 0rem;
}
.vision .head p {
  position: absolute;
  left: 4.9rem;
  margin-left: -1.5rem;
  top: 0.05rem;
  font-size: 0.32rem;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
}
.vision .headDescr {
  width: 8.4rem;
  height: 4.96rem;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.vision .headDescr .bg img {
  width: 4.96rem;
  height: 4.96rem;
}
.vision .headDescr p {
  font-size: 0.3rem;
  font-weight: 100;
  color: rgba(248, 248, 248, 0.8);
  position: absolute;
  /* left: 0; */
  top: 1.5rem;
  text-align: center;
  line-height: 0.6rem;
}
.vision .headIntroduce {
  width: 7.47rem;
  /* height: 315rem; */
  display: flex;
  margin: 1rem auto;
  position: relative;
}
.vision .headIntroduce .icon {
  position: absolute;
  top: -0.4rem;
  left: 0.7rem;
  display: flex;
}
.vision .headIntroduce .icon img {
  width: 1.19rem;
  height: 0.8rem;
}
.vision .headIntroduce p {
  width: 7.47rem;
  font-size: 0.3rem;
  font-weight: 100;
  color: rgba(206, 199, 219, 1);
  text-align: center;
  line-height: 0.84rem;
}

.forWorld .head {
  width: 10.6rem;
  height: 0.61rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
}
.forWorld .head .bg {
  /* width: 11rem; */
  height: 0.61rem;
}
.forWorld .head .bg img {
  /* width: 100%; */
  position: absolute;
}
.forWorld .head .bg .img_left {
  width: 3.31rem;
  height: 0.48rem;
  left: -10px;
}
.forWorld .head .bg .img_right {
  width: 3.31rem;
  height: 0.48rem;
  right: -10px;
}
.forWorld .head p {
  position: absolute;
  left: 5rem;
  margin-left: -1.75rem;
  top: 0.1rem;
  font-size: 0.32rem;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
}
.forWorld > p {
  width: 11rem;
  font-size: 0.25rem;
  font-weight: 100;
  color: rgba(206, 199, 219, 1);
  line-height: 0.63rem;
  text-align: center;
  margin: 1.2rem auto;
}
.forWorldDescr {
  display: block;
}
.forWorldDescr1 {
  display: none;
}
.forWorldDescr {
  width: 12rem;
  height: 15rem;
  margin: 0 auto;
  /* margin-top: 250rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forWorldDescr > div {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.forWorldDescr .eachDescr {
  width: 3.7rem;
  height: 6rem;
  position: relative;
  margin-right: 0.15rem;
  margin-left: 0.15rem;
  /* margin-bottom: 200rem; */
}
.forWorldDescr .eachDescr:last-child {
  margin-right: 0;
}
.forWorldDescr .eachDescrs {
  width: 3.7rem;
  height: 5.93rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    RGBA(158, 146, 250, 1) 100%
  );
  border-radius: 0.2rem;
  position: relative;
  z-index: 10;
  padding: 0.88rem 0.25rem 0 0.35rem;
  box-sizing: border-box;
}
.forWorldDescr .eachDescrs h3 {
  font-size: 0.32rem;
  font-weight: 400;
  color: rgba(44, 9, 108, 1);
  line-height: 0.45rem;
}
.forWorldDescr .eachDescrs i {
  display: flex;
}
.forWorldDescr .eachDescrs i img {
  width: 0.64rem;
  height: 0.04rem;
}
.forWorldDescr .eachDescrs p {
  font-size: 0.25rem;
  font-weight: 100;
  color: rgba(44, 9, 108, 1);
  margin-top: 0.2rem;
  line-height: 0.48rem;
}
.forWorldDescr .eachDescr .logo1,
.forWorldDescr .eachDescr .logo2,
.forWorldDescr .eachDescr .logo3,
.forWorldDescr .eachDescr .logo4 {
  position: absolute;
}

.forWorldDescr > div:nth-child(1) .eachDescr .logo1 {
  left: 0.4rem;
  top: -1.25rem;
}
.forWorldDescr > div:nth-child(1) .eachDescr .logo2 {
  left: 1.1rem;
  top: -1.05rem;
  z-index: 11;
}
.forWorldDescr > div:nth-child(2) .eachDescr .logo1 {
  left: 0.4rem;
  top: -1.5rem;
}
.forWorldDescr > div:nth-child(2) .eachDescr .logo2 {
  left: 1.1rem;
  top: -1.05rem;
  z-index: 11;
}
.forWorldDescr .eachDescr .logo3 {
  left: -0.12rem;
  bottom: 0.2rem;
}
.forWorldDescr .eachDescr .logo4 {
  right: 0.1rem;
  bottom: -0.15rem;
  z-index: 11;
}

.forWorldDescr .eachDescr .logo2 img {
  width: 2.05rem;
  height: 1.73rem;
}
.forWorldDescr .eachDescr .logo3 img {
  width: 2.03rem;
  height: 1.35rem;
}
.forWorldDescr .eachDescr .logo4 img {
  width: 2.36rem;
  height: 1.94rem;
}
.forWorldDescr > div:nth-child(1) .eachDescr:nth-child(1) .logo1 img {
  width: 2.33rem;
  height: 1.78rem;
}
.forWorldDescr > div:nth-child(1) .eachDescr:nth-child(2) .logo1 img {
  width: 2.37rem;
  height: 1.99rem;
}
.forWorldDescr > div:nth-child(1) .eachDescr:nth-child(3) .logo1 img {
  width: 2.51rem;
  height: 1.99rem;
}
.forWorldDescr .eachDescr:nth-child(4) .logo1 {
  top: -1.5rem;
}
.forWorldDescr > div:nth-child(2) .eachDescr .logo1 img {
  width: 2.51rem;
  height: 2.25rem;
}
.whitePaper {
  width: 12rem;
  /* height: 716rem; */
  position: relative;
  margin: 2rem auto;
  /* margin-top: 100rem;s */
  /* overflow: hidden; */
}
.whitePaper .bg {
  width: 12.1rem;
  height: 7.16rem;
  position: absolute;
  right: -22%;
}
.whitePaper .bg img {
  width: 100%;
}
.whitePaper .content {
  display: flex;
}
.whitePaper .content .hLogo {
  margin-left: -2%;
  position: relative;
  z-index: 9;
}
.whitePaper .content .hLogo img {
  width: 6.35rem;
  height: 6.35rem;
}
.whitePaper .content .con {
  margin-top: 2rem;
  margin-left: 1.2rem;
  position: relative;
  z-index: 99;
}
.whitePaper .content .con h3 {
  font-size: 0.32rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  white-space: nowrap;
}
.whitePaper .content .con p {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  display: flex;
  margin-top: 0.8rem;
}
.whitePaper .content .con p i img {
  width: 0.38rem;
  height: 0.38rem;
  margin-left: 0.15rem;
  margin-top: -0.05rem;
}
.deepIntroduce .head {
  width: 9.1rem;
  height: 0.61rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1.4rem;
}
.deepIntroduce .head .bg {
  /* width: 1180rem; */
  height: 0.61rem;
}
.deepIntroduce .head .bg img {
  /* width: 100%; */
  position: absolute;
}
.deepIntroduce .head .bg .img_left {
  width: 3.31rem;
  height: 0.48rem;
  left: 0rem;
}
.deepIntroduce .head .bg .img_right {
  width: 3.31rem;
  height: 0.48rem;
  right: 0rem;
}
.deepIntroduce .head p {
  position: absolute;
  left: 4.4rem;
  margin-left: -1rem;
  top: 0.05rem;
  font-size: 0.32rem;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.deepIntroduce > .content1 {
  display: none;
}
.deepIntroduce > .content {
  width: 12rem;
  margin: 0 auto;
  display: flex;
  margin-top: 0.94rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background:linear-gradient(210deg,rgba(75,25,159,0.31) 0%,rgba(216,89,232,1) 100%); */
}
.deepIntroduce > .content > div {
  display: flex;
}
.deepIntroduce > .content .deepDescr,
.deepIntroduce > .content .deepDescr1 {
  /* width: 1440rem;
  height: 800rem;
  background: linear-gradient(
    210deg,
    rgba(75, 25, 159, 0.31) 0%,
    rgba(161, 63, 197, 1) 100%
  );
  border-radius: 20rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 50rem; */
  width: 12rem;
  height: 5.93rem;
  background: linear-gradient(
    210deg,
    rgba(75, 25, 159, 0.31) 30%,
    rgba(216, 89, 232, 1) 100%
  );
  background-image: url("../../img/bg28@2x.png");
  background-size: 12rem 5.93rem;
  /* background-image: url("../../img/编组\ bg@2x.png"); */
  border-radius: 0.2rem;
}

.deepIntroduce > .content .deepDescr h3,
.deepIntroduce > .content .deepDescr1 h3 {
  width: 6rem;
  height: 0.32rem;
  font-size: 0.32rem;
  font-weight: 400;
  color: rgba(249, 249, 249, 1);
  line-height: 0.32rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
  white-space: nowrap;
  /* margin-bottom: 80rem; */
}
.deepIntroduce > .content .deepDescr1 h3 {
  margin-bottom: 0.3rem;
  /* width:600rem;
  position: absolute;
  left:20rem; */
}
.deepIntroduce > .content .deepDescr1 h4 {
  /* width: 10670rem;
  font-size: 15rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 40rem;
  padding: 0px 10rem; */
  width: 10rem;
  /* height: 220rem; */
  font-size: 0.22rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  line-height: 0.44rem;
  margin: 0 auto;
}
.deepIntroduce > .content .deepDescr > div {
  width: 100%;
  text-align: center;
}
.deepIntroduce > .content .deepDescr > div img {
  width: 2.93rem;
  height: 2.51rem;
  margin-top: 0.8rem;
}
.deepIntroduce > .content .deepDescr1 {
  display: none;
}

.deepIntroduce > .content .deepDescr p,
.deepIntroduce > .content .deepDescr1 p {
  width: 1.61rem;
  font-size: 0.2rem;
  font-weight: 300;
  color: rgba(249, 249, 249, 1);
  line-height: 0.55rem;
  letter-spacing: 0.02rem;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 7rem;
  margin-left: 12.3rem;
}
.association {
  width: 12rem;
  position: relative;
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
}
.deepIntroduce > .association .bg {
  position: absolute;
  left: -25%;
}
.deepIntroduce > .association .bg img {
  width: 12.25rem;
  height: 7.64rem;
}
.deepIntroduce > .association .content {
  display: flex;
}
.deepIntroduce > .association .content .hLogo {
  /* margin-left:1rem; */
  margin-top: -1rem;
  position: relative;
  z-index: 9;
}

.deepIntroduce > .association .content .hLogo img {
  width: 6.54rem;
  height: 6.67rem;
}
.deepIntroduce > .whitePaper .content .hLogo {
  margin-top: -1rem;
}
.deepIntroduce > .whitePaper .content .hLogo img {
  width: 6.54rem;
  height: 7.11rem;
}

.deepIntroduce > .association .content .con {
  /* height: 500rem; */
  margin-left: 1.2rem;
  margin-top: 2rem;
  position: relative;
  z-index: 99;
}
.deepIntroduce > .association .content .con h3 {
  font-size: 0.32rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  white-space: nowrap;
}
.deepIntroduce > .association .content .con p {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  display: flex;
  margin-top: 0.8rem;
  white-space: nowrap;
}
.deepIntroduce > .association .content .con span {
  width: 5rem;
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 0.3rem;
  display: inline-block;
  /* white-space: nowrap; */
}

.deepIntroduce > .association .content .con p i img {
  width: 0.38rem;
  height: 0.38rem;
  margin-left: 0.15rem;
  margin-top: -0.05rem;
}
footer {
  width: 100%;
  height: 4.64rem;
  background: url("../../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer h2 {
  height: 0.56rem;
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin: 1.7rem 0 0.05rem 3.62rem;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 3.09rem;
}
footer > div i {
  display: flex;
}
footer > div i img {
  margin-top: 0.04rem;
  width: 0.27rem;
  height: 0.22rem;
}
footer > div label {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 0.17rem;
}
footer > p {
  font-size: 0.15rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 1.7rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* text-align: center; */
  font-size: 0.18rem;
  background: #fff;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
.swiper-pagination-position {
  left: 5.2rem !important;
}
.left-arrow {
  width: 2.66rem;
  height: 5.93rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
}
.left-arrow img {
  width: 0.47rem;
  height: 0.47rem;
  position: relative;
  left: 0.2rem;
}
.right-arrow {
  width: 2.66rem;
  height: 5.93rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  /* background:linear-gradient(#350D7B,#2C096C);
  opacity:0.8; */
  /* z-index: 0; */
}
.right-arrow img {
  width: 0.47rem;
  height: 0.47rem;
  position: relative;
  right: -2rem;
}

.hide_show_header_mob {
  display: none;
}
@media (max-width: 1000px) {
  .hide_show_header_mob {
    display: flex;
  }
  #dw-p1 {
    height: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head {
    width: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button {
    border: 0;
    outline: 0;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i {
    width: 1rem;
    height: 1rem;
    display: flex;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i img {
    width: 0.6rem;
    height: 0.6rem;
  }
  .logo img {
    width: 2.1rem;
    height: 0.68rem;
    z-index: 9999;
  }
  .phone_list {
    height: 100%;
    background-color: #4b199f;
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
  }
  .phone_list > a,
  .phone_list > span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(248, 248, 248, 1);
    line-height: 14px;
    margin-top: 47px;
  }
  .phone_list a.active {
    color: rgba(248, 248, 248, 0.6)!important;
  }
  .phone_list > span {
    width: 90px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
  }
  .phone_list > .change {
    position: absolute;
    bottom: 16px;
  }
  .phone_list > .change a {
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
    padding: 0 17px;
    box-sizing: border-box;
    color: #FFF;
  }
  .phone_list>.change a:not(.ka){
    border-right:1px solid #FFF ;
  }
  .hide_show_header_pc {
    display: none;
  }
  .default .headContent .headLogo {
    right: -5rem;
  }
  .default .headContent .headTalk {
    left: -2.5rem;
    bottom: 3rem;
  }
  .bmd-layout-drawer .home {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 24px;
    left: 30px;
    font-weight: 300;
  }
  .bmd-layout-drawer .close {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 200px;
    font-weight: 300;
  }
}
@media (max-width: 750px) {
  .default .headContent .headTalk p:nth-child(1) label {
    font-size: 10px;
  }
  .default .headContent .headTalk p:nth-child(1) img {
    width: 77px;
    height: 19px;
  }
  .default .headContent .headTalk p:nth-child(2) label {
    font-size: 10px;
  }
  .default .headContent .headTalk p:nth-child(2) img {
    width: 14px;
    height: 14px;
  }
  .default header {
    height: 200px;
  }
  .logo img {
    width: 60px;
    height: 18px;
  }
  .vision .head {
    width: 325px;
  }
  .vision .head .bg .img_left,
  .vision .head .bg .img_right {
    width: 100px;
    height: 14px;
  }
  .vision .head p {
    font-size: 14px;
    left: 50%;
    margin-left: -60px;
    top: -0.05rem;
  }
  .vision .headDescr {
    width: 148px;
    height: 148px;
  }
  .vision .headDescr .bg img {
    width: 148px;
    height: 148px;
  }
  .vision .headDescr p {
    width: 300px;
    font-size: 12px;
    position: absolute;
    top: 45px;
    line-height: 20px;
  }
  .vision .headIntroduce .icon {
    top: -1rem;
    left: -25px;
  }
  .vision .headIntroduce .icon img {
    width: 36px;
    height: 24px;
  }

  .vision .headIntroduce div:nth-child(2) p {
    width: 300px;
    font-size: 12px;
    line-height: 20px;
    margin-left: -3.5rem;
  }
  .forWorld .head {
    width: 370px;
  }
  .forWorld .head .bg .img_left,
  .forWorld .head .bg .img_right {
    width: 100px;
    height: 14px;
  }
  .forWorld .head p {
    left: 50%;
    margin-left: -90px;
    margin-top: -3px;
    font-size: 14px;
  }
  .forWorld > p {
    width: 344px;
    font-size: 12px;
    line-height: 22px;
  }
  .forWorldDescr {
    display: none;
  }
  .forWorldDescr1 {
    width: 375px;
    margin: 0 auto;
    margin-top: 0;
    display: flex;
    overflow-x: auto;
  }

  .forWorldDescr1 .eachDescr {
    width: 191px;
    padding-top: 50px;
    position: relative;
    margin-left: 9px;
  }
  .forWorldDescr1 .eachDescr:last-child {
    margin-right: 0;
  }
  .forWorldDescr1 .eachDescrs {
    width: 191px;
    height: 228px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      RGBA(158, 146, 250, 1) 100%
    );
    border-radius: 20px;
    position: relative;
    z-index: 10;
    padding: 30px 10px 10px 10px;
    box-sizing: border-box;
  }
  .forWorldDescr1 .eachDescrs h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .forWorldDescr1 .eachDescrs i {
    display: flex;
  }
  .forWorldDescr1 .eachDescrs i img {
    width: 19px;
    height: 1px;
  }
  .forWorldDescr1 .eachDescrs p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
    font-weight: 100;
  }
  .forWorldDescr1 .eachDescr .logo1,
  .forWorldDescr1 .eachDescr .logo2 {
    position: absolute;
    /* display: flex; */
    /* z-index: 999; */
  }
  .forWorldDescr1 .eachDescr .logo1 {
    left: 50%;
    margin-left: -50px;
    top: 10px;
  }
  .forWorldDescr1 .eachDescr .logo2 {
    left: 50%;
    margin-left: -30px;
    top: 18px;
    z-index: 11;
  }

  .forWorldDescr1 .eachDescr .logo1 img {
    width: 70px;
    height: 60px;
  }
  .forWorldDescr1 .eachDescr .logo2 img {
    width: 62px;
    height: 52px;
  }

  .forWorldDescr1 .eachDescr:nth-child(1) .logo1 img {
    width: 70px;
    height: 54px;
  }
  .whitePaper .bg {
    width: 264px;
    right: -100px;
  }
  .whitePaper .content {
    width: 300px;
    margin-left: 17%;
  }
  .whitePaper .content .hLogo img {
    width: 197px;
    height: 197px;
  }
  .whitePaper .content .hLogo {
    margin-left: -100px;
    margin-top: -20px;
  }
  .whitePaper .content .con {
    margin-top: 60px;
    margin-left: 0;
    position: relative;
    z-index: 99;
  }
  .whitePaper .content .con h3 {
    font-size: 14px;
    line-height: 14px;
  }
  .whitePaper .content .con p {
    font-size: 12px;
    line-height: 12px;
  }
  .whitePaper .content .con p i img {
    width: 17px;
    height: 17px;
    margin-left: 3px;
  }
  .deepIntroduce .head {
    width: 310px;
  }
  .deepIntroduce .head .bg .img_left,
  .deepIntroduce .head .bg .img_right {
    width: 110px;
    height: 14px;
  }
  .deepIntroduce .head .bg .img_left {
    left: -10px;
  }
  .deepIntroduce .head .bg .img_right {
    right: -10px;
  }
  .deepIntroduce .head p {
    left: 50%;
    margin-left: -50px;
    top: -2px;
    font-size: 14px;
  }
  .deepIntroduce > .association .bg {
    left: -90px;
  }
  .deepIntroduce > .association .bg img {
    width: 264px;
    height: 181px;
  }
  .deepIntroduce > .association .content .con {
    margin-left: -30px;
    margin-top: 50px;
  }
  .deepIntroduce > .association .content .con h3 {
    font-size: 14px;
  }
  .deepIntroduce > .association .content .con span {
    width: 122px;
    font-size: 10px;
  }
  .deepIntroduce > .association .content .hLogo {
    margin-left: -5px;
    margin-top: -40px;
  }
  .deepIntroduce > .association .content .hLogo img {
    width: 198px;
    height: 202px;
  }
  .deepIntroduce > .whitePaper .content .hLogo {
    margin-top: -50px;
    /* margin-left: -10px; */
  }
  .deepIntroduce > .whitePaper .content .hLogo img {
    width: 198px;
    height: 215px;
  }
  .deepIntroduce > .association .content .con p {
    font-size: 12px;
    line-height: 12px;
  }
  .deepIntroduce > .association .content .con p i img {
    width: 17px;
    height: 17px;
  }
  .association {
    margin-bottom: 50px;
  }
  .deepIntroduce > .content {
    display: none;
  }
  .deepIntroduce > .content1 {
    width: 100%;
    display: flex;
    /* margin: 0 auto; */
    margin-top: 0.94rem;
    overflow-x: auto;
  }
  .deepIntroduce > .content1 .deepDescr1 {
    width: 330px;
    height: 518px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-left: 10px;
    background: linear-gradient(
      210deg,
      rgba(75, 25, 159, 0.31) 0%,
      rgba(216, 89, 232, 1) 100%
    );
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-image: url("../../img/Rectangle复制\ 3@2x.png");
    background-size: 330px 518px;
    border-radius: 20px;
  }

  .deepIntroduce > .content1 .deepDescr1 h3 {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin: 10px 0;
    /* margin-top: 0.40rem; */
    /* margin-left: 1rem; */
    /* margin-bottom: 80rem; */
  }
  .deepIntroduce > .content1 .deepDescr1 h3 i img {
    width: 47px;
    height: 40px;
    margin-right: 8px;
  }
  .deepIntroduce > .content1 .deepDescr1 h4 {
    font-size: 12px;
    color: rgba(228, 213, 238, 1);
    line-height: 20px;
  }

  .deepIntroduce > .content1 .deepDescr1 p {
    font-size: 12px;
    color: rgba(228, 213, 238, 1);
    line-height: 20px;
  }
  .vision .headIntroduce {
    width: 150px;
    /* margin: 0 auto;
    justify-content: center; */
  }
  footer h2 {
    margin: 20px 0 10px 25px;
    font-size: 10px;
  }
  footer > div {
    margin-left: 17px;
  }
  footer > div i img {
    width: 10px;
    height: 8px;
    margin-top: 2px;
  }
  footer > div label {
    font-size: 12px;
  }
  footer > p {
    font-size: 8px;
    margin: 20px 0;
    /* margin-bottom: 30px !important; */
  }
}
@media (max-width: 415px) {
  .forWorldDescr1 {
    width: 410px;
  }
}
@media (max-width: 376px) {
  .whitePaper .content {
    margin-left: 10%;
  }
  .whitePaper .content .hLogo {
    margin-left: -80px;
    margin-top: -30px;
  }
  .whitePaper .content .con {
    margin-top: 55px;
    margin-left: 0;
  }
  .deepIntroduce > .association .content .con {
    margin-left: -30px;
    margin-top: 50px;
  }
  .deepIntroduce > .association .content .hLogo {
    margin-left: -20px;
    margin-top: -40px;
  }
}
@media (max-width: 321px) {
  .vision .headIntroduce {
    width: 170px;
  }
  .vision .headIntroduce .icon {
    left: -10px;
  }
  .forWorld .head {
    width: 320px;
  }
  .forWorld .head .bg .img_left,
  .forWorld .head .bg .img_right {
    width: 75px;
  }
  .forWorld > p {
    width: 320px;
  }
  .whitePaper .bg {
    right: -115px;
  }
  .whitePaper .content .hLogo {
    margin-left: -100px;
  }
  .whitePaper .content .con {
    margin-left: -20px;
  }
  .deepIntroduce > .content1 .deepDescr1 {
    width: 310px;
  }
  .association {
    margin-top: 50px;
  }
  footer > p {
    margin-top: 5px !important;
  }
}
