* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}
@font-face {
  font-family: "Aileron-Thin";
  src: url("../../font/Aileron-Thin-13.ttf");
}
.wrap {
  width: 100%;
  height: auto;
}

.medias {
  width: 100%;
  /* background: rgba(44, 9, 108, 1); */
  overflow: hidden;
}

header {
  width: 100%;
  height: 8.42rem;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 99;
}

.header .head {
  width: 12rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo a {
  display: flex;
}
.logo img {
  margin-bottom: 0.12rem;
  width: 1.63rem;
  height: 0.43rem;
}

.navList {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  margin-left: 0.7rem;
  margin-right: 1rem;
}

.navList li {
  font-size: 0.16rem;
  font-weight: 400;
  color: #382F44;
  /* margin-top: 0.1rem; */
  margin-left: 0.4rem;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.navList li i{
  display: none;
}
.navList li i img{
  width: 100%;
  height: 100%;
}
.navList li:hover{
  color: #4A189F;
}
.navList li:hover i{
  display: block;
  width: 20px;
  height: 2px;
  color: #4A189F;
  position: absolute;
  left: 0;
  top: 8px;
}
.navList li.active {
  color: #4A189F;
}
.navList li i.activeI {
  display: block;
  width: 20px;
  height: 2px;
  color: #4A189F;
  position: absolute;
  left: 0;
  top: 8px;
}

.onPageNav {
  display: block;
  margin-bottom: 10px;
  position: sticky;
  height: 100%;
  width: 2rem;
  /* flex: 0 0 240px; */
  /* overflow-y: auto; */
  /* max-height: calc(100vh - 90px); */
  margin-top: 2rem;
}

.onPageNav::-webkit-scrollbar {
  width: 0.07rem;
}

.onPageNav::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.onPageNav::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.onPageNav::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.onPageNav a {
  color: #717171;
  font-size: 0.22rem;
}

.onPageNav a.active {
  font-size: 0.2rem;
  font-weight: 400;
  color: #110b1b;
}

.onPageNav a:hover {
  color:#4B199F;
  font-weight: 400;
  /* color: #110b1b; */
}

.onPageNav ul {
  margin-left: 0.1rem;
  list-style: none;
}

.onPageNav ul li {
  height: 0.6rem;
  font-size: 0.19rem;
  font-weight: 400;
  color: #a09da4;
}

.onPageNav .toc-headings {
  padding: 0.1rem 0 0.02rem 0.15rem;
}

.navList li:last-child {
  position: relative;
}

.navList li:last-child .select {
  width: 145px;
  height: 116px;
  position: relative;
  position: absolute;
  top: 30px;
  left: -20px;
  /* display: none; */
}

.navList li:last-child .select .bg {
  position: absolute;
  top: 0;
}

.navList li:last-child .select > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
}

.navList li:last-child .select > div span {
  width: 100%;
  height: 50px;
  font-size: 23px;
  font-weight: 400;
  color: rgba(44, 9, 108, 1);
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
}

.navList li:last-child .select .bg img {
  width: 145px;
  height: 116px;
}

.descr {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.descr span {
  color: #382F44;
  margin-right: 0.2rem;
  cursor: pointer;
}

.descr span:nth-child(1) {
  /* width: 100px;
  height: 31px; */
  display: inline-block;
  border: 1px solid #382F44;
  border-radius: 3rem;
  line-height: 0.24rem;
  text-align: center;
  font-size: 0.17rem;
  padding: 0.05rem 0.05rem 0;
  box-sizing: border-box;
}

.descr a {
  color: #382F44;
  margin-left: 0.2rem;
  cursor: pointer;
  /* position: relative;
  top: 7rem; */
  font-size: 0.14rem;
}

.headContent {
  width: 12rem;
  flex: 1;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.headContent .headTalk {
  position: absolute;
  left: -0.35rem;
  bottom: 1.5rem;
}

.headContent .headTalk p img {
  width: 4.66rem;
  height: 0.85rem;
}
.headContent .headTalk h2 {
  width: 5.5rem;
  font-size: 0.386rem;
  font-weight: 500;
  color: rgba(56, 47, 68, 1);
  line-height: 0.42rem;
  margin-bottom: 0.4rem;
}
.headContent .headTalk p {
  width: 5.5rem;
  font-size: 0.28rem;
  font-weight: 400;
  color: rgba(56, 47, 68, 1);
  line-height: 0.4rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.headContent .headLogo img {
  width: 9.93rem;
  height: 8.49rem;
}

.headContent .headLogo {
  width: 9.93rem;
  /* height: 3.7rem; */
  position: absolute;
  right: -3.7rem;
  bottom: 0;
}

section {
  width: 100%;
  background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(240,240,247,1) 74%,rgba(234,235,244,0) 100%);
  
}

.contents{
    width: 12rem;
    height: auto;
    background:#FFFFFF;
    margin: 1rem auto;
    padding:0.5rem 0.6rem 0.6rem 0.4rem;
    box-sizing: border-box;
    margin-top: -2rem;
}
.contentTitle h2,.content h2{
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
.contentTitle h2 i,.content h2 i{
  width: 0.12rem;
  height: 0.12rem;
  display: flex;
  margin-right: 0.1rem;
}
.contentTitle h2 i img,.content h2 i img{
  width: 100%;
  height: 100%;
}
.contentTitle h2 label,.content h2 label{
  font-size:0.3rem;
  font-weight: 400;
  color:rgba(17,11,27,1);
}
.contentTitle p,.content p{
    font-size:0.25rem;
    font-weight:300;
    color:rgba(17,11,27,1);
    line-height:0.45rem;
    margin-left: 0.3rem;
}
.content p{
  color:rgba(17,11,27,.9);
}
.content h3{
  font-size:0.25rem;
  font-weight:450;
  color:rgba(17,11,27,1);
  margin-left: 0.25rem;
  margin-top: 0.3rem;
}
.content ul{
  margin:0.2rem 0 0.2rem 0.3rem;
}
.content ul li{
  font-size:0.25rem;
  font-weight:300;
  color:rgba(17,11,27,.7);
  line-height:0.5rem;
}
.contents h1{
    width: 100%;
    text-align: center;
    font-size:0.3rem;
    font-weight:500;
    color:rgba(17,11,27,1);
    margin: 0.8rem 0;
}
.content1 h2{
    margin-top: 0.7rem;
    margin-bottom: 0.6rem;
}
.content1 ul{
  margin-left: 0.25rem;
}
.content1 ul li,.content2 ul li{
  color:rgba(17, 11, 27, 0.8);
}

.content2 ul li::before{
  content:"•";
  /* color:rgba(17, 11, 27, 1); */
  font-size:0.3rem;
}
.content2 .note li::before{
  content:"";
}
footer {
  width: 100%;
  height: 4.64rem;
  background: url("../../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer h2 {
  height: 0.56rem;
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin: 1.7rem 0 0.05rem 3.62rem;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 3.09rem;
}
footer > div i {
  display: flex;
}
footer > div i img {
  margin-top: 0.04rem;
  width: 0.27rem;
  height: 0.22rem;
}
footer > div label {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 0.17rem;
}
footer > p {
  font-size: 0.15rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 1.7rem;
}
.hide_show_header_mob {
  display: none;
}
@media (max-width: 1200px) {
  .headContent .headTalk {
    /* left: -0.3rem; */
    bottom: 1.6rem;
  }
}
@media (max-width: 1000px) {
  .hide_show_header_mob {
    display: flex;
  }
  .logo img {
    width: 90px;
    height: 25px;
  }
  #dw-p1 {
    height: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head {
    width: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button {
    border: 0;
    outline: 0;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i {
    width: 1rem;
    height: 1rem;
    display: flex;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i img {
    width: 0.6rem;
    height: 0.6rem;
  }
  .phone_list {
    height: 100%;
    background-color: #4b199f;
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
  }
  .phone_list > a,
  .phone_list > span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(248, 248, 248, 1);
    line-height: 14px;
    margin-top: 47px;
  }
  .phone_list a.active {
    color: rgba(248, 248, 248, 0.6)!important;
  }
  .phone_list > span {
    width: 90px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
  }
  .phone_list > .change {
    position: absolute;
    bottom: 16px;
  }
  .phone_list > .change a {
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
    padding: 0 17px;
    box-sizing: border-box;
    color: #FFF;
  }
  .phone_list > .change a:not(.ka) {
    border-right: 1px solid #fff;
  }
  .hide_show_header_pc {
    display: none;
  }
  .default .headContent .headLogo {
    right: -5rem;
  }
  .headContent .headTalk {
    left: -2.5rem;
  }
  .headContent .headTalk h2 {
    width: 250px;
    /* left:-2rem; */
  }
  .headContent .headTalk p {
    width: 260px;
    /* left:-2rem; */
  }
  .headContent .headLogo {
    right: -3.5rem;
    bottom: -0.5rem;
  }
  .bmd-layout-drawer .close {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 24px;
    left: 12px;
    font-weight: 300;
  }
  .bmd-layout-drawer .home {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 24px;
    left: 30px;
    font-weight: 300;
  }
  .bmd-layout-drawer .close {
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 200px;
    font-weight: 300;
  }
}
@media (max-width: 750px) {
  .logo img {
    width: 70px;
    height: 18px;
  }
  .bmd-layout-header {
    height: 158px;
  }
  .onPageNav {
    display: none;
  }
  
  .headContent {
    width: 100%;
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .headContent .headTalk h2 {
    width: 209px;
    margin: 10px 0;
    font-size: 14px;
    line-height:20px;
  }
  .headContent .headTalk {
    left: 1rem;
    top:10px;
  }
  .headContent .headTalk p {
     width: 209px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
  }
  .headContent .headLogo {
    width:158px;
    height:138px;
    right: 20px;
    bottom: 10px;
  }
  .headContent .headLogo img{
    width:188px;
    height:158px;
  }
  .contents{
    width: 355px;
    padding:20px 12px;
    box-sizing: border-box;
    margin-top: -5px;
  }
.contentTitle h2 i,.content h2 i{
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.contentTitle h2 label,.content h2 label{
  font-size:16px;
}
.contentTitle p,.content p{
    font-size:14px;
    line-height:22px;
    margin-left:0;
    font-weight: 100;
}
.content h3{
  font-size:14px;
}

.content ul li{
  font-size:14px;
  line-height:22px;
  font-weight: 100;
}
.contents h1{
    font-size:16px;
}
.content1 h2{
    margin-top: 0.7rem;
    margin-bottom: 0.6rem;
}
.content1 ul{
  margin-left: 0.25rem;
}
.content1 ul li,.content2 ul li{
  color:rgba(17, 11, 27, 0.8);
}

.content2 ul li::before{
  content:"•";
  /* color:rgba(17, 11, 27, 1); */
  font-size:15px;
}
  footer h2 {
    margin: 20px 0 10px 30px;
    font-size: 10px;
  }
  footer > div {
    margin-left: 17px;
  }
  footer > div i img {
    width: 10px;
    height: 8px;
    margin-top: 2px;
  }
  footer > div label {
    font-size: 12px;
  }
  footer > p {
    font-size: 8px;
    margin: 20px 0;
    /* margin-bottom: 30px !important; */
  }
}
@media (max-width: 321px) {
  .headContent .headLogo{
    right: 0;
  }
  .contents{
    width: 310px;
    padding:20px 5px;
    box-sizing: border-box;
  }
  .contents h1{
    white-space: nowrap;
  }
  .headContent .headTalk h2{
    width: 190px;
  }
  .headContent .headTalk p{
    width: 180px;
  }
  footer > p {
    margin-top: 5px;
  }
}
