* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: "Times New Roman"; */
}
@font-face{
  font-family: 'Aileron-Thin';
  src:url('../../font/Aileron-Thin-13.ttf')
}
.wrap {
  width: 100%;
  height: auto;
}
.partner {
  width: 100%;
  background: rgba(44, 9, 108, 1);
  overflow: hidden;
}
header {
  width: 100%;
  height: 7.32rem;
  display: flex;
  flex-direction: column;
  background: url("../../img/编组 4@2x.png") no-repeat;
  background-size: 100% 100%;
}
.header {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 99;
}
.header .head {
  width: 12rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navList {
  display: flex;
}

.logo a{
  display: flex;
}
.logo img {
  width: 1.73rem;
  height:0.55rem;
}

.navList {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  margin-left: 0.70rem;
  margin-right: 1rem;
}

.navList li {
  font-size: 0.16rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 0.40rem;
  cursor: pointer;
  white-space: nowrap;
}

.navList li.active {
  color: rgba(62, 209, 246, 1);
}

.descr {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.descr span {
  color: #fff;
  margin-right: 0.2rem;
  cursor: pointer;
}

.descr span:nth-child(1) {
  /* width: 100rem;
  height: 31rem; */
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3rem;
  line-height:  0.24rem;
  text-align: center;
  font-size: 0.17rem;
  padding:  0.05rem 0.05rem 0;
  box-sizing: border-box;
}

.descr a {
  color: #fff;
  margin-left: 0.2rem;
  cursor: pointer;
  /* position: relative;
  top: 7rem; */
  font-size: 0.14rem;
}
.headContent {
  width: 12rem;
  flex: 1;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.headContent .headTalk {
  display: flex;
  /* flex-direction: column;s */
  position: absolute;
  left: 0.1rem;
  bottom:2.5rem;
}

.headContent .headTalk p {
  font-size: 0.48rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 0.15rem;
  margin-right: 0.2rem;
}
.headContent .headTalk p img{
  width: 1.11rem;
  height: 1.44rem;
}
.headContent .headTalk > div {
  margin-top: 0.10rem;
}
.headContent .headTalk p > span {
  color: rgba(82, 220, 255, 1);
}
.headContent .headLogo img {
  width: 5.72rem;
  height: 6.22rem;
}
.headContent .headLogo {
  width: 5.72rem;
  height: 6.22rem;
  position: absolute;
  right: -0.50rem;
  bottom: 0.10rem;
  display: flex;
}
.mebers .head {
  width: 11.7rem;
  height: 0.61rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2.40rem;
}
.mebers .head .bg {
  /* width: 11.8rem; */
  height: 0.61rem;
}
.mebers .head .bg img {
  /* width: 100%; */
  position: absolute;
}
.mebers .head .bg .img_left {
  width:3.31rem;
  height: 0.48rem;
  left: 0;
}
.mebers .head .bg .img_right {
  width:3.31rem;
  height: 0.48rem;
  right: 0;
}

.mebers .head p {
  position: absolute;
  left: 50%;
  margin-left: -2.45rem;
  top: 0;
  font-size: 0.40rem;
  color: rgba(248, 248, 248, 1);
  font-weight: 400;
}

.forWorldDescr {
  width: 12.00rem;
  margin: 0 auto;
  margin-top: 2.50rem;
  display: flex;
  /* justify-content: center; */
}
.forWorldDescr .eachDescr {
  width: 6rem;
  position: relative;
  margin-left: 0.25rem;
}
.forWorldDescr .eachDescrs {
  width: 6rem;
  height: 7.5rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    RGBA(158, 146, 250, 1) 100%
  );
  border-radius: 20px;
  position: relative;
  z-index: 10;
  padding: 0.79rem 0.25rem 0 0.35rem;
  box-sizing: border-box;
}
.eachDescrs h3 {
  font-size: 0.30rem;
  font-weight: 500;
  color: rgba(44, 9, 108, 1);
}
.eachDescrs i img {
  display: inline-block;
  width: 0.64rem;
  height: 0.04rem;
}
.eachDescrs p {
  font-size: 0.24rem;
  font-weight: 400;
  color: rgba(44, 9, 108, 1);
  margin-top: 0.20rem;
  line-height: 0.48rem;
}
.forWorldDescr .eachDescr .logo1,
.forWorldDescr .eachDescr .logo2,
.forWorldDescr .eachDescr .logo3 {
  position: absolute;
}
.forWorldDescr .eachDescr .logo1 {
  left: 50%;
  margin-left: -27%;
  top: -1.60rem;
}
.forWorldDescr .eachDescr .logo2 {
  left: 50%;
  margin-left: -14.5%;
  top: -1.05rem;
  z-index: 11;
}
.forWorldDescr .eachDescr .logo3 {
  left: -0.15rem;
  bottom: -0.20rem;
}

.forWorldDescr .eachDescr .logo1 img {
  width: 2.51rem;
  height: 2.25rem;
}
.forWorldDescr .eachDescr .logo2 img {
  width: 2.05rem;
  height: 1.73rem;
}
.forWorldDescr .eachDescr .logo3 img {
  width: 3.03rem;
  height: 1.80rem;
}

/* .forWorldDescr .eachDescr:nth-child(2) .logo1 img{
    width: 251rem;
    height:225rem;
    
} */
.forWorldDescr .eachDescr:nth-child(2) .logo1 {
  top: -1.50rem;
}
.forWorldDescr .eachDescr:nth-child(2) .logo2 {
  top: -1.00rem;
}
.forWorldDescr .eachDescr:nth-child(2) .logo3 {
  left: 52%;
}
.service {
  width: 13.17rem;
  height: 3.14rem;
  background: linear-gradient(
    180deg,
    RGBA(53, 13, 123, 1) 0%,
    RGBA(62, 144, 194, 1) 100%
  );
  border-radius: 20px;
  margin: 3rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.service .logo img {
  width: 3.80rem;
  height: 3.26rem;
  position: absolute;
  top: -39%;
  right: 0.30rem;
}
.service h2 {
  font-size: 0.45rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin: 0.3rem 0 0.2rem 0.4rem;
}

.service p {
  width: 10rem;
  font-size: 0.26rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  margin-left: 0.4rem;
  margin-bottom: 0.30rem;
}
.service p:nth-child(3){
  width: 9rem;
}
.publisher1{
  display: none;
}
.publisher {
  width: 12rem;
  height: 7.42rem;
  margin: 0 auto;
  /* position: relative; */
  display: flex;
  justify-content: center;
}
.publisher .center {
  width: 3.08rem;
  height: 3.08rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.09rem;
}
.publisher .center p {
  width:3.5rem;
  font-size: 0.36rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 0.50rem;
  letter-spacing: 2px;
  /* white-space: nowrap; */
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -2.2rem;
}
.publisher .center .cLogo {
  position: absolute;
}
.publisher .center .cLogo img {
  width: 3.08rem;
  height: 3.08rem;
}
.publisher .left .lLogo img,
.publisher .right .rLogo img {
  width: 4.89rem;
  height: 7.42rem;
}
.publisher .left,
.publisher .right {
  position: relative;
}
.publisher .left .lContent1 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}
.publisher .left .lContent1 > div {
  margin-top: -0.9rem;
  margin-left: 0.20rem;
}
.publisher .left .lContent1 > div img {
  width: 1.24rem;
  height: 1.02rem;
}
.publisher .left .lContent1 p {
  width: 3.64rem;
  /* height:150rem; */
  font-size: 0.20rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  line-height: 0.30rem;
  margin-top: 0.2rem;
  margin-left: -0.5rem;
}
.publisher .left .lContent2 {
  position: absolute;
  bottom: 0.20rem;
  display: flex;
  flex-direction: column;
}
.publisher .left .lContent2 > div {
  margin-left: 0.20rem;
}
.publisher .left .lContent2 > div img {
  width: 1.24rem;
  height: 1.02rem;
}
.publisher .left .lContent2 p {
  width: 3.63rem;
  /* height:150rem; */
  font-size: 0.20rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  line-height: 0.30rem;
  margin-top: 0.25rem;
  margin-left: -0.5rem;
}
.publisher .right .lContent1 {
  position: absolute;
  top: 0;
  left: 2.90rem;
  display: flex;
  flex-direction: column;
}
.publisher .right .lContent1 > div {
  margin-top: -0.50rem;
  margin-left: 0.20rem;
}
.publisher .right .lContent1 > div img {
  width: 1.05rem;
  height: 1.14rem;
}
.publisher .right .lContent1 p {
  width: 3.54rem;
  /* height:150rem; */
  font-size: 0.20rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  line-height: 0.30rem;
  margin-top: 0.25rem;
  margin-left: -1rem;
}
.publisher .right .lContent2 {
  position: absolute;
  bottom: 0.8rem;
  left: 2.90rem;
  display: flex;
  flex-direction: column;
}
.publisher .right .lContent2 > div {
  margin-left: 0.20rem;
}
.publisher .right .lContent2 > div img {
  width: 1.24rem;
  height: 1.02rem;
}
.publisher .right .lContent2 p {
  width: 3.61rem;
  /* height:150rem; */
  font-size: 0.20rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  line-height: 0.30rem;
  margin-top: 0.20rem;
  margin-left: -1.30rem;
}
.forWorldDescrs {
  width: 12rem;
  margin: 2.50rem auto;
  display: flex;
  justify-content: center;
}
.forWorldDescrs .eachDescr {
  position: relative;
  margin-left: 0.25rem;
}
.forWorldDescrs .eachDescrs {
  width: 3.80rem;
  height: 4.09rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    RGBA(158, 146, 250, 1) 100%
  );
  border-radius: 20px;
  position: relative;
  z-index: 10;
  padding: 0.88rem 0.25rem 0 0.35rem;
  box-sizing: border-box;
}
.eachDescrs h3 {
  font-size: 0.30rem;
  font-weight: 500;
  color: rgba(44, 9, 108, 1);
}
.eachDescrs i{
  display: flex;
}
.eachDescrs i img {
  width: 0.64rem;
  height: 0.04rem;
}
.eachDescrs p {
  font-size: 0.24rem;
  font-weight: 100;
  color: rgba(44, 9, 108, 1);
  margin-top: 0.20rem;
  line-height: 0.48rem;
}
.forWorldDescrs .eachDescr .logo1,
.forWorldDescrs .eachDescr .logo2,
.forWorldDescrs .eachDescr .logo3,
.forWorldDescrs .eachDescr .logo4 {
  position: absolute;
}
.forWorldDescrs .eachDescr .logo1 {
  left: 0.40rem;
  top: -1.50rem;
}
.forWorldDescrs .eachDescr .logo2 {
  left: 1.10rem;
  top: -1.05rem;
  z-index: 11;
}
.forWorldDescrs .eachDescr .logo3 {
  left: -0.12rem;
  bottom: 0.17rem;
}
.forWorldDescrs .eachDescr .logo4 {
  right: 0.10rem;
  bottom: -0.15rem;
  z-index: 11;
}
.forWorldDescrs .eachDescr .logo1 img {
  width: 2.51rem;
  height: 2.25rem;
}
.forWorldDescrs .eachDescr .logo2 img {
  width: 2.05rem;
  height: 1.73rem;
}
.forWorldDescrs .eachDescr .logo3 img {
  width: 2.03rem;
  height: 1.35rem;
}
.forWorldDescrs .eachDescr .logo4 img {
  width: 2.36rem;
  height: 1.94rem;
}

.forWorldDescrs .eachDescr:nth-child(4) .logo1 {
  top: -1.50rem;
}
footer {
  width: 100%;
  height: 4.64rem;
  background: url("../../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer h2 {
  height: 0.56rem;
  font-size: 0.22rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin: 1.34rem 0 0.05rem 3.62rem;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 3.09rem;
}
footer > div i{
  display: flex;
}
footer > div i img {
  margin-top: 0.04rem;
  width: 0.27rem;
  height: 0.22rem;
}
footer > div label {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 0.17rem;
}
footer > p {
  font-size: 0.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 1rem;
}
.hide_show_header_mob {
  display: none;
}
@media (max-width: 1000px) {
  .hide_show_header_mob {
    display: flex;
  }
  #dw-p1{
    height: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head{
    width: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button{
    border: 0;
    outline: 0;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i{
    width: 0.43rem;
    height: 0.4rem;
    display: flex;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i img{
    width: 0.43rem;
    height: 0.4rem;
  }
  .logo img{
    width: 2.1rem;
    height: 0.68rem;
  }
  .phone_list{
    height:100%;
    background-color: #4B199F;
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
  }
  .phone_list>a,.phone_list>span{
    font-size:14px;
    font-weight:400;
    color:rgba(248,248,248,1);
    line-height:14px;
    margin-top: 47px;
    cursor: pointer;
  }
  .phone_list>span{
    width: 90px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding:2px;
    box-sizing: border-box;
  }
  .phone_list>.change{
    position: absolute;
    bottom:16px;
  }
  .phone_list>.change a{
    font-size:12px;
    font-weight:400;
    line-height:11px;
    padding: 0 17px;
    box-sizing: border-box;
  }
  .phone_list>.change a:not(.ka){
    border-right:1px solid #FFF ;
  }
  .hide_show_header_pc {
    display: none;
  }
  .default .headContent .headLogo{
    right: -5px;
  }
  .default .headContent .headTalk{
    left:-2.5px ;
    bottom: 3px;
  }
  .bmd-layout-drawer .close{
    width:14px;
    height:14px;
    color: #FFF;
    position: absolute;
    top: 24px;
    left:12px;
    font-weight: 300;
  }
}
@media (max-width:750px){
  .logo img{
    width: 60px;
    height: 16px;
  }
  .headContent .headTalk p img{
     width: 30px;
     height: 39px;
  }
  .headContent .headTalk{
    left:-50px;
    bottom:2rem;
  }
  .headContent .headTalk p{
    font-size: 14px;
  }
  .headContent .headLogo{
    right:-30px;
  }
  .mebers .head,.publisher1 .head{
     width: 360px;
  }
  .mebers .head .bg .img_left, 
  .mebers .head .bg .img_right,
  .publisher1 .head .bg .img_left,
  .publisher1 .head .bg .img_right{
    width: 100px;
    height: 15px;
  }
  .mebers .head p,
  .publisher1 .head p{
    left: 50%;
    margin-left: -73px;
  }
   .publisher1 .head p{
     margin-left: -76px;
   }
  .mebers .headDescr,
  .publisher1 .headDescr {
    width: 150px;
    height: 150px;
  }
  .mebers .headDescr .bg img,
  .publisher1 .headDescr .bg img{
    width: 148px;
    height: 148px;
  }
  .mebers .headDescr h3,
  .publisher1 .headDescr h3{
    font-size: 13px;
    top: 2rem;
    margin-left: -83px;
  }
  .mebers .headDescr p,
  .publisher1 .headDescr p {
    width: 300px;
    font-size: 12px;
    top: 3.2rem;
    line-height: 20px;
    left: 50%;
    margin-left: -150px;
  }
  .forWorldDescr {
    width: auto;
    margin: 0 auto;
    margin-top: 0;
    display: flex;
    overflow-x: auto;
  }

.forWorldDescr .eachDescr {
  width:320px;
  height:550px;
  padding-top: 50px;
  position: relative;
  margin-left: 9px;
}
.forWorldDescr .eachDescr:last-child {
  margin-right: 0;
}
.forWorldDescr .eachDescrs {
  width: 227px;
  height: 450px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    RGBA(158, 146, 250, 1) 100%
  );
  border-radius: 20px;
  position: relative;
  z-index: 10;
  padding: 30px 10px 10px 10px;
  box-sizing: border-box;
  margin-top: 30px;
}
.forWorldDescr .eachDescrs h3 {
  font-size:14px;
  line-height:16px;
}
.forWorldDescr .eachDescrs i {
  display: flex;
}
.forWorldDescr .eachDescrs i img {
  display: none;
}
.forWorldDescr .eachDescrs p {
  font-size:12px;
  line-height:22px;
  margin-top: 10px;
}
.forWorldDescr .eachDescr .logo1,
.forWorldDescr .eachDescr .logo2{
  position: absolute;
}
.forWorldDescr .eachDescr .logo1 {
  left: 50%;
  margin-left:-50px;
  top:20px;
}
.forWorldDescr .eachDescr .logo2 {
  left: 50%;
  margin-left: -20px;
  top:40px;
  z-index: 11;
}

.forWorldDescr .eachDescr .logo1 img {
  width: 99px;
  height: 88px;
}
.forWorldDescr .eachDescr .logo2 img {
  width: 92px;
  height: 74px;
}
.forWorldDescr .eachDescr .logo3 img,
.forWorldDescr .eachDescr .logo4 img{
   display: none;
}
.forWorldDescr .eachDescr:nth-child(2) .logo1{
 top: 20px;
}
.forWorldDescr .eachDescr:nth-child(2) .logo1 img {
  width:94px;
  height: 88px;
}
.forWorldDescr .eachDescr:nth-child(2) .logo2 {
  top:38px;
  margin-left: -25px;
}
.service{
   width: 355px;
   height: 184px;
}
.service .logo img{
  width: 102px;
  height: 87px;
  top: -40px;
}
.service h2{
  width: 204px;
  font-size: 14px;
  margin: 13px 0;
  margin-left: 8px;
  line-height: 20px;
}
.service p{
  font-size: 12px;
  margin-left: 8px;
}
.service p:nth-child(3){
  width: auto;
}
.service p:nth-child(4){
  width: auto;
}
.service:nth-child(6){
  height: 140px;
}
.publisher{
  display: none;
}
.publisher1 {
   display: flex;
   flex-direction: column;
}
.publisher1 .head{
  margin-top: 0;
}
.issuers{
  display: flex;
  flex-wrap: wrap;
  
}
.issuers .issuersCon{
   width:44%;
   padding-bottom: 20px;
   box-sizing: border-box;
   margin: 0 10px;
   border-bottom: 1px solid rgba(212, 205, 225, .5);
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.issuers .issuersCon p{
   color: #FFF;
   font-size: 12px;
   line-height: 18px;
   margin-top: 11px;
   font-weight: 100;
}
.issuers .issuersCon:nth-child(1)>div img{
   width:36px;
   height: 30px;
}
.issuers .issuersCon:nth-child(2)>div img{
   width:36px;
   height: 30px;
}
.issuers .issuersCon:nth-child(3)>div img{
   width:36px;
   height: 39px;
}
.issuers .issuersCon:nth-child(4)>div img{
   width:40px;
   height: 35px;
}
  footer h2 {
    margin: 20px 0 10px 25px;
    font-size:10px;
  }
  footer > div{
    margin-left: 17px;
  }
  footer > div i img {
    width: 10px;
    height: 8px;
    margin-top: 2px;
  }
  footer > div label {
    font-size:12px;
  }
  footer > p {
    font-size:8px;
    /* margin: 20px 0; */
    margin-bottom: 30px!important;
  }
}
@media (max-width:321px){
  .service{
   width: 320px;
  }
  .issuers .issuersCon{
    width: 43%;
  }
  .mebers .head .bg .img_left, 
  .mebers .head .bg .img_right,
  .publisher1 .head .bg .img_left,
  .publisher1 .head .bg .img_right{
    width: 90px;
    height: 15px;
  }
  .mebers .head, .publisher1 .head {
    width: 330px;
    
  }
  .publisher1 .head {
    width: 335px;
  }
  footer > p {
    margin-top:5px!important;
  }
}