* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}
@font-face{
  font-family: 'Aileron-Thin';
  src:url('../../font/Aileron-Thin-13.ttf')
}
.wrap {
  width: 100%;
  height: auto;
}

.whitepaper {
  width: 100%;
  background: rgba(44, 9, 108, 1);
  overflow: hidden;
}

header {
  width: 100%;
  height: 6.42rem;
  display: flex;
  flex-direction: column;
  background: url("../../img/编组 4@2x.png") no-repeat;
  background-size: 100% 100%;
}

.header {
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 99;
}

.header .head {
  width: 12rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo a{
  display: flex;
}
.logo img {
  width: 1.73rem;
  height:0.55rem;
}

.navList {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  margin-left: 0.70rem;
  margin-right: 1rem;
}

.navList li {
  font-size: 0.16rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-left: 0.40rem;
  cursor: pointer;
  white-space: nowrap;
}

.navList li.active {
  color: rgba(62, 209, 246, 1);
}

.onPageNav {
  display: block;
  margin-bottom: 10px;
  position: sticky;
  height: 100%;
  width: 2rem;
  /* flex: 0 0 240px; */
  /* overflow-y: auto; */
  /* max-height: calc(100vh - 90px); */
  margin-top: 2rem;
}

.onPageNav::-webkit-scrollbar {
  width: 0.07rem;
}

.onPageNav::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.onPageNav::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.onPageNav::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.onPageNav a {
  color: #717171;
  font-size: 0.22rem;
}

.onPageNav a.active {
  font-size: 0.20rem;
  font-weight: 600;
  color: #110B1B;
}

.onPageNav a:hover{
  color: #110B1B;
}

.onPageNav ul {
  margin-left: 0.1rem;
  list-style: none;
}

.onPageNav ul li {
  height: 0.60rem;
  font-size: 0.19rem;
  font-weight: 400;
  color: #A09DA4;
}

.onPageNav .toc-headings {
  padding: 0.10rem 0 0.02rem 0.15rem;
}

.navList li:last-child {
  position: relative;
}

.navList li:last-child .select {
  width: 145px;
  height: 116px;
  position: relative;
  position: absolute;
  top: 30px;
  left: -20px;
  /* display: none; */
}

.navList li:last-child .select .bg {
  position: absolute;
  top: 0;
}

.navList li:last-child .select > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
}

.navList li:last-child .select > div span {
  width: 100%;
  height: 50px;
  font-size: 23px;
  font-weight: 500;
  color: rgba(44, 9, 108, 1);
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
}

.navList li:last-child .select .bg img {
  width: 145px;
  height: 116px;
}

.descr {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.descr span {
  color: #fff;
  margin-right: 0.2rem;
  cursor: pointer;
}

.descr span:nth-child(1) {
  /* width: 100px;
  height: 31px; */
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3rem;
  line-height:  0.24rem;
  text-align: center;
  font-size: 0.17rem;
  padding:  0.05rem 0.05rem 0;
  box-sizing: border-box;
}

.descr a {
  color: #fff;
  margin-left: 0.2rem;
  cursor: pointer;
  /* position: relative;
  top: 7rem; */
  font-size: 0.14rem;
}

.headContent {
  width: 12rem;
  flex: 1;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.headContent .headTalk {
  position: absolute;
  left:0.1rem;
  bottom:1rem;
}

.headContent .headTalk p img {
  width: 4.66rem;
  height: 0.85rem;
}
.headContent .headTalk h2{
  font-size: 0.24rem;
  font-weight: 600;
  color:rgba(255,255,255,1);
  line-height: 0.32rem;
  margin-bottom: 0.2rem;
}
.headContent .headTalk p {
  width: 7.5rem;
  font-size: 0.14rem;
  font-weight: 400;
  color: rgba(249, 249, 249, 1);
  line-height: 0.28rem;
  letter-spacing: 2px;
  margin-bottom: 0.1rem;
}

.headContent .headLogo img {
  width: 4.53rem;
  height: 4.55rem;
}

.headContent .headLogo {
  width: 4.53rem;
  height: 4.55rem;
  position: absolute;
  right: 0;
  bottom: 0.2rem;
}

section {
  width: 100%;
}

.introduction {
  width: 12.70rem;
  height: 172rem;
  margin: 1.19rem auto;
  position: relative;
}

.introduction > .bg img {
  width: 12.70rem;
  height: 172.60rem;
}

.introductionContent {
  width: 12rem;
  height: 172rem;
  background: #fff;
  position: absolute;
  top: 0.28rem;
  left: 50%;
  margin-left: -6rem;
  display: flex;
}

.introduction0 {
  flex: 1;
}

.introduction1 {
  /* width: 80%; */
  height: 18rem;
  position: relative;
  /* right:0; */
  overflow: hidden;
}

.introduction2 {
  height: 20rem;
}

.introduction3 {
  height: 36.50rem;
}

.introduction4 {
  height: 27rem;
}

.introduction5 {
  height: 20.80rem;
}

.introduction6 {
  height: 15.50rem;
}

.introduction7 {
  height: 12.70rem;
}

.introduction8 {
  height: 9.50rem;
}

.introduction9 {
  height: 12rem;
}

.introduction1 > .bg {
  /* width: 1200px; */
  /* height: 440px; */
}

.introduction1 > .bg img {
  width: 10.01rem;
  height: 4.40rem;
}

.introduction1Descr {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
}

.introduction1Descr .descrLeft {
  width: 1.80rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.30rem;
  margin-left: 0px;
}

.introduction1Descr .descrLeft a {
  height: 0.80rem;
  font-size: 0.20rem;
  font-weight: 400;
  color: rgba(44, 9, 108, 0.5);
}

.introduction1Descr .descrLeft a.active {
  font-weight: 500;
  color: rgba(44, 9, 108, 1);
}

.introduction1Descr .descrRight {
  display: block;
  /* flex: 1; */
  /* flex-direction: row; */
  /* width: 800px; */
  /* height: 2072px; */
  /* margin-top: 0.50rem; */
  padding: 0 0.20rem;
  box-sizing: border-box;
  /* margin-left: 80px; */
  right: 0px;
}

.introduction1Descr .descrRight .intro > div img {
  width: 8.60rem;
  height: 8.84rem;
}

.introduction1Descr .descrRight .intro > div p {
  margin-bottom: 0.20rem;
  line-height: 0.55rem;
}

.introduction1Descr .descrRight h4 {
  font-size: 0.20rem;
  font-weight: 400;
  color: #110B1B;
}

.introduction1Descr .descrRight h2 {
  font-size: 0.40rem;
  font-weight: 600;
  color: #110B1B;
  margin-top: 0.20rem;
  margin-bottom: 0.40rem;
  border-bottom: 0.07rem solid;
  border-block-color: #b147d3;
  line-height: 0.90rem;
  white-space: nowrap;
  width: 0.23rem;
}

.introduction1Descr .descrRight h3 {
  font-size: 0.35rem;
  font-weight: 400;
  color: #110B1B;
  margin-bottom: 0.25rem;
}

.introduction1Descr .descrRight p {
  font-size: 0.25rem;
  font-weight: 400;
  color: #413C49;
  line-height: 0.60rem;
  margin-bottom: 0.40rem;
}

.introduction1Descr .descrRight p > span,
.introduction1Descr .descrRight .state > span {
  font-size: 0.25rem;
  font-weight: 600;
  color: #110B1B;
}

.introduction1Descr .descrRight .state {
  display: flex;
  flex-direction: column;
}

.introduction1Descr .descrRight .state > span {
  margin-top: 0.20rem;
  margin-bottom: 0.20rem;
}

.introduction1Descr .descrRight .state > div p {
  line-height: 0.50rem;
  margin-bottom: 0.20rem;
}

.introduction1Descr .descrRight ul li {
  font-size: 0.25rem;
  font-weight: 400;
  color: #413C49;
  margin-top: 0.30rem;
  margin-left: 0.30rem;
}

.introduction6 .descrRight p {
  margin-bottom: 0.10rem;
}

.introduction6 .descrRight .state {
  margin-bottom: 0.10rem;
}

footer {
  width: 100%;
  height: 4.64rem;
  background: url("../../img/编组 44@3x.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer h2 {
  height: 0.56rem;
  font-size: 0.22rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin: 1.34rem 0 0.05rem 3.62rem;
}
footer > div {
  display: flex;
  align-items: center;
  margin-left: 3.09rem;
}
footer > div i{
  display: flex;
}
footer > div i img {
  margin-top: 0.04rem;
  width: 0.27rem;
  height: 0.22rem;
}
footer > div label {
  font-size: 0.22rem;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  margin-left: 0.17rem;
}
footer > p {
  font-size: 0.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 1rem;
}
.hide_show_header_mob {
  display: none;
}
@media (max-width: 1200px) {
.headContent .headTalk{
  left: -0.3rem;
  top:0.3rem;
}
}
@media (max-width: 1000px) {
  .hide_show_header_mob {
    display: flex;
  }
  #dw-p1{
    height: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head{
    width: 100%;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button{
    border: 0;
    outline: 0;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i{
    width: 0.43rem;
    height: 0.4rem;
    display: flex;
  }
  .hide_show_header_mob .bmd-layout-header .phone_head button i img{
    width: 0.43rem;
    height: 0.4rem;
  }
  .logo img{
    width: 2.1rem;
    height: 0.68rem;
  }
  .phone_list{
    height:100%;
    background-color: #4B199F;
    color: #fff;
    padding-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
  }
  .phone_list>a,.phone_list>span{
    font-size:14px;
    font-weight:400;
    color:rgba(248,248,248,1);
    line-height:14px;
    margin-top: 47px;
  }
  .phone_list>span{
    width: 90px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding:2px;
    box-sizing: border-box;
  }
  .phone_list>.change{
    position: absolute;
    bottom:16px;
  }
  .phone_list>.change a{
    font-size:12px;
    font-weight:400;
    line-height:11px;
    padding: 0 17px;
    box-sizing: border-box;
  }
  .phone_list>.change a:not(.ka){
    border-right:1px solid #FFF ;
  }
  .hide_show_header_pc {
    display: none;
  }
  .default .headContent .headLogo{
    right: -5rem;
  }
 .headContent .headTalk{
    left:-2.5rem;
  }
  .headContent .headTalk p{
   width: 500px;
    /* left:-2rem; */
  }
  .headContent .headLogo{
    right: -2.5rem;
  }
  .bmd-layout-drawer .close{
    width:14px;
    height:14px;
    color: #FFF;
    position: absolute;
    top: 24px;
    left:12px;
    font-weight: 300;
  }
}
@media(max-width:750px){
  .logo img{
    width: 60px;
    height: 16px;
  }
  .bmd-layout-header{
    height: 340px;
  }
  .onPageNav{
    display: none;
  }
  .introduction{
    width:98%;
  }
  .introduction .bg{
    position: relative;
    top: -10px;
    height:7980px; /* white! */
  }
  .introduction .bg img{
    width:100%;
    height:100%;
  }
  .introductionContent {
    height:7950px; /* white! */
    width:90%;
    left:5%;
    margin:0 auto;
  }
  .introduction1Descr .descrRight h4{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
  }
  .introduction1Descr .descrRight h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
  .introduction1Descr .descrRight h3{
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  .introduction1Descr .descrRight p{
    font-size:14px;
    font-weight: 400;
    line-height:22px;
  }
  .introduction{
    height:8000px; /* white! */
  }
  .introduction1{
    height:800px;
  }
  .introduction2{
    height:900px;
  }
  .introduction3{
    height:1750px;
  }
  .introduction4{
    height:1200px;
  }
  .introduction5{
    height:1000px;
  }
  .introduction6{
    height: 700px;;
  }
  .introduction7{
    height: 600px;;
  }
  .introduction8{
    height: 400px;;
  }
  .introduction9{
    height: 600px;;
  }
  .headContent{
    width: 350px;
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .headContent .headTalk h2{
    margin: 10px 0;
    font-size: 16px;;
  }
  .headContent .headTalk{
    width: 350px;
    left: 0;
    bottom: 0;
    top:0;
  }
  .headContent .headTalk p{
    width: 350px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  .headContent .headLogo img{
    display: none;
  }
  footer h2 {
    margin: 20px 0 10px 25px;
    font-size:10px;
  }
  footer > div{
    margin-left: 17px;
  }
  footer > div i img {
    width: 10px;
    height: 8px;
    margin-top: 2px;
  }
  footer > div label {
    font-size:12px;
  }
  footer > p {
    font-size:8px;
    /* margin: 20px 0; */
    margin-bottom: 30px!important;
  }
}
@media(max-width:321px){
  .headContent{
    width: 300px;
  }
  .headContent .headTalk p{
    width: 300px;
  }
}
